@import "variables";

.message {
  border-radius: 10px;
  padding: 16px 24px;
  border: 0px solid transparent;
  background-color: #FFF4EC;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  .warning-icon {
    font-size: 20px;
    margin-right: 15px;
    color: @yellow55-color
  }
}
