<div class="standard-div">
  <form nz-form [formGroup]="profileForm" class="" [nzLayout]="'vertical'" (ngSubmit)="updateProfile()">
    <nz-form-item>
      <label for="email">邮箱</label>
      <nz-form-control nzErrorTip="请输入邮箱！">
        <nz-input-group [nzPrefix]="emailPrefix">
          <input id="email" type="text" nz-input formControlName="email" placeholder="邮箱"/>
        </nz-input-group>
        <ng-template #emailPrefix>
          <i nz-icon nzType="icons:icon-email"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <label for="phoneNumber">手机号</label>
      <nz-form-control nzErrorTip="请输入手机号！">
        <nz-input-group [nzPrefix]="phonePrefix">
          <input id="phoneNumber" type="text" nz-input formControlName="phoneNumber" placeholder="手机号"/>
        </nz-input-group>
        <ng-template #phonePrefix>
          <i nz-icon nzType="icons:icon-phone"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <button class="submit-btn" nz-button [nzType]="'primary'" [nzLoading]="isLoading">
      <i nz-icon nzType="icons:icon-sync"></i>
      提交更新
    </button>
  </form>
</div>
