<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input nz-input type="text" placeholder="按名字查找" [(ngModel)]="searchText" (ngModelChange)="onSearch()">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
    </div>

    <div class="table-wrapper">
      <nz-table #basicTable
                nzSize="small"
                nzFrontPagination
                nzShowPagination
                nzShowSizeChanger
                [nzPageSizeOptions]="[10, 20, 30]"
                [nzData]="switchLists"
                [nzLoading]="isLoading">
        <thead>
        <tr class="table-th-style">
          <th>名称</th>
          <th>状态</th>
          <th>最近修改</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let theSwitch of basicTable.data" class="table-tr-pointer">
          <td style="cursor: pointer" (click)="navigateToDetail(theSwitch)">
            <span nz-tooltip="点击进入详情页">{{theSwitch.name}}</span>
          </td>
          <td>
            <nz-switch [ngModel]="theSwitch.status !== 'Disabled'" nzDisabled [nzControl]="true" [nzLoading]="switchLoading"></nz-switch>
          </td>
          <td>{{getLocalDate(theSwitch.lastUpdatedTime) | date: 'YYYY-MM-dd HH:mm:ss'}}</td>
          <td>
            <a style="color: #23AD7F" (click)="onUnArchive(theSwitch)">复位</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a style="color: #717D8A" nz-popconfirm="确定删除该开关么？删除后数据不可恢复。" (nzOnConfirm)="deleteFlag(theSwitch)">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>
