.rsc-config-modal {
  .edit-area {
    margin-top: 16px;

    .rn {
      margin-bottom: 16px;
      .label {
        margin-bottom: 10px;
      }
    }

    .config {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .input-wraper {
        display: flex;
        align-items: center;
        .label {
          width: 100px;
        }
        input {
          width: 340px;
        }
      }
    }
  }

  input.invalid {
    border: 1px solid #F00 !important;

    &:hover, &:focus {
      box-shadow: 0 0 0 2px rgb(255 0 0 / 20%);
    }
  }
}
