<nz-modal [(nzVisible)]="visible"
          [nzTitle]="modalTitle"
          [nzCentered]="true"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter" (nzOnCancel)="close()">
  <ng-template #modalTitle><ng-container i18n="@@iam.policies.details.set-resource-name">Set resource name (RN)</ng-container></ng-template>
  <ng-template #modalContent>
    <div class="rsc-config-modal">
      <div>
        <ng-container i18n="@@iam.policies.details.resource-name-description">Resource name (RN) uniquely identify resources. Every data can be seen as a resource, Project, Environment and Feature flag for example.</ng-container>
        <div style="display: inline-block;font-weight: 600;" i18n="@@iam.policies.details.legal-resource-name">Legal resource name (RN) cannot include {{'{'}} {{'}'}} and :</div>
      </div>

      <div class="edit-area">
        <div class="rn">
          <div class="label" i18n="@@common.resource-name">Resource name (RN)</div>
          <input style="color: rgba(0, 0, 0, 0.85)" nz-input [(ngModel)]="model.val" disabled="true"/>
        </div>
        @for (param of rscParams; track param.type) {
          <div class="config">
            <div class="input-wraper">
              <div class="label">{{param.placeholder.displayName}}</div>
              <input nz-input [(ngModel)]="param.val" (ngModelChange)="vmValChanged()" [class]="{invalid: param.isInvalid}"/>
            </div>
            @if(param.isAnyChecked !== undefined) {
              <label
                nz-checkbox
                [(ngModel)]="param.isAnyChecked"
                (ngModelChange)="isValAnyCheckedChanged(param)">
                <span i18n="@@common.any">Any</span>
              </label>
            }
          </div>
        }
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="close()" i18n="@@common.cancel">Cancel</button>
    <button nz-button nzType="primary" [disabled]="false" (click)="save()" i18n="@@common.save">Save</button>
  </ng-template>
</nz-modal>
