<div class="body-container">
  <nz-tabset nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']">
        机构
      </a>
      <ng-template nz-tab>
        <app-account></app-account>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./team']">
        团队
      </a>
      <ng-template nz-tab>
        <app-team></app-team>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./projects']">
        项目
      </a>
      <ng-template nz-tab>
        <app-project></app-project>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./profile']">
        个人信息
      </a>
      <ng-template nz-tab>
        <app-profile></app-profile>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./auth-security']">
        身份安全
      </a>
      <ng-template nz-tab>
        <app-auth-security></app-auth-security>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
