<div class="form-content" style="overflow-y: auto;">
  <div>
    <nz-steps [nzCurrent]="currentStep">
      <nz-step nzTitle="创建组织机构与项目"></nz-step>
      <nz-step nzTitle="创建第一个功能开关"></nz-step>
    </nz-steps>
  </div>

  <div id="steps">
    <div class="step step1" *ngIf="currentStep === 0">
      <form [formGroup]="step0Form">
        <div class="info-item">
          <p nz-typography>组织机构名称</p>
          <input nz-input placeholder="E.g. 心跳率科技" formControlName="organizationName" />
        </div>
        <div class="info-item">
          <p nz-typography>项目名称</p>
          <input nz-input placeholder="E.g. 官网" formControlName="projectName" />
        </div>
      </form>
    </div>

    <div class="step step2" *ngIf="currentStep === 1">
      <p nz-typography style="font-size:18px;">创建第一个开关</p>
      <!-- <h4 nz-typography style="text-align: center;margin-bottom: 20px">创建第一个开关</h4> -->
      <form [formGroup]="step1Form">
        <div class="info-item">
          <div class="label">名称</div>
          <input nz-input placeholder="开关名称" formControlName="flagName" />
        </div>
        <div class="info-item">
          <div class="label">Key</div>
          <input nz-input placeholder="由名称自动生成" [value]="step1Form.get('flagName').value | switchKeyName"
            formControlName="flagKey" style="margin-bottom: 10px;" />
        </div>
        <nz-divider></nz-divider>
        <div class="variations">
          <p>
            开关返回值&nbsp;&nbsp;<i nz-icon nzType="info-circle" nzTheme="outline"
              nz-tooltip="默认返回值包含 true 和 false，可以在开关页进行修改"></i>
          </p>
          <ul>
            <li>
              <div class="variation-tip tip-0"></div>
              <span>true</span>&nbsp;(0%)
            </li>
            <li>
              <div class="variation-tip tip-1"></div>
              <span>false</span>(100%)
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>

  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="currentStep > 0" style="margin-right:20px;">
      <span>上一步</span>
    </button>
    <button nz-button nzType="primary" [disabled]="!step0Form.valid" (click)="next()" *ngIf="currentStep < 1">
      <span>下一步</span>
    </button>
    <button nz-button nzType="primary" [disabled]="!step1Form.valid" (click)="done()" *ngIf="currentStep === 1">
      <span>完成</span>
    </button>
  </div>
</div>