@import "variables";

.change-list {
  border-left: 2px solid @grey40-color;
  padding: 0 12px;

  .change {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
}
