<nz-collapse [nzBordered]="false">
  <nz-collapse-panel *ngFor="let category of categories; let index=index" [nzHeader]="category.label" [nzActive]="index === 0">
    <ul class="instructions" *ngIf="category.instructions">
      <li class="instruction-item" *ngFor="let instruction of category.instructions">
        <instruction [instruction]="instruction"></instruction>
      </li>
    </ul>
    <div *ngIf="category.groups">
      <div *ngFor="let group of category.groups">
        <div class="group-title" [innerHTML]="group.label"></div>
        <ul class="group-instructions">
          <li class="instruction-item" *ngFor="let instruction of group.instructions">
            <instruction [instruction]="instruction"></instruction>
          </li>
        </ul>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
