<nz-collapse [nzBordered]="false">
  @for (category of categories; track $index; let index = $index) {
    <nz-collapse-panel [nzHeader]="category.label" [nzActive]="index === 0">
      @if (category.instructions) {
        <ul class="instructions">
          @for (instruction of category.instructions; track instruction) {
            <li class="instruction-item">
              <instruction [instruction]="instruction"></instruction>
            </li>
          }
        </ul>
      }
      @if (category.groups) {
        <div>
          @for (group of category.groups; track $index) {
            <div>
              <div class="group-title" [innerHTML]="group.label"></div>
              <ul class="group-instructions">
                @for (instruction of group.instructions; track instruction.value) {
                  <li class="instruction-item">
                    <instruction [instruction]="instruction"></instruction>
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      }
    </nz-collapse-panel>
  }
</nz-collapse>
