@import "src/app/features/safe/safe.component";

.get-started {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 450px;

  .main-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 24px;
  }

  .guide {
    padding-left: 24px;
  }
}
