<div class="standard-div">
  <permission-check [rn]="generalResourceRNPattern.project" [action]="permissionActions.ListProjects" i18n-messageIfDeny="@@org.project.projectListPermissionDenied" [messageIfDeny]="'You don\'t have permissions to read project list, please contact the admin to grant you the necessary permissions'">
    <div class="project-operations">
      <nz-input-group [nzPrefix]="orgIcon">
        <input type="text" nz-input placeholder="Filter by name" [(ngModel)]="searchValue" i18n-placeholder="@@org.project.projectFilterPlacehoder"/>
        <ng-template #orgIcon>
          <i nz-icon nzType="icons:icon-search"></i>
        </ng-template>
      </nz-input-group>
      <button class="standard-btn" nz-button nzType="primary" permission-check [rn]="generalResourceRNPattern.project" [action]="permissionActions.CreateProject" (actionIfAllow)="onCreateProjectClick()">
        <i nz-icon nzType="icons:icon-add"></i>
        <ng-container i18n="@@common.add">Add</ng-container>
      </button>
    </div>
    <div class="project-list">
      <div *ngFor="let project of projects | projectFilter: searchValue" class="project">
        <nz-card nzBorderless>
          <nz-descriptions nzTitle="{{project.name}}" [nzExtra]="extraTemplate"></nz-descriptions>
          <permission-check [rn]="permissionsService.getResourceRN('project', project)" [action]="permissionActions.ListEnvs" i18n-messageIfDeny="@@org.project.envListPermissionDenied" [messageIfDeny]="'You don\'t have permissions to read env list, please contact the admin to grant you the necessary permissions'">
            <div class="env-list">
              <div *ngFor="let env of project.environments">
                <div class="env">
                  <div class="env-basis">
                    <div>
                      <div class="desc-name" i18n="@@org.project.envName">Environment name</div>
                      <div class="desc-content">{{env.name}}</div>
                    </div>
                    <div>
                      <div class="desc-name" i18n="@@org.project.description">Description</div>
                      <div class="desc-content">{{env.description}}</div>
                    </div>
                  </div>
                  <div class="env-secret">
                    <div>
                      <div class="desc-name">
                        <span i18n="@@org.project.secrets">Secrets</span>
                        <i *ngIf="env.secrets.length < 2" class="edit-save" (click)="onCreateSecret()" nz-icon nzType="icons:icon-add-outline"></i>
                      </div>
                      <div class="desc-content">
                        <div *ngFor="let secret of env.secrets" class="secret">
                          <span>{{secret.name}}</span>
                          <span class="secret-value" nz-tooltip nzTooltipTitle="Click to copy" i18n-nzTooltipTitle="@@common.click-to-copy" nzTooltipPlacement="top" (click)="copyText(secret.value)">{{secret.value}}</span>
                          <span>{{secret.type}}</span>
                          <span>
                            <button nz-button nzSize="default" nzType="link" (click)="onEditSecret(secret)">
                              <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                            <button nz-button nzSize="default" nzType="link" (click)="removeSecret(secret)">
                              <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="env-operations">
                    <a permission-check [rn]="getEnvRN(project, env)" [action]="permissionActions.UpdateEnvInfo" (actionIfAllow)="onEditEnvClick(project, env)">
                      <span style="color: #23AD7F;" i18n="@@org.project.edit">Edit</span>
                    </a>
                    <ng-container *ngIf="isEnvDeleteBtnVisible(env)">
                      <nz-divider nzType="vertical"></nz-divider>
                      <a i18n-nz-popconfirm="@@common.remove-confirm" nz-popconfirm="This operation cannot be reverted, are you sure to remove it?"
                         nzPopconfirmPlacement="bottomRight"
                         (nzOnConfirm)="onDeleteEnvClick(project, env)" [nzIcon]="iconTplEnv">
                        <span style="color: #717D8A" i18n="@@common.remove">Remove</span>
                      </a>
                    </ng-container>
                    <ng-template #iconTplEnv>
                      <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </permission-check>
        </nz-card>
        <ng-template #extraTemplate>
          <button class="action-btn" nz-button nzType="default" nzSize="small" permission-check [rn]="permissionsService.getResourceRN('project', project)" [action]="permissionActions.UpdateProjectInfo" (actionIfAllow)="onEditProjectClick(project)">
            <i nz-icon nzType="icons:icon-edit"></i>
            <ng-container i18n="@@org.project.edit">Edit</ng-container>
          </button>
          <button class="action-btn" nz-button nzType="default" nzSize="small"
                  *ngIf="currentProjectEnv?.projectId !== project.id"
                  i18n-nz-popconfirm="@@common.remove-confirm"
                  nz-popconfirm="This operation cannot be reverted, are you sure to remove it?"
                  nzPopconfirmPlacement="bottomRight"
                  (nzOnConfirm)="onDeleteProjectClick(project)">
            <i nz-icon nzType="icons:icon-delete"></i>
            <ng-container i18n="@@common.remove">Remove</ng-container>
          </button>
          <button class="action-btn" nz-button nzType="default" nzSize="small"
                  permission-check [rn]="permissionsService.getResourceRN('project', project)" [action]="permissionActions.CreateEnv" (actionIfAllow)="onCreateEnvClick(project)"
                  >
            <i style="color: #3CC798" nz-icon nzType="icons:icon-plus"></i>
            <ng-container i18n="@@org.project.addEnv">Add environment</ng-container>
          </button>
        </ng-template>
      </div>
    </div>
  </permission-check>
</div>
<nz-modal
  [(nzVisible)]="isSecretModalVisible"
  [nzTitle]="secretModalTitle"
  (nzOnCancel)="secrectModalCancel()"
  (nzOnOk)="upsertSecret()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="secretForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback i18n-nzErrorTip="@@common.name-cannot-be-empty" nzErrorTip="Name cannot be empty">
          <input
            nz-input
            formControlName="name"
            placeholder="The name of the secret"
            i18n-placeholder="@@org.project.secret-name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzRequired
          i18n="@@org.project.secret-type"
          i18n-nzTooltipTitle="@@org.project.type-description"
          nzTooltipTitle="The secret would be used by a client side or server side SDK">
          Type
        </nz-form-label>
        <nz-form-control nzHasFeedback i18n-nzValidatingTip="@@common.validating" nzValidatingTip="Validating..." [nzErrorTip]="keyErrorTpl">
          <nz-select formControlName="type">
            <nz-option nzValue="client-side" i18n-nzLabel="@@org.project.client-side" nzLabel="Client side"></nz-option>
            <nz-option nzValue="server-side" i18n-nzLabel="@@org.project.server-side" nzLabel="Server side"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<app-project-drawer [visible]="creatEditProjectFormVisible" [currentOrganizationId]="currentOrganizationId" (close)="projectClosed($event)" [project]="project"></app-project-drawer>
<app-env-drawer [visible]="creatEditEnvFormVisible" [rn]="getEnvRN(project, env)" (close)="envClosed($event)" [env]="env"></app-env-drawer>
