@import "variables";

.project-operations {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nz-input-group {
    width: 520px;
    border-radius: 32px;
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100% - 32px);
  margin-top: 24px;

  .project {
    .ant-tag {
      font-size: 12px;
      border-radius: 8px;
      white-space: nowrap;
      padding: 2px 8px;
    }

    nz-card {
      border-radius: 20px;
    }

    .action-btn {
      height: 32px;
      padding: 0 16px;
      background: white;
      border: 1px solid @grey20-color;
      border-radius: 33px;
      color: @grey50-color;
      font-size: 14px;

      i {
        vertical-align: middle;
        font-size: 20px;
      }

      &:hover {
        color: @primary-color;
      }
    }

    .env-list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .env {
        display: flex;
        flex-direction: row;
        padding: 16px 24px;
        background: @grey5-color;
        border-radius: 10px;

        .env-basis {
          width: 230px;
        }

        .desc-name {
          display: flex;
          justify-content: flex-start;
          gap: 8px;
          align-items: center;
          margin-bottom: 8px;
          font-size: 16px;
          color: @grey70-color;

          i {
            cursor: pointer;
          }
        }

        .desc-content {
          color: @grey50-color;
          margin-bottom: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .env-secret {
          .secret {
            display: flex;
            align-content: flex-start;
            align-items: center;
            gap: 4px;
            margin-bottom: 8px;

            .secret-name {
              max-width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .secret-value {
              cursor: pointer;
              background-color: white;
              padding: 2px 8px;
              border-radius: 8px;

              &:hover {
                background-color: @grey60-color;
                color: @white;
              }
            }
          }
        }

        .env-operations {
          font-size: 14px;
          line-height: 150%;
          min-width: 133px;
          align-self: center;
          display: flex;
          justify-content: flex-end;
          margin-left: auto;

          nz-divider {
            top: 4px;
          }

          .copy-id {
            display: flex;
            gap: 4px;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
    }
  }
}
