<section class="body-container">
  <ng-template #loadingTem>
    <div class="block">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-template>

  <div class="block standard-div" *ngIf="!isLoading; else loadingTem;">
    <div class="item title">
      <div class="label">成员名</div>
      <div class="label">
        <ng-container *ngIf="!isEditingTitle">
          <div class="value" style="font-size:13px;">{{member.name ?? '--'}}</div>
          <i class="edit-save" nz-tooltip="编辑成员名" (click)="toggleTitleEditState()" nz-icon nzType="icons:icon-edit"></i>
        </ng-container>
        <ng-container *ngIf="isEditingTitle">
          <input nz-input placeholder="成员名..." [(ngModel)]="member.name" />
          <i class="edit-save" (click)="onSaveSwitch()" nz-icon nzType="icons:icon-save"
                               style="margin-top: 3px; margin-left: 20px;"></i>
        </ng-container>
      </div>
    </div>
    <div class="item">
      <div class="label">邮箱</div>
      <div class="value">{{member.email ?? '未绑定'}}</div>
    </div>
    <div class="item">
      <div class="label">电话</div>
      <div class="value">{{member.phoneNumber ?? '未绑定'}}</div>
    </div>
    <div class="item">
      <div class="label">资源名</div>
      <div class="value">
        <i class="copy-icon" nz-icon nzType="icons:icon-copy" (click)="copyText(member.resourceName)"></i>
        {{member.resourceName}}
      </div>
    </div>
  </div>

  <ng-container *ngIf="!isLoading && canDelete()">
    <div class="block" *ngIf="!isLoading; else loadingTem;" >
      <div class="delete">
        <button nz-button nzType="default" nz-popconfirm="删除后不可恢复，确定要删除么？"
                nzPopconfirmPlacement="bottomRight"
                [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                (nzOnConfirm)="deleteMember()" [nzIcon]="iconTplIamUser">
          <i class="delete-icon" nz-icon nzType="icons:icon-delete"></i>
          删除
        </button>
        <ng-template #iconTplIamUser>
          <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
        </ng-template>
      </div>
    </div>
  </ng-container>

</section>


