@import "variables";

nz-input-group.query {
  width: 300px;
}

.additional-info {
  color: @grey40-color;
}

.no-description-hint {
  color: @grey40-color;
  font-style: italic;
}

.scopes {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
