<div class="table-content-area">
  <div class="table-search-area">
    <nz-input-group [nzPrefix]="prefixIconSearch">
      <input nz-input type="text" placeholder="按电话或邮箱筛选" [(ngModel)]="filter.searchText" (ngModelChange)="doSearch()">
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <i nz-icon nzType="icons:icon-search"></i>
    </ng-template>
    <button nz-button nzType="primary" (click)="openMemberDrawer()">
      <i nz-icon nzType="icons:icon-add"></i>
      添加
    </button>
  </div>
  <div class="table-wrapper">
    <nz-table #table nzSize="small"
              nzShowSizeChanger
              [nzData]="pagedMember.items"
              [nzFrontPagination]="false"
              [nzLoading]="isLoading"
              [nzTotal]="pagedMember.totalCount"
              [(nzPageSize)]="filter.pageSize"
              (nzPageSizeChange)="doSearch()"
              [nzPageSizeOptions]="[10,20,30]"
              [(nzPageIndex)]="filter.pageIndex"
              (nzPageIndexChange)="doSearch()"
              >
      <thead>
      <tr>
        <th style="min-width: 100px">名称</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>资源名</th>
        <th>组</th>
        <th>初始密码</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of table.data">
        <td (click)="navigateToDetail(item.id)">{{ item.name ?? '--' }}</td>
        <td (click)="navigateToDetail(item.id)">{{ item.email ?? '未绑定' }}</td>
        <td (click)="navigateToDetail(item.id)">{{ item.phoneNumber ?? '未绑定' }}</td>
        <td>
          <i (click)="copyText(resourceName(item))" class="copy-icon" nz-icon nzType="icons:icon-copy"></i>
          {{ resourceName(item) }}
        </td>
        <td>
          <span class="tag" [nz-tooltip]="group.name" *ngFor="let group of item.groups.slice(0, 3)">
            {{group.name}}
          </span>
          <ng-container *ngIf="item.groups.length > 3">
            <span class="tag more-tags-item">
              等共 {{ item.groups.length }} 项
            </span>
          </ng-container>
        </td>
        <td>
          <span *ngIf="item.initialPassword?.length > 0">
            <i class="copy-icon" nz-icon nzType="icons:icon-copy" (click)="copyText(item.initialPassword)"></i>
            {{ item.initialPassword }}
          </span>
        </td>
        <td>
          <a class="primary-link-btn" (click)="navigateToDetail(item.id)">
            详情
          </a>
          <ng-container *ngIf="canDelete(item)">
            <nz-divider nzType="vertical"></nz-divider>
            <a style="color: #717D8A" nz-popconfirm="删除后不可恢复，确定要删除么？"
               nzPopconfirmPlacement="bottomRight"
               [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
               (nzOnConfirm)="deleteMember(item)" [nzIcon]="iconTplIamUser">删除</a>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #iconTplIamUser>
      <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
    </ng-template>
  </div>
</div>

<app-member-drawer [visible]="memberDrawerVisible" (close)="memberDrawerClosed($event)"></app-member-drawer>

