<div class="standard-div">
  <permission-check [rn]="generalResourceRNPattern.project" [action]="permissionActions.ListProjects" [messageIfDeny]="'您没有查看项目列表的权限， 请联系账户管理员添加相关权限'">
    <div class="project-operations">
      <nz-input-group [nzPrefix]="orgIcon">
        <input type="text" nz-input placeholder="按项目名字查找" [(ngModel)]="searchValue"/>
        <ng-template #orgIcon>
          <i nz-icon nzType="icons:icon-search"></i>
        </ng-template>
      </nz-input-group>
      <button class="standard-btn" nz-button nzType="primary" permission-check [rn]="generalResourceRNPattern.project" [action]="permissionActions.CreateProject" (actionIfAllow)="onCreateProjectClick()">
        <i nz-icon nzType="icons:icon-add"></i>
        添加项目
      </button>
    </div>
    <div class="project-list">
      <div *ngFor="let project of projects | projectFilter: searchValue" class="project">
        <nz-card nzBorderless>
          <nz-descriptions nzTitle="{{project.name}}" [nzExtra]="extraTemplate"></nz-descriptions>
          <permission-check [rn]="permissionsService.getResourceRN('project', project)" [action]="permissionActions.ListEnvs" [messageIfDeny]="'您没有查看该环境列表的权限， 请联系账户管理员添加相关权限'">
            <div class="env-list">
              <div *ngFor="let env of project.environments">
                <div class="env">
                  <div class="env-basis">
                    <div>
                      <div class="desc-name">环境名</div>
                      <div class="desc-content">{{env.name}}</div>
                    </div>
                    <div>
                      <div class="desc-name">描述</div>
                      <div class="desc-content">{{env.description}}</div>
                    </div>
                  </div>
                  <div class="env-secret">
                    <div>
                      <div class="desc-name">Secret</div>
                      <div class="desc-content">
                        <nz-input-group [nzSuffix]="copySuffix">
                          <input readonly nz-input value="{{ env.secret }}">
                        </nz-input-group>
                        <ng-template #copySuffix>
                          <i class="copy-icon" nz-icon nzType="icons:icon-copy" (click)="copyText(env.secret)"></i>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="env-operations">
                    <a
                       permission-check [rn]="getEnvRN(project, env)" [action]="permissionActions.UpdateEnvInfo" (actionIfAllow)="onEditEnvClick(project, env)"
                    >
                      <span style="color: #23AD7F;">编辑</span>
                    </a>
                    <ng-container *ngIf="isEnvDeleteBtnVisible(env)">
                      <nz-divider nzType="vertical"></nz-divider>
                      <a nz-popconfirm="确定删除吗?"
                         nzPopconfirmPlacement="bottomRight"
                         (nzOnConfirm)="onDeleteEnvClick(project, env)" [nzIcon]="iconTplEnv">
                        <span style="color: #717D8A">删除</span>
                      </a>
                    </ng-container>
                    <ng-template #iconTplEnv>
                      <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </permission-check>
        </nz-card>
        <ng-template #extraTemplate>
          <button class="action-btn" nz-button nzType="default" nzSize="small" permission-check [rn]="permissionsService.getResourceRN('project', project)" [action]="permissionActions.UpdateProjectInfo" (actionIfAllow)="onEditProjectClick(project)">
            <i nz-icon nzType="icons:icon-edit"></i>
            编辑
          </button>
          <button class="action-btn" nz-button nzType="default" nzSize="small"
                  *ngIf="currentProjectEnv?.projectId !== project.id"
                  nz-popconfirm="确定删除吗?"
                  nzPopconfirmPlacement="bottomRight"
                  (nzOnConfirm)="onDeleteProjectClick(project)">
            <i nz-icon nzType="icons:icon-delete"></i>
            删除
          </button>
          <button class="action-btn" nz-button nzType="default" nzSize="small"
                  permission-check [rn]="permissionsService.getResourceRN('project', project)" [action]="permissionActions.CreateEnv" (actionIfAllow)="onCreateEnvClick(project)"
                  >
            <i style="color: #3CC798" nz-icon nzType="icons:icon-plus"></i>
            添加环境
          </button>
        </ng-template>
      </div>
    </div>
  </permission-check>

</div>

<app-project-drawer [visible]="creatEditProjectFormVisible" [currentAccountId]="currentAccountId" (close)="projectClosed($event)" [project]="project"></app-project-drawer>
<app-env-drawer [visible]="creatEditEnvFormVisible" [currentAccountId]="currentAccountId" [rn]="getEnvRN(project, env)" (close)="envClosed($event)" [env]="env"></app-env-drawer>
