@import "variables";

.ant-btn-primary {
  width: 135px;
  height: 40px;
  border-radius: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.body-container {
  width: 100%;
  height: 100%;
  padding-left: 24px;

  .spin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
  }

  .detail-body {
    width: 100%;
    padding: 0 0 10px 0;
    position: relative;
    height: 100%;

    .banner {
      min-width: 290px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .warning {
        font-size: 14px;

        i {
          margin-right: 6px;
          font-size: 16px;
          color: @yellow55-color;
        }
      }

      .action-btns {
        display: flex;
        justify-content: space-between;

        .pending-changes {
          cursor: pointer;
          background-color: @white;
          border: 1px solid @grey30-color;
          padding: 0 10px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          gap: 4px;

          i {
            font-size: 20px;
          }

          &:hover {
            background-color: @grey30-color;
          }
        }

        button {
          &:not(:first-child) {
            margin-left: 16px;
          }
        }

        .save {
          width: 170px;
        }

        .more-action {
          line-height: 40px;
          border: none;
          background-color: @grey50-color;
          width: 40px;
          height: 40px;
          color: white;
          border-radius: 32px;
          cursor: pointer;
        }
      }

      .ant-btn-primary {
        width: 135px;
        height: 40px;
        border-radius: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-shadow: none;
        box-shadow: none;
        border: none;
      }
    }

    .content-container {
      height: calc(100% - 52px);
      overflow: auto;

      .standard-div {
        &:not(:last-child) {
          margin-bottom: 24px;
        }

        &.target-users {
          .content:not(:first-child) {
            margin-top: 24px;
          }
        }

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: @grey70-color;
        }
      }

      .rule-banner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .title-wraper {
          display: flex;
          align-items: center;

          i {
            margin-top: -7px;
            margin-left: 0;
          }
        }

        i {
          cursor: pointer;
          margin-left: 12px;
          font-size: 20px;
          color: @grey50-color;

          &:hover {
            color: @grey70-color;
          }
        }
      }

      .rule {
        &.validation-error {
          border: 2px solid @red50-color;
          border-radius: 20px;
        }

        margin-top: 24px;

        nz-card {
          border-radius: 20px;
        }
      }
    }
  }
}

.validation-errors-title {
  font-weight: 600;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-box:last-child {
  border: none;
}

.drop-list.cdk-drop-list-dragging .drop-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-box {
  cursor: pointer;
}

::ng-deep .target-more-actions {
  .ant-dropdown-menu-item.disabled {
    cursor: not-allowed;
    color: @grey50-color;
  }
}
