<div class="standard-div rows">
  <div class="row">
    <div class="row-title">
      <span i18n="@@org.org.id">Id</span>
      <i nz-icon i18n-nz-tooltip="@@common.org-id-copy-hint" nz-tooltip="You will need to provide this Id to generate the license, please contact us to get a license." nzType="icons:icon-info-outline"></i>
    </div>
    <div class="row-content">
      <nz-form-item class="extend">
        <nz-input-group class="row-input-group" [nzPrefix]="idIcon">
          <input disabled type="text" nz-input [ngModel]="currentOrganization.id" placeholder="License" i18n-placeholder="@@common.license"/>
          <ng-template #idIcon>
            <i nz-icon nzType="icons:icon-id"></i>
          </ng-template>
        </nz-input-group>
      </nz-form-item>
      <button nz-button class="copy-id-btn" nzType="primary" (click)="copyText(currentOrganization.id)">
        <i nz-icon nzType="icons:icon-copy"></i>
        <ng-container i18n="@@common.copy">Copy</ng-container>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="row-title" i18n="@@common.license">License</div>
    <form class="row-content" nz-form [formGroup]="validateLicenseForm" [nzLayout]="'inline'" (ngSubmit)="submitLicenseForm()">
      <nz-form-item class="extend">
        <nz-form-control nzErrorTip="License is mandatory!" i18n-nzErrorTip="@@org.org.license-mandatory">
          <nz-input-group class="row-input-group" [nzPrefix]="licenseIcon">
            <input type="text" nz-input formControlName="license" placeholder="License" i18n-placeholder="@@common.license"/>
            <ng-template #licenseIcon>
              <i nz-icon nzType="icons:icon-license"></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="update-license-btn" nzType="primary" [nzLoading]="isLicenseLoading">
        <i nz-icon nzType="icons:icon-sync"></i>
        <ng-container i18n="@@org.org.updateLicense">Update</ng-container>
      </button>
    </form>
  </div>
  <div class="row">
    <div class="row-title" i18n="@@org.org.orgName">Name</div>
    <form class="row-content" nz-form [formGroup]="validateOrgForm" [nzLayout]="'inline'" (ngSubmit)="submitOrgForm()">
      <nz-form-item class="extend">
        <nz-form-control nzErrorTip="Organization name is mandatory!" i18n-nzErrorTip="@@org.org.orgMandatory">
          <nz-input-group class="row-input-group" [nzPrefix]="orgIcon">
            <input type="text" nz-input formControlName="name" placeholder="Organization name" i18n-placeholder="@@org.org.orgNamePlaceholder"/>
            <ng-template #orgIcon>
              <i nz-icon nzType="icons:icon-org"></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" [nzLoading]="isLoading" [disabled]="!canUpdateOrgName">
        <i nz-icon nzType="icons:icon-sync"></i>
        <ng-container i18n="@@org.org.updateOrgName">Update</ng-container>
      </button>
    </form>
  </div>
  <div class="row">
    <div class="row-title" i18n="@@org.org.switchorg">Switch organization</div>
    <div class="row-content">
      <nz-select class="extend" nzShowSearch nzPlaceHolder="Select organization" [(ngModel)]="currentOrganization" (ngModelChange)="onAccountChange()" i18n-nzPlaceHolder="@@org.org.selectOrg">
        <nz-option *ngFor="let account of allOrganizations" [nzLabel]="account.name" [nzValue]="account"></nz-option>
      </nz-select>
      <button class="create-org-btn" [disabled]="!license.isGranted(LicenseFeatureEnum.CreateOrg)" nz-button nzType="primary" (click)="onCreateAccountClick()">
        <i nz-icon nzType="icons:icon-add"></i>
        <ng-container i18n="@@common.add">Add</ng-container>
      </button>
    </div>
  </div>
</div>

<organization-drawer [visible]="creatOrganizationFormVisible" (close)="onCreateAccountClosed($event)"></organization-drawer>
