<div class="body-container">
  <div class="flag-container">
    <segment-setting></segment-setting>
  </div>
  <nz-tabset nzLinkRouter class="tabs-container segment-flag">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./targeting']" queryParamsHandling="preserve" i18n="@@ff.routing.details.targeting">Targeting</a>
      <ng-template nz-tab>
        <segment-targeting></segment-targeting>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./history']" i18n="@@ff.routing.details.history">History</a>
      <ng-template nz-tab>
        <segment-auditlogs></segment-auditlogs>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
