<button
  nzType="dashed"
  nz-button
  nz-dropdown
  nzClickHide="false"
  nzOverlayClassName="select-tags-dropdown"
  (nzVisibleChange)="onVisibleChange($event)"
  [nzDropdownMenu]="tagsMenu">
  <span i18n="@@common.tags">Tags</span>:&nbsp;{{ getSelectedOptionsLabel() }}
  @if (hasValue) {
    <i nz-icon nzType="close-circle" (click)="clearOptions($event)"></i>
  } @else {
    <i nz-icon nzType="down"></i>
  }
</button>
<nz-dropdown-menu #tagsMenu>
  <div class="tags-filter-input">
    <nz-input-group [nzPrefix]="tagSearchIcon" nzSize="small">
      <input
        type="text"
        nz-input
        [(ngModel)]="optionSearchText"
        placeholder="Search tags..."
        i18n-placeholder="@@ff.compare.search-tags"
      />
      <ng-template #tagSearchIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </nz-input-group>
  </div>
  @if (isLoading) {
    <div class="tags-loading">
      <nz-spin i18n-nzTip="@@common.loading" nzTip="Loading..." [nzSize]="'small'"></nz-spin>
    </div>
  } @else {
    <ul nz-menu class="tags-menu-list">
      @if (filteredOptions.length === 0) {
        <li class="no-tags-found" i18n="@@ff.no-tags-found">No tags found</li>
      }
      @for (tag of filteredOptions; track tag) {
        <li nz-menu-item (click)="tag.selected = !tag.selected">
          <label nz-checkbox [(ngModel)]="tag.selected"></label>
          {{ tag.label }}
        </li>
      }
    </ul>
  }
</nz-dropdown-menu>
