@import "variables";

button {
  i {
    margin-left: 8px;

    &:hover {
      color: @primary-color;
    }
  }
}

.tags-loading {
  background-color: white;
  border-radius: 8px;
  height: 64px;
  padding-top: 16%;
  border: 1px solid @grey20-color;
}
