<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input nz-input type="text" placeholder="Filter by name" i18n-placeholder="@@segment.idx.filter-by-name" [(ngModel)]="segmentFilter.name" (ngModelChange)="onSearch(true)">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
      <button nz-button nzType="primary" (click)="addSegment()">
        <i nz-icon nzType="icons:icon-add"></i>
        <ng-container i18n="@@common.add">Add</ng-container>
      </button>
    </div>

    <div class="table-wrapper">
      <nz-table #table nzSize="small"
                nzShowSizeChanger
                [nzData]="segmentListModel.items"
                [nzFrontPagination]="false"
                [nzLoading]="loading"
                [nzTotal]="segmentListModel.totalCount"
                [(nzPageSize)]="segmentFilter.pageSize"
                (nzPageSizeChange)="onSearch()"
                [nzPageSizeOptions]="[10,20,30]"
                [(nzPageIndex)]="segmentFilter.pageIndex"
                (nzPageIndexChange)="onSearch()">
        <thead>
          <tr>
            <th nzWidth="35%" i18n="@@common.name">Name</th>
            <th nzWidth="35%" i18n="@@common.last-updated">Last updated</th>
            <th i18n="@@common.actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of table.data">
            <td style="cursor: pointer;" (click)="onIntoSegmentDetail(item)">
              <span>{{item.name}}</span>
            </td>
            <td>{{getLocalDate(item.updatedAt) | date: 'YYYY-MM-dd HH:mm:ss'}}</td>
            <td>
              <a style="color:#23AD7F;" (click)="onIntoSegmentDetail(item)" i18n="@@common.details">Details</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a style="color: #717D8A" (click)="deleteValidation(item)" i18n="@@common.remove">Remove</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

<nz-modal [(nzVisible)]="createModalVisible"
          [nzTitle]="modalTitle"
          [nzCentered]="true"
          [nzContent]="modalContent"
  [nzFooter]="modalFooter" (nzOnCancel)="closeCreateModal()">
  <ng-template #modalTitle><ng-container i18n="@@segment.idx.add-segment">Add segment</ng-container></ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="segmentForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback i18n-nzValidatingTip="@@common.validating" nzValidatingTip="Validating..." [nzErrorTip]="segmentNameErrorTpl">
          <input nz-input formControlName="name" />
          <ng-template #segmentNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')" i18n="@@common.name-cannot-be-empty">Name cannot be empty</ng-container>
            <ng-container *ngIf="control.hasError('invalid_character')" i18n="@@common.name-cannot-include---">Name cannot include '__'</ng-container>
            <ng-container *ngIf="control.hasError('duplicated')" i18n="@@common.name-unavailable">This name is unavailable</ng-container>
            <ng-container *ngIf="control.hasError('unknown')" i18n="@@common.name-validation-failed">Name validation failed</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label i18n="@@common.description">Description</nz-form-label>
        <nz-form-control>
          <textarea style="resize: none" nz-input formControlName="description" i18n-placeholder="@@common.description" placeholder="Description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="this.closeCreateModal()" i18n="@@common.cancel">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="this.creating" [disabled]="!segmentForm.valid"
      (click)="createSegment()" i18n="@@common.save">Save</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="deleteModalVisible"
          [nzTitle]="deleteModalTitle"
          [nzCentered]="true"
          [nzContent]="deleteModalContent"
          [nzFooter]="deleteModalFooter"
          (nzOnCancel)="closeDeleteModal()">

  <ng-template #deleteModalTitle><span style="font-size:18px" i18n="@@segment.remove-segment">Remove segment</span></ng-template>

  <ng-template #deleteModalContent>
    <div style="font-size:15px">
      <ng-container i18n="@@common.segment">Segment</ng-container>
      <span style="font-weight:800;display:inline-block;margin:0 3px;">{{currentDeletingSegment.name}}</span>
      <ng-container i18n="@@segment.permanent-remove-msg">will be permanently removed, this operation cannot be recovered!</ng-container>
    </div>
    <div *ngIf="currentDeletingSegmentFlagReferences.length > 0" class="warning-message">
      <div class="warning">
        <span class="warning-icon"><i nz-icon nzType="warning" nzTheme="fill"></i></span>
        <div class="warning-content">
          <ng-container i18n="@@segment.segment-used-by">This segment is used by following</ng-container>
          <span style="font-weight:800;display:inline-block;margin:0 3px;"> {{currentDeletingSegmentFlagReferences.length}} </span>
          <ng-container i18n="@@segment.num-segment-remove-to-use">segment(s), remove all references before the segment can be safely removed!</ng-container>
        </div>
      </div>
    </div>
    <div *ngFor="let flag of currentDeletingSegmentFlagReferences" style="margin-top:5px">
      <a (click)="openFlagPage(flag.id)">{{flag.name}}</a>
    </div>
  </ng-template>

  <ng-template #deleteModalFooter>
    <button nz-button nzType="default" (click)="this.closeDeleteModal()" i18n="@@common.cancel">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="this.deleting"
      [disabled]="currentDeletingSegmentFlagReferences.length > 0"
      (click)="delete(currentDeletingSegment.id)" i18n="@@common.remove">Remove</button>
  </ng-template>
</nz-modal>
