<section class="rule-item">
  <div *ngIf="!serveSingleOption" class="rule-serve" [class.single-select]="serveSingleOption">
    <div class="tip" i18n="@@core.components.findrule.serve">serve</div>
    <div class="select">
      <nz-select [(ngModel)]="selectedValueOptionId" (ngModelChange)="modelChange()"
                 nzPlaceHolder="variation"  i18n-nzPlaceHolder="@@app.components.findrule.selectvariation">
        <nz-option *ngFor="let variationOption of availableVariationOptions; let i = index" nzCustomContent [nzValue]="variationOption.localId" [nzLabel]="variationOption.value">
            {{variationOption.value}}
        </nz-option>
        <nz-option *ngIf="availableVariationOptions.length > 1" [nzValue]="-1"
                   nzLabel="Rollout percentage"
                   i18n-nzLabel="@@app.components.findrule.rolloutpercentage"></nz-option>
      </nz-select>
    </div>
    <div class="percentage-body" *ngIf="selectedValueOptionId === -1">
      <div class="percentage">
        <div class="item" *ngFor="let rule of rulePercentageRolloutValues; let i = index">
          <div class="percentage-number">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixTemplateInfo">
              <input type="number" nz-input [(ngModel)]="rule.percentageValue" (ngModelChange)="modelChange()"/>
            </nz-input-group>
            <ng-template #suffixTemplateInfo>
              <button nz-button nzType="default" nzSearch style="border-left: none;border-top-right-radius: 8px;border-bottom-right-radius: 8px;height: 36px">%</button>
            </ng-template>
          </div>
          <div class="variation-tip {{'tip-' + i % 9}}"></div>
          <div class="variation">
            {{ rule.valueOption.variationValue }}
          </div>
        </div>
        <div class="total-percentage">
          <nz-divider style="margin: 15px 0"></nz-divider>
          <div class="hundred-percent">100%</div>
        </div>
      </div>
    </div>
  </div>
</section>
