<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <nz-input-group [nzPrefix]="prefixIconSearch" style="width: 300px">
        <input class="search-input" nz-input type="text" placeholder="按邮箱或电话筛选" [(ngModel)]="filter.searchText" (ngModelChange)="doSearch(true)">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
      <nz-select [(ngModel)]="filter.getAllMembers" (ngModelChange)="doSearch(true)" nzPlaceHolder="按状态筛选">
        <nz-option [nzValue]="true" nzLabel="所有用户"></nz-option>
        <nz-option [nzValue]="false" nzLabel="当前组所包含的用户"></nz-option>
      </nz-select>
    </div>
    <div class="table-wrapper">
      <nz-table #table nzSize="small"
                [nzData]="members.items"
                [nzFrontPagination]="false"
                [nzLoading]="isLoading"
                [nzTotal]="members.totalCount"
                [(nzPageSize)]="filter.pageSize"
                (nzPageSizeChange)="doSearch()"
                [(nzPageIndex)]="filter.pageIndex"
                (nzPageIndexChange)="doSearch()">
        <thead>
        <tr>
          <th style="min-width: 100px">成员名</th>
          <th>邮箱</th>
          <th>电话</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of table.data">
          <td (click)="navigateToUserDetail(item.id)">{{ item.name ?? '--' }}</td>
          <td (click)="navigateToUserDetail(item.id)">{{ item.email ?? '未关联' }}</td>
          <td (click)="navigateToUserDetail(item.id)">{{ item.phoneNumber ?? '未绑定' }}</td>
          <td>
            <a class="primary-link-btn" (click)="navigateToUserDetail(item.id)">
              查看
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <ng-container *ngIf="item.isGroupMember">
              <a style="color: #717D8A"
                 nz-popconfirm="确定将该用户从组中移除么？"
                 nzPopconfirmPlacement="bottomRight"
                 (nzOnConfirm)="removeMember(item.id)" [nzIcon]="iconTpl">
                移除
              </a>
              <ng-template #iconTpl>
                <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="!item.isGroupMember">
              <a class="primary-link-btn" (click)="addMember(item.id)">
                添加
              </a>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

