<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <nz-input-group [nzPrefix]="prefixIconSearch" style="width: 300px">
        <input class="search-input" nz-input type="text" placeholder="Filter by Email" i18n-placeholder="@@iam.groups.details.team-filter-placeholder" [(ngModel)]="filter.searchText" (ngModelChange)="doSearch(true)">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
      <nz-select class="team-filter nz-select-40 rounded filter" [(ngModel)]="filter.getAllMembers" (ngModelChange)="doSearch(true)">
        <nz-option [nzValue]="true" nzLabel="All" i18n-nzLabel="@@iam.groups.details.all-members"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Contained by current group" i18n-nzLabel="@@iam.groups.details.current-members"></nz-option>
      </nz-select>
    </div>
    <div class="table-wrapper">
      <nz-table #table nzSize="small"
                [nzData]="members.items"
                [nzFrontPagination]="false"
                [nzLoading]="isLoading"
                [nzTotal]="members.totalCount"
                [(nzPageSize)]="filter.pageSize"
                (nzPageSizeChange)="doSearch()"
                [(nzPageIndex)]="filter.pageIndex"
                (nzPageIndexChange)="doSearch()">
        <thead>
        <tr>
          <th style="min-width: 100px" i18n="@@common.name">Name</th>
          <th i18n="@@common.email">Email</th>
          <th i18n="@@common.mobile">Mobile</th>
          <th i18n="@@common.actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of table.data">
          <td (click)="navigateToUserDetail(item.id)">{{ item.name ?? '--' }}</td>
          <td (click)="navigateToUserDetail(item.id)">{{ item.email ?? '--' }}</td>
          <td (click)="navigateToUserDetail(item.id)">{{ item.phoneNumber ?? '--' }}</td>
          <td>
            <a class="primary-link-btn" (click)="navigateToUserDetail(item.id)" i18n="@@common.details">Details</a>
            <nz-divider nzType="vertical"></nz-divider>
            <ng-container *ngIf="item.isGroupMember">
              <a style="color: #717D8A"
                 i18n-nz-popconfirm="@@iam.groups.details.remove-member-confirm"  nz-popconfirm="Are you sure to remove the member from the current group?"
                 nzPopconfirmPlacement="bottomRight"
                 (nzOnConfirm)="removeMember(item.id)" [nzIcon]="iconTpl">
                <ng-container i18n="@@common.remove">Remove</ng-container>
              </a>
              <ng-template #iconTpl>
                <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="!item.isGroupMember">
              <a class="primary-link-btn" (click)="addMember(item.id)" i18n="@@common.add">Add</a>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

