<section class="body-container">
  <ng-template #loadingTem>
    <div class="block">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-template>

  <div *ngIf="featureFlag.isArchived" class="block standard-div archived">
    <div class="title">
      <i class="warning-icon" nz-icon nzType="icons:icon-warning"></i>
      <span class="text" i18n="@@ff.ff-archived">Archived</span>
    </div>
    <div class="content">
      <ng-container i18n="@@ff.you-can">You can</ng-container>
      <a class="restore"
         i18n-nz-popconfirm="@@ff.are-you-sure-to-restore-ff"
         nz-popconfirm="Are you sure to restore this feature flag?"
         (nzOnConfirm)="restoreFlag()">&nbsp;<ng-container i18n="@@common.restore">Restore</ng-container>&nbsp;</a>
      <ng-container i18n="@@common.or">or</ng-container>
      <a class="delete" i18n-nz-popconfirm="@@common.remove-confirm" nz-popconfirm="This operation cannot be reverted, are you sure to remove it?" (nzOnConfirm)="deleteFlag()">&nbsp;<ng-container i18n="@@common.remove">Remove</ng-container>&nbsp;</a>
      <ng-container i18n="@@ff.the-ff">the feature flag</ng-container>
    </div>
  </div>
  <div class="block standard-div" *ngIf="!isLoading; else loadingTem;">
    <div class="title">
      <ng-container *ngIf="!isEditingTitle">
        <span class="text">{{featureFlag.name}}</span>
        <i class="edit-save" (click)="toggleTitleEditState()" nz-icon nzType="icons:icon-edit"></i>
      </ng-container>
      <ng-container *ngIf="isEditingTitle">
        <input nz-input i18n-placeholder="@@common.name" placeholder="Name" [(ngModel)]="featureFlag.name" />
        <i class="edit-save" (click)="onSaveSettings()" nz-icon nzType="icons:icon-save"></i>
      </ng-container>
    </div>
    <div class="flag-description" [class]="{editing: isEditingDescription}">
      <ng-container *ngIf="!isEditingDescription">
        <span>{{featureFlag.description}}</span>
        <i class="edit-save" (click)="toggleDescriptionEditState()" nz-icon nzType="icons:icon-edit"></i>
      </ng-container>
      <ng-container *ngIf="isEditingDescription">
        <textarea nz-input placeholder="Description" i18n-placeholder="@@common.description" [(ngModel)]="featureFlag.description" [nzAutosize]="{ minRows: 3 }"></textarea>
        <i class="edit-save" (click)="onSaveDescription()" nz-icon nzType="icons:icon-save"></i>
      </ng-container>
    </div>
    <div class="flag-key">
      <div class="title">
        <span class="text" i18n="@@common.key">Key</span> <i nz-icon i18n-nz-tooltip="@@ff.key-description" nz-tooltip="Use key (case-sensitive) in your code to get the feature flag variation" nzType="icons:icon-info-outline"></i>
      </div>
      <div class="key-container">
        {{featureFlag.key}}
        <i class="copy-icon" i18n-nz-tooltip="@@common.click-to-copy" nz-tooltip="Click to copy" nz-icon nzType="icons:icon-copy" (click)="copyText(featureFlag.key)"></i>
      </div>
    </div>
    <div class="status-switcher" >
      <div class="switcher">
        <nz-switch *ngIf="featureFlag.isEnabled" i18n-nz-popconfirm="@@ff.are-you-sure-to-turn-ff-off" nz-popconfirm="Are you sure to turn it off? The variation set below would be returned." nzPopconfirmPlacement="bottomRight" [nzPopconfirmOverlayStyle]="{minWidth: '240px'}" (nzOnConfirm)="onChangeStatus()" [ngModel]="featureFlag.isEnabled" [nzControl]="true" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"></nz-switch>
        <nz-switch *ngIf="!featureFlag.isEnabled" i18n-nz-popconfirm="@@ff.are-you-sure-to-turn-ff-on" nz-popconfirm="Are you sure to turn it on?  The matching targeting users' or rules' serving variation would be returned" nzPopconfirmPlacement="bottomRight" [nzPopconfirmOverlayStyle]="{minWidth: '240px'}" (nzOnConfirm)="onChangeStatus()" [ngModel]="featureFlag.isEnabled" [nzControl]="true" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"></nz-switch>
        <span><ng-container i18n="@@ff.ff-is">The feature flag is</ng-container>&nbsp;<nz-tag *ngIf="featureFlag.isEnabled" class="status on">ON</nz-tag><nz-tag *ngIf="!featureFlag.isEnabled" class="status off">OFF</nz-tag></span>
      </div>
      <div class="disabled-variation">
        <span class="label" i18n="@@ff.if-off-return">If OFF, serve</span>
        <nz-select
          [compareWith]="compareWith"
          [(ngModel)]="featureFlag.disabledVariationId"
          (ngModelChange)="onChangeDisabledVariation()"
          i18n-nzPlaceHolder="@@ff.select-variation"
          nzPlaceHolder="Select variation">
          <nz-option *ngFor="let variation of lastSavedVariations" nzCustomContent [nzValue]="variation.id" [nzLabel]="variation.value">
            {{variation.value}}
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="block standard-div" *ngIf="!isLoading; else loadingTem;">
    <div class="title">
      <span class="text" i18n="@@common.variations">Variations</span>
      <i *ngIf="!isEditingVariations" class="edit-save" (click)="toggleVariationEditState()" nz-icon nzType="icons:icon-edit"></i>
      <i *ngIf="isEditingVariations" class="edit-save" (click)="addVariationOption()" nz-icon nzType="icons:icon-add-outline"></i>
    </div>
    <div class="variation-type">
      <span class="label" i18n="@@common.data-type">Data type</span>
      <ng-container *ngIf="!isEditingVariations">
        <div class="value">
          {{featureFlag.variationType}}
          <i *ngIf="featureFlag.variationType === 'json'" nz-icon i18n-nz-tooltip="@@common.valid-json" nz-tooltip="number, boolean, null and empty string are all valid JSON" nzType="icons:icon-info-outline"></i>
        </div>
      </ng-container>
      <nz-select *ngIf="isEditingVariations" [(ngModel)]="featureFlag.variationType" (ngModelChange)="validateVariationTypes()">
        <nz-option  nzValue="string" nzLabel="string"></nz-option>
        <nz-option  nzValue="boolean" nzLabel="boolean"></nz-option>
        <nz-option  nzValue="number" nzLabel="number"></nz-option>
        <nz-option  nzValue="json" nzLabel="json"></nz-option>
      </nz-select>
    </div>
    <div class="options">
      <div class="option-line" *ngFor="let variation of featureFlag.variations; let key=index; trackBy: trackById;">
        <div class="left">
          <div class="variation-tip {{'tip-' + key % 9}}"></div>
          <div class="variation-value" *ngIf="!isEditingVariations">{{variation.value}}</div>
          <ng-container *ngIf="isEditingVariations">
            <nz-input-group *ngIf="['json', 'string'].includes(featureFlag.variationType)" [nzSuffix]="suffixIconButton" [class]="{'invalid': variation.isInvalid}">
              <input type="text" nz-input [(ngModel)]="variation.value" (ngModelChange)="validateVariation(variation)"/>
              <ng-template #suffixIconButton>
                <i class="expand-icon" nz-icon nzType="expand" (click)="expandVariationOption(variation)"></i>
              </ng-template>
            </nz-input-group>
            <input *ngIf="!['json', 'string'].includes(featureFlag.variationType)" class="simple" type="text" nz-input [(ngModel)]="variation.value" (ngModelChange)="validateVariation(variation)" [class]="{'invalid': variation.isInvalid}"/>
          </ng-container>
        </div>
        <i class="expand-icon" *ngIf="!isEditingVariations && ['json', 'string'].includes(featureFlag.variationType)" nz-icon nzType="expand" (click)="expandVariationOption(variation, true)"></i>
        <i class="copy-icon" nz-icon nzType="icons:icon-copy" (click)="copyText(variation.value)"></i>
        <div *ngIf="isEditingVariations">
          <span class="delete-icon-wrapper" i18n-nz-popconfirm="@@common.remove-confirm" nz-popconfirm="This operation cannot be reverted, are you sure to remove it?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteVariation(variation.id)">
            <i nz-icon nzType="icons:icon-delete"></i>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="isEditingVariations" class="operations">
      <button nz-button class="cancel-btn" (click)="toggleVariationEditState(true)">Cancel</button>
      <button nz-button class="save-btn" (click)="saveVariations()">Save</button>
    </div>
  </div>

  <div class="block standard-div" *ngIf="!isLoading; else loadingTem;">
    <div class="title">Tags</div>
    <div class="tags">
      <div class="selected" *ngIf="this.featureFlag.tags.length">
        <nz-tag *ngFor="let tag of this.featureFlag.tags" nzMode="closeable" (nzOnClose)="onRemoveTag(tag)">
          {{ tag }}
        </nz-tag>
      </div>
      <nz-select
        #tags
        nzPlaceHolder="Add Tags"
        nzShowSearch
        [(ngModel)]="selectedTag"
        (nzOnSearch)="onSearchTag($event)"
        (ngModelChange)="onAddTag()">
        <ng-container *ngFor="let tag of currentAllTags">
          <nz-option *ngIf="!isLoadingTags" [nzValue]="tag" [nzLabel]="tag" [nzHide]="isTagSelected(tag)"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoadingTags" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i>
          <ng-container i18n="@@common.loading">Loading...</ng-container>
        </nz-option>
      </nz-select>
    </div>
  </div>
</section>

<nz-modal
  [nzWidth]='800'
  nzClassName="option-value-editor"
  [nzClosable]="true"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [(nzVisible)]="variationValueExpandVisible"
  (nzOnCancel)="variationValueExpandVisible=false">
  <ng-template #modalTitle><ng-container i18n="@@common.varation"></ng-container>Variation</ng-template>
  <ng-template #modalContent>
    <nz-code-editor style="height: 400px" class="editor" (nzEditorInitialized)="formatCode($event)" [(ngModel)]="currentEditingVariation.value" [nzEditorOption]="{ language: featureFlag.variationType, theme: 'vs-dark' }"></nz-code-editor>
  </ng-template>
  <ng-template #modalFooter>
    <div style="display: flex;justify-content: space-between">
      <button nz-button nzType="default" (click)="formatCode()" i18n="@@common.format">Format</button>
      <div>
        <button nz-button nzType="default" (click)="variationValueExpandVisible=false">
          <ng-container *ngIf="expandReadonly" i18n="@@common.close">Close</ng-container>
          <ng-container *ngIf="!expandReadonly" i18n="@@common.cancel">Cancel</ng-container>
        </button>
        <button *ngIf="!expandReadonly" nz-button nzType="primary" (click)="saveOptionValue()" i18n="@@common.save">Save</button>
      </div>
    </div>
  </ng-template>
</nz-modal>

<nz-modal
  nzWidth="792"
  [(nzVisible)]="exptReferenceModalVisible"
  [nzTitle]="exptReferenceModalTitle"
  [nzCentered]="true"
  [nzContent]="exptReferenceModalContent"
  [nzFooter]="exptReferenceModalFooter"
  (nzOnCancel)="closeExptReferenceModal()">
  <ng-template #exptReferenceModalTitle><span style="font-size:18px"><ng-container i18n="@@ff.removing-variation">Removing variation</ng-container></span></ng-template>

  <ng-template #exptReferenceModalContent>
    <div class="expt-references">
      <div class="warning-message">
        <div class="warning">
          <span class="warning-icon"><i nz-icon nzType="warning" nzTheme="fill"></i></span>
          <div class="warning-content">
            <ng-container i18n="@@ff.variation-used-by-experiments">This variation is used by {{variationExptReferences.length}} experiment(s), remove all references before the variation can be safely removed!</ng-container>
          </div>
        </div>
      </div>
      <div class="table-wrapper">
        <nz-table #borderedTable
                  nzSize="small"
                  [nzData]="variationExptReferences"
                  [nzFrontPagination]="true"
                  [nzLoading]="isLoading"
                  [nzTotal]="variationExptReferences.length"
                  nzPageSize="10"
                  style="margin-top: 20px;">
          <thead>
          <tr>
            <th i18n="@@expt.overview.metric-name">Metric name</th>
            <th i18n="@@common.baseline-variation">Baseline</th>
            <th i18n="@@expt.overview.status">Status</th>
            <th nzAlign="center" i18n="@@common.actions">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of borderedTable.data">
            <td>{{data.metricName}}</td>
            <td>
              {{data.baselineVariation.value}}
            </td>
            <td class="expt-status-col">
              <div *ngIf="data.status === exptStatusRecording" class="expt-status ongoing"></div>
              <div *ngIf="data.status === exptStatusPaused" class="expt-status paused"></div>
              <div *ngIf="data.status === exptStatusNotStarted" class="expt-status not-started"></div>
              <div>
                {{data.status | T: data.status: 'expt-status'}}
              </div>
            </td>
            <td style="text-align: center">
              <a (click)="goToExperimentPage(data.featureFlagKey, data.id)" i18n="expt.overview.check-experiment">Check experiment</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </ng-template>

  <ng-template #exptReferenceModalFooter>
    <button nz-button nzType="default" (click)="closeExptReferenceModal()" i18n="@@common.close">Close</button>
  </ng-template>
</nz-modal>
