<div class="choose-target-envs">
  <div class="source-env">
    <label>Source Environment</label>
    <nz-tag nzColor="green">
      <i nz-icon nzType="environment" nzTheme="outline"></i>
      {{ sourceEnvironment.fullName }}
    </nz-tag>
  </div>
  <div class="target-envs">
    <label>Target Environments</label>
    <nz-select
      nzShowSearch
      nzPlaceHolder="Select target environments to compare"
      [(ngModel)]="selectedEnvironmentIds"
      nzMode="multiple"
    >
      @for (env of availableEnvironments; track env.id) {
        <nz-option [nzLabel]="env.fullName" [nzValue]="env.id"></nz-option>
      }
    </nz-select>
  </div>
</div>

@if (selectedEnvironmentIds.length === 0) {
  <div class="empty-state">
    <i nz-icon nzType="swap" [style.fontSize.px]="48"></i>
    <p>Select target environments to start comparing feature flags</p>
  </div>
} @else {
  <div class="table-content-area">
    <div class="table-search-area">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchText"
          placeholder="Filter flags by name or key"
          i18n-placeholder="@@ff.filter-by-name-and-key"
        />
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </nz-input-group>
      <button
        nzType="text"
        nz-button
        nzTrigger="click"
        nz-dropdown
        nzClickHide="false"
        nzOverlayClassName="select-tags-dropdown"
        (nzVisibleChange)="onSelectTags($event)"
        [nzDropdownMenu]="tags">
        Tags: {{ getSelectedTagsLabel() }}
        <nz-icon nzType="down" />
      </button>
      <nz-dropdown-menu #tags>
        <div class="tags-filter-input">
          <nz-input-group [nzPrefix]="tagSearchIcon" nzSize="small">
            <input
              type="text"
              nz-input
              [(ngModel)]="tagSearchText"
              placeholder="Search tags..."
              i18n-placeholder="@@ff.compare.search-tags"
            />
            <ng-template #tagSearchIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>
          </nz-input-group>
        </div>
        <ul nz-menu class="tags-menu-list">
          @if (filteredTags.length === 0) {
            <li class="no-tags-found">No tags found</li>
          }
          @for (tag of filteredTags; track tag) {
            <li nz-menu-item (click)="tag.selected = !tag.selected">
              <label nz-checkbox [(ngModel)]="tag.selected"></label>
              {{ tag.name }}
            </li>
          }
        </ul>
      </nz-dropdown-menu>
      <span class="summary-text">
          Showing {{ filteredFeatureFlags.length }} of {{ featureFlags.length }} flags
      </span>
    </div>
    <div class="table-wrapper">
      <nz-table
        #flagTable
        nzSize="small"
        [nzData]="filteredFeatureFlags"
        nzShowPagination="false"
        nzFrontPagination="false"
        [nzScroll]="{ y: 'calc(100vh - 340px)' }"
      >
        <thead>
        <tr>
          <th i18n="@@common.name">Name</th>
          @for (env of selectedEnvironments; track env.id) {
            <th>{{ env.fullName }}</th>
          }
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flag of flagTable.data">
          <!-- Name Column -->
          <td class="flag-name-cell">
            <div class="flag-info">
              <div class="flag-name">{{ flag.name }}</div>
              <div class="flag-key">{{ flag.key }}</div>
              <div class="flag-tags" *ngIf="flag.tags.length > 0">
                <nz-tag *ngFor="let tag of flag.tags" class="flag-tag">
                  {{ tag }}
                </nz-tag>
              </div>
              <div class="flag-description" [title]="flag.description">
                {{ truncateText(flag.description) }}
              </div>
            </div>
          </td>

          @for (env of selectedEnvironments; track env.id) {
            <td class="diff-cell" (click)="compare(flag, env)">
              <div class="diff-status" [class.has-diff]="hasDifferences(flag, env.id)">
                @if (hasDifferences(flag, env.id)) {
                  <i nz-icon nzType="icons:icon-diff"></i>
                  <span>{{ getDiffCountLabel(flag, env.id) }}</span>
                } @else {
                  <i nz-icon nzType="check-circle"></i>
                  <span>Identical</span>
                }
              </div>
              <ul class="diff-list">
                <ng-container *ngFor="let diff of getDiffForEnvironment(flag, env.id)">
                  <li *ngIf="diff.hasDiff">{{ diff.label }}</li>
                </ng-container>
              </ul>
            </td>
          }
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
}

<compare-feature-flag-drawer
  [flag]="flagToCompare"
  [targetEnvironment]="targetEnvToCompare"
  [visible]="compareVisible"
  (close)="closeCompareDrawer()">
</compare-feature-flag-drawer>
