<nz-drawer
  nzClosable="false"
  [nzExtra]="extra"
  nzPlacement="right"
  nzTitle="开关用户自定义属性管理"
  [nzBodyStyle]="{'padding-top': '12px'}"
  [nzWidth]="850"
  [nzVisible]="visible"
  (nzOnClose)="close.emit()">
  <ng-container *nzDrawerContent>
    <nz-tabset class="no-bottom-line">
      <nz-tab nzTitle="用户属性">
        <div class="table-content-area">
          <div class="table-search-area">
            <div class="search-inputs">
              <nz-input-group [nzPrefix]="prefixIconSearch">
                <input nz-input type="text" placeholder="按属性名称查找" [(ngModel)]="propSearchText" (ngModelChange)="searchProp()">
              </nz-input-group>
              <ng-template #prefixIconSearch>
                <i nz-icon nzType="icons:icon-search"></i>
              </ng-template>
            </div>

            <button class="standard-btn" nz-button nzType="primary" (click)="newProp()">
              <i nz-icon nzType="icons:icon-add"></i>
              添加新属性
            </button>
          </div>
          <div class="table-wrapper">
            <nz-table #propTable
                      nzTableLayout="fixed"
                      nzSize="small"
                      nzNoResult="暂无用户自定义属性"
                      nzFrontPagination
                      nzShowPagination
                      [nzData]="displayedProps"
                      [(nzPageIndex)]="propsPageIndex"
                      [nzLoading]="isLoading">
              <thead>
              <tr>
                <th nzWidth="150px">名称</th>
                <th nzWidth="130px">
                  标记为摘要字段
                  <i style="margin-left: 4px" nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip="用于显示用户摘要信息"></i>
                </th>
                <th nzAlign="center" nzWidth="190px">备注</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of propTable.data; index as index">
                <div *ngIf="row.isBuiltIn, then builtInPropRow else customPropRow"></div>
                <ng-template #builtInPropRow>
                  <td>{{row.name}}</td>
                  <td style="text-align: center">
                    <label nzDisabled nz-checkbox [(ngModel)]="row.isDigestField"></label>
                  </td>
                  <td>{{row.remark}}</td>
                  <td>内置属性</td>
                </ng-template>
                <ng-template #customPropRow>
                  <div *ngIf="row.isEditing, then editingPropRow else showPropRow"></div>
                  <ng-template #showPropRow>
                    <td nzEllipsis>
                      <span nz-tooltip="{{row.name}}">{{row.name}}</span>
                    </td>
                    <td style="text-align: center">
                      <label nz-checkbox [(ngModel)]="row.isDigestField" (ngModelChange)="toggleIsDigestField(row)"></label>
                    </td>
                    <td style="text-align: center" nzEllipsis nz-tooltip="点击设置/修改备注" (click)="editProp(row)">
                      {{row.remark}}
                    </td>
                  </ng-template>
                  <ng-template #editingPropRow>
                    <td *ngIf="row.isNew">
                      <input nz-input [(ngModel)]="row.name" placeholder="属性名称">
                    </td>
                    <td *ngIf="!row.isNew" nzEllipsis>
                      <span nz-tooltip="{{row.name}}">{{row.name}}</span>
                    </td>
                    <td style="text-align: center">
                      <label nz-checkbox [(ngModel)]="row.isDigestField" (ngModelChange)="toggleIsDigestField(row)">
                      </label>
                    </td>
                    <td>
                      <input [(ngModel)]="row.remark" nz-input placeholder="属性备注">
                    </td>
                  </ng-template>
                  <td class="row-operations">
                    <button nz-button nzSize="default" nzType="link" *ngIf="row.isEditing"
                            [nzLoading]="row.isSaving" (click)="saveProp(row)">
                      <i nz-icon nzType="save" nzTheme="outline"></i> 保存
                    </button>

                    <button nz-button nzSize="default" nzType="link" [nzLoading]="row.isDeleting" nzDanger
                            [nzIcon]="iconTpl" nz-popconfirm="确定删除么?" (nzOnConfirm)="archiveProp(row)">
                      <i nz-icon nzType="delete" nzTheme="outline"></i> 删除
                      <ng-template #iconTpl>
                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                      </ng-template>
                    </button>

                    <button nz-button nzSize="default" nzType="link" (click)="cancelEditProp(row)" *ngIf="row.isEditing"
                            style="color: #717D8A;">
                      <i nz-icon nzType="close" nzTheme="outline"></i> 取消
                    </button>

                    <button nz-button nzSize="default" nzType="link" (click)="openPropPresetValuesModal(row)"
                            *ngIf="!row.isEditing">
                      <i nz-icon nzType="edit" nzTheme="outline"></i>
                      预定义值（现有<span>{{row?.presetValues?.length || 0}}</span>个）
                    </button>
                  </td>
                </ng-template>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-tab>

      <nz-tab nzTitle="用户标签">
        <div class="table-operations">
          <button class="standard-btn" nz-button nzType="primary" (click)="newTag()">
            <i nz-icon nzType="icons:icon-add" nzTheme="outline"></i>
            添加新标签
          </button>
        </div>
        <div class="table-content-area">
          <div class="table-wrapper">
            <nz-table #tagTable class="editable-table"
                      nzSize="small"
                      nzFrontPagination
                      nzShowPagination
                      [nzData]="tags"
                      [nzLoading]="isLoading">
              <thead>
              <tr>
                <th nzWidth="30%">请求字段名</th>
                <th nzWidth="25%">来源</th>
                <th nzWidth="25%">用户属性名</th>
                <th nzWidth="20%">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tagTable.data" class="editable-row">
                <div *ngIf="row.isEditing, then editingTagRow else showTagRow"></div>
                <ng-template #editingTagRow>
                  <td>
                    <input [(ngModel)]="row.requestProperty" nz-input placeholder="E.g. x-request-id"/>
                  </td>
                  <td>
                    <nz-select [(ngModel)]="row.source">
                      <nz-option *ngFor="let source of sources" [nzLabel]="source" [nzValue]="source"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <nz-select
                      nzShowSearch
                      (nzOnSearch)="searchTag($event)"
                      [ngModel]="row.userProperty"
                      (ngModelChange)="selectTag(row, $event)">
                      <ng-container *ngFor="let prop of tagProps">
                        <nz-option nzCustomContent [nzValue]="prop" [nzLabel]="prop" [nzHide]="propUsed(prop)">
                          {{ prop }}
                        </nz-option>
                      </ng-container>
                    </nz-select>
                  </td>
                </ng-template>
                <ng-template #showTagRow>
                  <td>
                    <div class="editable-cell" (click)="editTag(row)">
                      <span>{{ row.requestProperty }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="editable-cell" (click)="editTag(row)">
                      <span>{{ row.source }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="editable-cell" (click)="editTag(row)">
                      <span>{{ row.userProperty }}</span>
                    </div>
                  </td>
                </ng-template>

                <td>
                  <button nz-button nzSize="default" nzType="link" (click)="editTag(row)" *ngIf="!row.isEditing">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </button>

                  <button nz-button nzSize="default" nzType="link" *ngIf="row.isEditing"
                          [nzLoading]="row.isSaving" (click)="saveTag(row)">
                    <i nz-icon nzType="save" nzTheme="outline"></i>
                  </button>

                  <button nz-button nzSize="default" nzType="link" [nzLoading]="row.isDeleting" nzDanger
                          [nzIcon]="iconTpl" nz-popconfirm="确定删除么?" (nzOnConfirm)="deleteTag(row)">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                    <ng-template #iconTpl>
                      <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                    </ng-template>
                  </button>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </ng-container>
  <ng-template #extra>
    <i (click)="close.emit()" nz-icon nzType="icons:icon-close"></i>
  </ng-template>
</nz-drawer>

<nz-modal
  nzCentered
  [nzWidth]="800"
  [nzVisible]="propPresetValuesModalVisible"
  (nzOnCancel)="closePropPresetValuesModal()"
  (nzOnOk)="savePropPresetValuesModal()"
  [nzTitle]="modalTitle">
  <ng-template #modalTitle>设置<span style="display:inline-block;padding: 0 5px; font-weight: 600">{{currentUserPropRow.name}}</span>的预定义值</ng-template>
  <ng-container *nzModalContent>
    <div class="preset-values-modal-body">
      <div class="creation-wrapper">
        <div class="input-wrapper">
          <div class="preset-value-key">
            <label>Key (参与规则判断)</label>
            <input [(ngModel)]="currentPresetValueKey" nz-input>
          </div>
          <div class="preset-value-description">
            <label>描述 (用于 UI 显示)</label>
            <input [(ngModel)]="currentPresetValueDescription" nz-input>
          </div>
        </div>
        <div class="preset-value-add">
          <button nz-button nzSize="default" nzType="primary" (click)="addPropPresetValue()" [disabled]="currentPresetValueKey.trim().length === 0 || currentPresetValueDescription.trim().length === 0">
            添加
          </button>
        </div>
      </div>
      <ng-container *ngIf="currentUserPropRow.presetValues.length > 0">
        <div class="preset-value-wrapper">
          <nz-list class="preset-values">
            <nz-list-item *ngFor="let presetValue of currentUserPropRow.presetValues" class="preset-value">
              <div>
                <div class="value-item"><div>Key</div>: &nbsp; <span nz-tooltip="{{ presetValue.value }}" nzTooltipPlacement="right">{{ presetValue.value }}</span></div>
                <div class="value-item"><div>描述</div>: &nbsp;<span nz-tooltip="{{ presetValue.description }}" nzTooltipPlacement="right">{{ presetValue.description }}</span></div>
              </div>
              <button nz-button nzType="default" [nzSize]="'large'" (click)="removePropPresetValue(presetValue)"><i nz-icon nzType="close"></i></button>
            </nz-list-item>
          </nz-list>
        </div>
        <label class="use-preset-values-only-label" nz-checkbox [(ngModel)]="currentUserPropRow.usePresetValuesOnly">
          要求用户在规则中使用<span style="display:inline-block;padding: 0 5px; font-weight: 600">{{currentUserPropRow.name}}</span>时只能从预定义值中选择
          <i nz-icon nzType="icons:icon-warning" nz-tooltip="勾选并保存后之前在开关或用户组自定义规则中已经使用的但不在上边列表中的值仍然会被保留， 但是一旦该值被从规则中移除后将不能被重新选中，请谨慎操作"></i>
        </label>
      </ng-container>
    </div>
  </ng-container>
</nz-modal>
