<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <div class="search-inputs">
        <nz-input-group style="width: 220px" [nzPrefix]="prefixIconSearch">
          <input nz-input type="text" placeholder="Filter by name or key" i18n-placeholder="@@ff.idx.filter-by-name-and-key" [(ngModel)]="featureFlagFilter.name" (ngModelChange)="onSearch(true)">
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="icons:icon-search"></i>
        </ng-template>
        <nz-select
          class="tag-select"
          nzMode="multiple"
          nzAllowClear
          [nzMaxTagCount]="1"
          [nzMaxTagPlaceholder]="tagPlaceHolder"
          [(ngModel)]="featureFlagFilter.tags"
          (ngModelChange)="onSearch(true)"
          i18n-nzPlaceHolder="@@ff.idx.filter-by-tags"
          nzPlaceHolder="Filter by tags">
          <ng-container *ngFor="let tag of allTags">
            <nz-option *ngIf="!isLoadingTags" [nzValue]="tag" [nzLabel]="tag"></nz-option>
          </ng-container>
          <nz-option *ngIf="isLoadingTags" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i>
            <ng-container i18n="@@common.loading">Loading...</ng-container>
          </nz-option>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more</ng-template>
        </nz-select>
        <nz-select nzAllowClear [(ngModel)]="featureFlagFilter.isEnabled" (ngModelChange)="onSearch(true)" i18n-nzPlaceHolder="@@ff.idx.filter-by-status" nzPlaceHolder="Filter by status">
          <nz-option nzValue="true" nzLabel="ON"></nz-option>
          <nz-option nzValue="false" nzLabel="OFF"></nz-option>
        </nz-select>
        <label nz-checkbox [(ngModel)]="featureFlagFilter.isArchived" (ngModelChange)="onSearch(true)" i18n="@@ff.idx.archived">Archived</label>
      </div>
      <div class="middle-btn">
        <button nz-button nzType="primary" (click)="this.createModalVisible = true">
          <i nz-icon nzType="icons:icon-add"></i>
          <ng-container i18n="@@common.add">Add</ng-container>
        </button>
        <button class="more-action" nz-dropdown [nzDropdownMenu]="menu" >
          <i nz-icon nzType="icons:icon-menu"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="openBatchCopyModal()" i18n="@@ff.idx.copy-to-env">Copy to environment</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <div class="table-wrapper">
      <nz-table
        #table
        nzSize="small"
        nzShowSizeChanger
        [nzData]="featureFlagListModel.items"
        [nzFrontPagination]="false"
        [nzLoading]="loading"
        [nzTotal]="featureFlagListModel.totalCount"
        [(nzPageSize)]="featureFlagFilter.pageSize"
        (nzPageSizeChange)="onSearch()"
        [nzPageSizeOptions]="[10,20,30]"
        [(nzPageIndex)]="featureFlagFilter.pageIndex"
        (nzPageIndexChange)="onSearch()"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
        <tr>
          <th [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <th i18n="@@common.name">Name</th>
          <th>
            Key
            <i nz-icon i18n-nz-tooltip="@@ff.key-description" nz-tooltip="Use key (case-sensitive) in your code to get the feature flag variation" nzType="icons:icon-info-outline"></i>
          </th>
          <th i18n="@@common.status">Status</th>
          <th i18n="@@common.tags">Tags</th>
          <th i18n="@@common.variations">Variations</th>
          <th i18n="@@common.last-updated">Last updated</th>
          <th i18n="@@common.actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let featureFlag of table.data">
          <td
            [nzChecked]="itemChecked(featureFlag)"
            (nzCheckedChange)="onItemChecked(featureFlag)"
          ></td>
          <td style="cursor:pointer" (click)="navigateToFlagDetail(featureFlag)">
              <span>{{featureFlag.name}}</span>
          </td>
          <td>
            <i (click)="copyText($event, featureFlag.key)" class="copy-icon" nz-icon nzType="icons:icon-copy"></i>
            {{featureFlag.key}}
          </td>
          <td>
            <nz-switch *ngIf="featureFlag.isEnabled"
                       i18n-nz-popconfirm="@@ff.idx.are-you-sure-to-disable-ff"
                       nz-popconfirm="Are you sure to turn it off? The variation returned would be changed when it is off"
                       (nzOnConfirm)="onToggleFeatureFlagStatus(featureFlag)"
                       nzControl="true"
                       [ngModel]="featureFlag.isEnabled" nzCheckedChildren="ON" nzUnCheckedChildren="OFF">
            </nz-switch>
            <nz-switch *ngIf="!featureFlag.isEnabled"
                       i18n-nz-popconfirm="@@ff.idx.are-you-sure-to-enable-ff"
                       nz-popconfirm="Are you sure to turn it on? The matching targeting users' or rules' serving variation would be returned"
                       (nzOnConfirm)="onToggleFeatureFlagStatus(featureFlag)"
                       nzControl="true"
                       [ngModel]="featureFlag.isEnabled" nzCheckedChildren="ON" nzUnCheckedChildren="OFF">
            </nz-switch>
          </td>
          <td style="max-width: 168px;">
            <span class="tag" *ngFor="let tag of featureFlag.tags">{{tag}}</span>
          </td>
          <td>
            <div style="min-width: 60px;" >
              <div *ngIf="featureFlag.isEnabled && featureFlag.serves?.enabledVariations?.length === 1">
                <span class="variation-tip tip-0" style="margin-bottom:2px;"></span>
                <span style="margin-left: 0;margin-right:-3px;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;display: inline-block;
                             height: 18px;margin-top: 2px;overflow: hidden;">
                  {{featureFlag.serves.enabledVariations[0]}}
                </span>
              </div>
              <div *ngIf="featureFlag.isEnabled && featureFlag.serves?.enabledVariations?.length > 1"
                   style="cursor: pointer;"
                   nz-tooltip="{{featureFlag.serves?.enabledVariations?.join(' // ')}}"
                   >
                <span *ngFor="let variationValue of featureFlag.serves?.enabledVariations; let key=index; ">
                  <span  class="variation-tip {{'tip-' + key % 9}}" style="margin-right:-3px;margin-bottom:2px;"></span>
                </span>
                <span style="margin-left: 10px;margin-right:-3px;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;display: inline-block;
                             height: 18px;margin-top: 2px;overflow: hidden;">
                  {{featureFlag.serves?.enabledVariations?.length}} <ng-container i18n="@@common.num-variations">Variations</ng-container>
                </span>
              </div>
              <div *ngIf="!featureFlag.isEnabled" style="opacity: .5;">
                <span class="variation-tip tip-9" style="margin-bottom:2px;background-color:darkgray;"></span>
                <span style="margin-left: 0;margin-right:-3px;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;display: inline-block;
                             height: 18px;margin-top: 2px;overflow: hidden;">
                  {{featureFlag.serves?.disabledVariation}}
                </span>
              </div>
            </div>
          </td>
          <td>{{getLocalDate(featureFlag.updatedAt) | date: 'YYYY-MM-dd HH:mm'}}</td>
          <td>
            <a style="color: #23AD7F" (click)="navigateToFlagDetail(featureFlag)" i18n="@@common.details">Details</a>
            <nz-divider nzType="vertical"></nz-divider>
            <ng-container *ngIf="featureFlagFilter.isArchived;then archivedOps else unarchivedOps"></ng-container>
            <ng-template #archivedOps>
              <a style="color: #717D8A"
                 i18n-nz-popconfirm="@@ff.are-you-sure-to-restore-ff"
                 nz-popconfirm="Are you sure to restore this feature flag?"
                 (nzOnConfirm)="restore(featureFlag)">
                <ng-container i18n="@@common.restore">Restore</ng-container>
              </a>
              <nz-divider nzType="vertical"></nz-divider>
              <a style="color: #FF513A"
                 i18n-nz-popconfirm="@@common.remove-confirm"
                 nz-popconfirm="This operation cannot be reverted, are you sure to remove it?"
                 (nzOnConfirm)="delete(featureFlag)">
                <ng-container i18n="@@common.remove">Remove</ng-container>
              </a>
            </ng-template>
            <ng-template #unarchivedOps>
              <a style="color: #717D8A" i18n="@@common.archive" (click)="archive(featureFlag)">Archive</a>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

<nz-modal [nzVisible]="createModalVisible"
          [nzTitle]="modalTitle"
          [nzCentered]="true"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="this.closeCreateModal()">
  <ng-template #modalTitle><ng-container i18n="@@ff.idx.new-ff">New feature flag</ng-container></ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="featureFlagForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback i18n-nzErrorTip="@@common.name-cannot-be-empty" nzErrorTip="Name cannot be empty">
          <input
            nz-input
            formControlName="name"
            placeholder="A human-friendly name for your feature flag"
            i18n-placeholder="@@ff.idx.feature-flag-name"
            (ngModelChange)="nameChange($event)"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzRequired
          i18n-nzTooltipTitle="@@ff.key-description"
          nzTooltipTitle="Use key (case-sensitive) in your code to get the feature flag variation">
          Key
        </nz-form-label>
        <nz-form-control nzHasFeedback i18n-nzValidatingTip="@@common.validating" nzValidatingTip="Validating..." [nzErrorTip]="keyErrorTpl">
          <input nz-input formControlName="key" i18n-placeholder="@@common.key-generated-from-name" placeholder="Key can be auto-generated from name" />
          <ng-template #keyErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')" i18n="@@common.key-cannot-be-empty">Key cannot be empty</ng-container>
            <ng-container *ngIf="control.hasError('duplicated')" i18n="@@common.key-has-been-used">This key has been used</ng-container>
            <ng-container *ngIf="control.hasError('unknown')" i18n="@@common.key-validation-failed">Key validation failed</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label i18n="@@common.description">Description</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Cannot exceed 512 characters" i18n-nzErrorTip="@@ff.description.cannot-exceed-512-characters">
          <textarea nz-input formControlName="description" i18n-placeholder="@@common.description" placeholder="Description">
          </textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="this.closeCreateModal()" i18n="@@common.cancel">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="this.creating" [disabled]="featureFlagForm.invalid" (click)="create()" i18n="@@common.save">Save</button>
  </ng-template>
</nz-modal>

<nz-modal
  nzAutofocus="cancel"
  [(nzVisible)]="batchCopyVisible"
  [nzOkDisabled]="totalSelected === 0"
  [nzOkLoading]="isCopying"
  (nzOnOk)="batchCopy()"
  (nzOnCancel)="batchCopyVisible = false"
  [nzCentered]="true"
  i18n-nzTitle="@@common.bulk-copy"
  nzTitle="Bulk copy"
  nzWidth="820px"
  nzMaskClosable="false">
  <ng-container *nzModalContent>
    <nz-alert
      nzType="warning"
      i18n-nzDescription="@@ff.idx.only-following-fields-are-copied"
      nzDescription="Targeting user and rules will not be copied."
      nzShowIcon
      nzIconType="icons:icon-warning"
    ></nz-alert>
    <div class="batch-copy-content">
      <nz-list class="overflow-y-list" style="--list-height: 320px" [nzHeader]="flagHeader">
        <nz-list-item *ngFor="let item of checkedItems">
          <label nz-checkbox [(ngModel)]="item.checked">{{ item.name }}</label>
        </nz-list-item>
        <ng-template #flagHeader>
          <span class="header"><ng-container i18n="@@ff.idx.selected-ff">Selected feature flags</ng-container>: {{ totalSelected }}</span>
        </ng-template>
      </nz-list>
      <div class="transfer-text">
        <i nz-icon nzType="icons:icon-copy-to"></i>
        <span i18n="@@common.copy-to">Copy</span>
      </div>
      <nz-list class="overflow-y-list" style="--list-height: 320px" [nzHeader]="envHeader">
        <nz-list-item
          *ngFor="let env of envs"
          (click)="selectTargetEnv(env)"
          [ngClass]="{'item-selected': env.id === targetEnv.id}">
          {{ env.name }}
        </nz-list-item>
        <ng-template #envHeader>
          <span class="header" i18n="@@common.targeting-env">Targeting environment</span>
        </ng-template>
      </nz-list>
    </div>
  </ng-container>
</nz-modal>
