<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <div class="search-inputs">
        <nz-input-group style="width: 220px" [nzPrefix]="prefixIconSearch">
          <input  nz-input type="text" placeholder="Filter by name or keyName" i18n-placeholder="@@ff.idx.filter-by-name-and-keyname" [(ngModel)]="switchFilterV2.name" (ngModelChange)="onSearchV2(true)">
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="icons:icon-search"></i>
        </ng-template>
        <switch-tag-tree-select (onSelect)="onSelectTagV2($event)" [tagTree]="tagTree"></switch-tag-tree-select>
        <nz-select nzAllowClear [(ngModel)]="switchFilterV2.status" (ngModelChange)="onSearchV2(true)" i18n-nzPlaceHolder="@@ff.idx.filter-by-status" nzPlaceHolder="Filter by status">
          <nz-option nzValue="Enabled" nzLabel="ON"></nz-option>
          <nz-option nzValue="Disabled" nzLabel="OFF"></nz-option>
        </nz-select>
      </div>
      <div class="middle-btn">
        <button nz-button nzType="primary" (click)="this.createModalVisibleV2 = true">
          <i nz-icon nzType="icons:icon-add"></i>
          <ng-container i18n="@@common.add">Add</ng-container>
        </button>
        <button class="tag-tree-management" nz-button nzType="primary" (click)="tagTreeModalVisible = true">
          <i nz-icon nzType="icons:icon-setting"></i>
          <ng-container i18n="@@common.tags">Tags</ng-container>
        </button>
        <button *ngIf="compareAndCopyFlag===true" class="more-action" nz-dropdown [nzDropdownMenu]="menu" >
          <i nz-icon nzType="icons:icon-menu"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="openBatchCopyModal()" i18n="@@ff.idx.copy-to-env">Copy to environment</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <div class="table-wrapper">
      <nz-table
        #table
        nzSize="small"
        nzShowSizeChanger
        [nzData]="switchListModel.items"
        [nzFrontPagination]="false"
        [nzLoading]="v2Loading"
        [nzTotal]="switchListModel.totalCount"
        [(nzPageSize)]="switchFilterV2.pageSize"
        (nzPageSizeChange)="onSearchV2()"
        [nzPageSizeOptions]="[10,20,30]"
        [(nzPageIndex)]="switchFilterV2.pageIndex"
        (nzPageIndexChange)="onSearchV2()"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
        <tr>
          <th [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <th i18n="@@common.name">Name</th>
          <th><span i18n-nz-tooltip="@@ff.idx.use-keyName-in-code-to-get-variation" nz-tooltip="Use keyName in your code to get the feature flag variation">KeyName</span></th>
          <th i18n="@@common.status">Status</th>
          <th i18n="@@common.tags">Tags</th>
          <th i18n="@@common.variations">Variations</th>
          <th i18n="@@common.last-updated">Last updated</th>
          <th i18n="@@common.actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let theSwitch of table.data">
          <td
            [nzChecked]="itemChecked(theSwitch)"
            (nzCheckedChange)="onItemChecked(theSwitch)"
          ></td>
          <td style="cursor:pointer" (click)="onIntoSwitchDetail(theSwitch)">
              <span>{{theSwitch.name}}</span>
          </td>
          <td>
            <i (click)="copyText($event, theSwitch.keyName)" class="copy-icon" nz-icon nzType="icons:icon-copy"></i>
            {{theSwitch.keyName}}
          </td>
          <td>
            <nz-switch *ngIf="theSwitch.status === 'Enabled'"
                       i18n-nz-popconfirm="@@ff.idx.are-you-sure-to-disable-ff"
              nz-popconfirm="Are you sure to turn it off? The variation returned would be changed when it is off"
              (nzOnConfirm)="onChangeSwitchStatus(theSwitch)"
              nzControl="true"
              [ngModel]="theSwitch.status === 'Enabled'" nzCheckedChildren="ON" nzUnCheckedChildren="OFF">
            </nz-switch>
            <nz-switch *ngIf="theSwitch.status !== 'Enabled'"
                       i18n-nz-popconfirm="@@ff.idx.are-you-sure-to-enable-ff"
              nz-popconfirm="Are you sure to turn it on? The matching targeting users' or rules' serving variation would be returned"
              (nzOnConfirm)="onChangeSwitchStatus(theSwitch)"
              nzControl="true"
              [ngModel]="theSwitch.status === 'Enabled'" nzCheckedChildren="ON" nzUnCheckedChildren="OFF">
            </nz-switch>
          </td>
          <td style="max-width: 168px;">
            <span class="tag" *ngFor="let tag of theSwitch.tags">{{tag}}</span>
          </td>
          <td>
            <div style="min-width: 60px;" >
              <div *ngIf="theSwitch.status==='Enabled' && theSwitch.variationOverview.variationsWhenOn.length === 1">
                <span class="variation-tip {{'tip-' + (theSwitch.variationOverview.variationsWhenOn[0].displayOrder - 1) % 9}}" style="margin-bottom:2px;"></span>
                <span style="margin-left: 0px;margin-right:-3px;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;display: inline-block;
                             height: 18px;margin-top: 2px;overflow: hidden;">
                  {{theSwitch.variationOverview.variationsWhenOn[0].variationValue}}
                </span>
              </div>
              <div *ngIf="theSwitch.status==='Enabled' && theSwitch.variationOverview.variationsWhenOn.length > 1"
                   style="cursor: pointer;"
                   nz-tooltip
                   nzTooltipTitle="{{theSwitch.variationOverview.variationsWhenOnStr.join(' // ')}}"
                   >
                <span *ngFor="let variationValue of theSwitch.variationOverview.variationsWhenOn; let key=index; ">
                  <span  class="variation-tip {{'tip-' + (variationValue.displayOrder - 1) % 9}}" style="margin-right:-3px;margin-bottom:2px;"></span>
                </span>
                <span style="margin-left: 10px;margin-right:-3px;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;display: inline-block;
                             height: 18px;margin-top: 2px;overflow: hidden;">
                  {{theSwitch.variationOverview.variationsWhenOn.length}} <ng-container i18n="@@common.num-variations">Variations</ng-container>
                </span>
              </div>
              <div *ngIf="theSwitch.status==='Disabled'" style="opacity: .5;">
                <span class="variation-tip tip-9" style="margin-bottom:2px;background-color:darkgray;"></span>
                <span style="margin-left: 0px;margin-right:-3px;text-overflow: ellipsis;white-space: nowrap;max-width: 100px;display: inline-block;
                             height: 18px;margin-top: 2px;overflow: hidden;">
                  {{theSwitch.variationOverview.variationWhenOff.variationValue}}
                </span>
              </div>
            </div>
          </td>
          <td>{{getLocalDate(theSwitch.lastModificationTime) | date: 'YYYY-MM-dd HH:mm'}}</td>
          <td class="table-operations" style="min-width: 50px;">
              <a (click)="onIntoSwitchDetail(theSwitch)" i18n="@@common.details">Details</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

<nz-modal [nzVisible]="createModalVisibleV2"
          [nzTitle]="modalTitle"
          [nzCentered]="true"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="this.closeCreateModalV2()">
  <ng-template #modalTitle><ng-container i18n="@@ff.idx.new-ff">New feature flag</ng-container></ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="switchFormV2" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback i18n-nzValidatingTip="@@common.validating" nzValidatingTip="Validating..." [nzErrorTip]="switchNameErrorTpl">
          <input nz-input formControlName="name" i18n-placeholder="@@common.name" placeholder="Name" />
          <ng-template #switchNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')" i18n="@@common.name-cannot-be-empty">Name cannot be empty</ng-container>
            <ng-container *ngIf="control.hasError('invalid_character')" i18n="@@common.name-cannot-include---">Name cannot include '__'</ng-container>
            <ng-container *ngIf="control.hasError('duplicated')" i18n="@@common.name-keyName-unavailable">This name/KeyName is unavailable</ng-container>
            <ng-container *ngIf="control.hasError('unknown')" i18n="@@common.name-validation-failed">Name validation failed</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>KeyName</nz-form-label>
        <nz-form-control i18n-nz-tooltip="@@ff.idx.use-keyName-in-code-to-get-variation" nz-tooltip="Use keyName to in your code to get the feature flag variation">
          <input nz-input [value]="this.switchFormV2.get('name').value | switchKeyName" formControlName="keyName" i18n-placeholder="@@ff.idx.keyName-generated-from-name" placeholder="keyName is generated from name" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="this.closeCreateModalV2()" i18n="@@common.cancel">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="this.creatingV2" [disabled]="!switchFormV2.valid" (click)="createSwitchV2()" i18n="@@common.save">Save</button>
  </ng-template>
</nz-modal>

<nz-modal
  nzAutofocus="cancel"
  [(nzVisible)]="tagTreeModalVisible"
  (nzOnOk)="saveTagTree()"
  (nzOnCancel)="tagTreeModalVisible = false"
  [nzCentered]="true"
  [nzBodyStyle]="{minHeight: '400px'}"
  nzWidth="1000px"
  i18n-nzTitle="@@common.tags"
  nzTitle="Tags"
  nzMaskClosable="false">
  <ng-container *nzModalContent>
    <switch-tag-tree-view [tagTree]="tagTree"></switch-tag-tree-view>
  </ng-container>
</nz-modal>

<nz-modal
  nzAutofocus="cancel"
  [(nzVisible)]="batchCopyVisible"
  [nzOkDisabled]="totalSelected === 0"
  [nzOkLoading]="isCopying"
  (nzOnOk)="batchCopy()"
  (nzOnCancel)="batchCopyVisible = false"
  [nzCentered]="true"
  i18n-nzTitle="@@common.bulk-copy"
  nzTitle="Bulk copy"
  nzWidth="820px"
  nzMaskClosable="false">
  <ng-container *nzModalContent>
    <nz-alert
      nzType="warning"
      i18n-nzDescription="@@ff.idx.only-following-fields-are-copied"
      nzDescription="Only following fields are copied: name, keyName, status, variation and default variation."
      nzShowIcon
      nzIconType="icons:icon-warning"
    ></nz-alert>
    <div class="batch-copy-content">
      <nz-list class="overflow-y-list" style="--list-height: 320px" [nzHeader]="flagHeader">
        <nz-list-item *ngFor="let item of checkedItems">
          <label nz-checkbox [(ngModel)]="item.checked">{{ item.name }}</label>
        </nz-list-item>
        <ng-template #flagHeader>
          <span class="header"><ng-container i18n="@@ff.idx.selected-ff">Selected feature flags</ng-container>: {{ totalSelected }}</span>
        </ng-template>
      </nz-list>
      <div class="transfer-text">
        <i nz-icon nzType="icons:icon-copy-to"></i>
        <ng-container i18n="@@common.copy-to">Copy to</ng-container>
      </div>
      <nz-list class="overflow-y-list" style="--list-height: 320px" [nzHeader]="envHeader">
        <nz-list-item
          *ngFor="let env of envs"
          (click)="selectTargetEnv(env)"
          [ngClass]="{'item-selected': env.id === targetEnv.id}">
          {{ env.name }}
        </nz-list-item>
        <ng-template #envHeader>
          <span class="header" i18n="@@common.targeting-env">Targeting environment</span>
        </ng-template>
      </nz-list>
    </div>
  </ng-container>
</nz-modal>
