<div class="login-layout">
  <div class="login-wrapper">
    <div class="left-img"><img src="assets/svgs/login-left.svg" alt=""></div>
    <div class="form-content-wrapper">
      <app-locale-switcher class="locale-switcher"></app-locale-switcher>
      <div class="form-content">
        <img alt="logo" class="logo" src="assets/logo/logo.svg">
        <img alt="brand" class="brand" src="assets/logo/featbit-logo-text.svg">
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
