<div class="login-layout">
  <div class="login-wrapper">
    <div class="left-img"><img src="assets/svgs/login-left.svg" alt=""></div>
    <div class="form-content">
      <div style="display: flex;justify-content: center;align-items: center;gap: 25px;margin-bottom:50px">
        <img src="assets/svgs/logo.svg" alt="" style="width:80px;height:80px">
        <div style="font-size: 30px; font-weight: 700">FeatBit</div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
