<div class="login-layout">
  <div class="login-wrapper">
    <div class="left-img"><img src="assets/svgs/login-left.svg" alt=""></div>
    <div class="form-content-wrapper">
      <app-locale-switcher class="locale-switcher"></app-locale-switcher>
      <div class="form-content">
        <img class="logo" src="assets/logo/logo_black_transparent.svg">
        <img class="brand" src="assets/logo/logo_title_black.svg">
        <!-- <div class="brand">FeatBit</div> -->
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
