<div class="steps-wrapper">
  <nz-card nzBorderless>
    <div class="step-btns">
      <nz-steps [nzCurrent]="currentStep">
        <nz-step></nz-step>
        <nz-step></nz-step>
        <nz-step></nz-step>
      </nz-steps>
    </div>

    <div class="steps">
      <div class="step step1" *ngIf="currentStep === 0">
        <create-feature-flag [flag]="flag" (onComplete)="onStep0Complete($event)"></create-feature-flag>
      </div>
      <div class="step step2" *ngIf="currentStep === 1">
        <connect-an-sdk [secret]="secret?.value" [flagKey]="flag.key"></connect-an-sdk>
      </div>
      <div class="step step2" *ngIf="currentStep === 2">
        <test-app></test-app>
      </div>
    </div>
  </nz-card>
</div>
