<div class="steps-wrapper">
  <nz-card nzBorderless>
    <div class="step-btns">
      <nz-steps [nzCurrent]="currentStep" (nzIndexChange)="onStepChange($event)">
        <nz-step></nz-step>
        <nz-step></nz-step>
        <nz-step></nz-step>
        <nz-step></nz-step>
      </nz-steps>
    </div>

    <div class="steps">
      <div class="step step1" *ngIf="currentStep === 0">
        <create-feature-flag (onNext)="onNext($event)"></create-feature-flag>
      </div>
      <div class="step step2" *ngIf="currentStep === 1">
        <connect-an-sdk [secret]="secret?.value"></connect-an-sdk>
      </div>
      <div class="step step2" *ngIf="currentStep === 2">
        <form [formGroup]="step0Form">
          <div class="info-item">
            <p nz-typography i18n="@@common.org-name">Organization name</p>
            <input nz-input placeholder="E.g. Featbit" formControlName="organizationName" />
          </div>
        </form>
      </div>
      <div class="step step2" *ngIf="currentStep === 3">
        <form [formGroup]="step0Form">
          <div class="info-item">
            <p nz-typography i18n="@@common.org-name">Organization name</p>
            <input nz-input placeholder="E.g. Featbit" formControlName="organizationName" />
          </div>
        </form>
      </div>
    </div>
  </nz-card>
</div>
