<section class="header-body">
  <div class="page-title">
    {{pageTitle}}
    <!-- <ul>
      <li *ngFor="let breadcrumb of (breadcrumbs$ | async)">
        <a [href]="breadcrumb.url">{{ breadcrumb.label }}</a>
      </li>
    </ul> -->
  </div>
  <div style="display:flex;justify-content: flex-end;align-items: center">
    <div class="header-info">
      <div class="org-proj-env">
      <span [routerLink]="['/account-settings']">
        <i nz-icon nzType="icons:icon-org"></i>
        {{currentAccount?.organizationName}}
      </span>
        <span (click)="envModalVisible=true">
        <i nz-icon nzType="icons:icon-proj"></i>
          {{currentProjectEnv?.projectName}}
      </span>
        <span (click)="envModalVisible=true">
        <i nz-icon nzType="icons:icon-env"></i>
          {{currentProjectEnv?.envName}}
      </span>
      </div>

      <div class="switch" (click)="envModalVisible=true">
        <button class="switch-link-btn" nz-button nzType="link">
          <i nz-icon nzType="icons:icon-swap"></i>
        </button>
      </div>
    </div>
  </div>

</section>

<nz-modal
  nzCentered
  nzWidth="792"
  [nzVisible]="envModalVisible"
  [nzFooter]="modalFooter"
  (nzOnCancel)="envModelCancel()"
  i18n-nzTitle
  nzTitle="Change environment">
  <ng-container *nzModalContent>
    <message *ngIf="!canListProjects" [type]="'warning'" [content]="cannotReadProjectsMsg"></message>
    <message *ngIf="!canListEnvs" [type]="'warning'" [content]="cannotReadEnvsMsg"></message>
    <div class="project-envs">
      <nz-list class="overflow-y-list" style="--list-height: 320px" [nzHeader]="projectHeader">
        <nz-list-item
          [ngClass]="{'item-selected': selectedProject?.id === project.id}"
          *ngFor="let project of availableProjects"
          (click)="onSelectProject(project)">
          {{ project.name }}
        </nz-list-item>
        <ng-template #projectHeader>
          <span class="header" i18n>Projects</span>
        </ng-template>
      </nz-list>
      <nz-list class="overflow-y-list" style="--list-height: 320px" [nzHeader]="envHeader">
        <nz-list-item
          [ngClass]="{'item-selected': selectedEnv?.id === env.id}"
          *ngFor="let env of availableEnvs"
          (click)="onSelectEnv(env)">
          {{ env.name }}
        </nz-list-item>
        <ng-template #envHeader>
          <span class="header" i18n>Environments</span>
        </ng-template>
      </nz-list>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="envModelCancel()" i18n>Cancel</button>
    <button nz-button nzType="primary" (click)="envModalConfirm()" i18n>OK</button>
  </ng-template>
</nz-modal>
