<nz-modal [nzWidth]='800' nzClassName="review-modal" [(nzVisible)]="visible"
          i18n-nzTitle="@@common.review-and-save"
          nzTitle="Review and save"
          [nzClosable]="false"
          (nzOnCancel)="closeModal()">
  <ng-container *nzModalContent>
    <div class="">
      <section class="context">
        <div><span>{{refName}}</span>
        </div>
      </section>
      <section class="warning-message">
        <div class="warning">
          <span class="warning-icon"><i nz-icon nzType="warning" nzTheme="fill"></i></span>
          <div class="warning-content" i18n="@@ff.targeting.the-following-changes-may-affect-insights">The following changes may affects the insights data</div>
        </div>
      </section>
      <section class="pending-changes">
        <div class="section-title" i18n="@@common.changes">Changes</div>
        <div class="change">
          <p class="change-count">
            <span>{{numChanges}} </span>
            <ng-container i18n="@@common.number-of-changes-to-submit">changes to submit</ng-container>
          </p>
          <change-list [categories]="changeCategories"></change-list>
        </div>
      </section>
      <section class="comment">
        <form nz-form [formGroup]="reviewForm" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label class="section-title" i18n="@@common.comment">Comment</nz-form-label>
            <nz-form-control>
              <textarea rows="4" nz-input i18n-placeholder="@@common.comment" placeholder="Comment" formControlName="comment"></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </section>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()" i18n="@@common.cancel">Cancel</button>
    <button [disabled]="numChanges === 0" nz-button nzType="primary"
            (click)="onValidate()" i18n="@@common.save">Save</button>
  </div>
</nz-modal>
