<section class="body-container">

  @if (!isLoading) {
    <div class="block standard-div">
      <div class="item title">
        <div class="label" i18n="@@common.name">Name</div>
        <div class="value">
          @if (isEditingTitle) {
            <input nz-input placeholder="Name" i18n-placeholder="@@common.name" [(ngModel)]="policy.name" />
          } @else {
            <span [nz-tooltip]="policy.name" class="text">{{policy.name}}</span>
          }
          @if (!isReadonly) {
            <div class="actions">
              @if (isEditingTitle) {
                <i nz-icon nzType="close" (click)="this.isEditingTitle = false"></i>
                <i (click)="saveTitle()" nz-icon nzType="icons:icon-save"></i>
              } @else {
                <i (click)="this.isEditingTitle = true" nz-icon nzType="icons:icon-edit"></i>
              }
            </div>
          }
        </div>
      </div>
      <div class="item description" [class]="{editing: isEditingDescription}">
        @if (isEditingDescription) {
          <textarea nz-input placeholder="Description" i18n-placeholder="@@common.description" [(ngModel)]="policy.description" [nzAutosize]="{ minRows: 3 }"></textarea>
        } @else {
          <span>{{policy.description}}</span>
        }
        @if (!isReadonly) {
          <div class="actions">
            @if (isEditingDescription) {
              <i nz-icon nzType="close" (click)="this.isEditingDescription = false"></i>
              <i (click)="saveDescription()" nz-icon nzType="icons:icon-save"></i>
            } @else {
              <i (click)="this.isEditingDescription = true" nz-icon nzType="icons:icon-edit"></i>
            }
          </div>
        }
      </div>
      <div class="item">
        <div class="label" i18n="@@common.type">Type</div>
        <div class="value">
          @if (policy.type === 'SysManaged') {
            <i style="color: #28a17d;" nz-icon nzType="star" nzTheme="outline"></i>
          }
          {{policy.type | policyType}}
        </div>
      </div>
      <div class="item">
        <div class="label" i18n="@@common.rn">Resource name (RN)</div>
        <div class="value">
          <i class="copy-icon" nz-icon nzType="icons:icon-copy" (click)="copyText(resourceName())"></i>
          {{resourceName()}}
        </div>
      </div>
    </div>
  } @else {
    <div class="block">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  }

  @if (!isLoading) {
    @if (policy.type !== 'SysManaged') {
      <div class="block" >
        <div class="delete">
          <button nz-button nzType="default" i18n-nz-popconfirm="@@common.remove-confirm" nz-popconfirm="This operation cannot be reverted, are you sure to remove it?"
            nzPopconfirmPlacement="bottomRight"
            [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
            (nzOnConfirm)="deletePolicy()" [nzIcon]="iconTpl">
            <i class="delete-icon" nz-icon nzType="icons:icon-delete"></i>
            <ng-container i18n="@@common.remove">Remove</ng-container>
          </button>
          <ng-template #iconTpl>
            <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
          </ng-template>
        </div>
      </div>
    }
  } @else {
    <div class="block">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  }
</section>


