<section class="body-container">
  <ng-template #loadingTem>
    <div class="block">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-template>

  <div class="block standard-div" *ngIf="!isLoading; else loadingTem;">
    <div class="item title">
      <div class="label" i18n="@@common.name">Name</div>
      <div class="value">
        <ng-container *ngIf="!isEditingTitle">
          <span [nz-tooltip]="policy.name" class="text">{{policy.name}}</span>
          <i *ngIf="!isReadonly" class="edit-save" (click)="toggleTitleEditState()" nz-icon nzType="icons:icon-edit"></i>
        </ng-container>
        <ng-container *ngIf="isEditingTitle">
          <input nz-input placeholder="Name" i18n-placeholder="@@common.name" [(ngModel)]="policy.name" />
          <i class="edit-save" (click)="saveTitle()" nz-icon nzType="icons:icon-save"></i>
        </ng-container>
      </div>
    </div>
    <div class="item description" [class]="{editing: isEditingDescription}">
      <ng-container *ngIf="!isEditingDescription">
        <span>{{policy.description}}</span>
        <i *ngIf="!isReadonly" class="edit-save" (click)="toggleDescriptionEditState()" nz-icon nzType="icons:icon-edit"></i>
      </ng-container>
      <ng-container *ngIf="isEditingDescription">
        <textarea nz-input placeholder="Description" i18n-placeholder="@@common.description" [(ngModel)]="policy.description" [nzAutosize]="{ minRows: 3 }"></textarea>
        <i class="edit-save" (click)="saveDescription()" nz-icon nzType="icons:icon-save"></i>
      </ng-container>
    </div>
    <div class="item">
      <div class="label" i18n="@@common.type">Type</div>
      <div class="value">
        <i *ngIf="policy.type === 'SysManaged'" style="color: #28a17d;" nz-icon nzType="star" nzTheme="outline"></i>
        {{policy.type | policyType}}
      </div>
    </div>
    <div class="item">
      <div class="label" i18n="@@common.rn">Resource name (RN)</div>
      <div class="value">
        <i class="copy-icon" nz-icon nzType="icons:icon-copy" (click)="copyText(resourceName())"></i>
        {{resourceName()}}
      </div>
    </div>
  </div>

  <ng-container *ngIf="!isLoading; else loadingTem;">
    <div class="block"  *ngIf="policy.type !== 'SysManaged'">
      <div class="delete">
        <button nz-button nzType="default" i18n-nz-popconfirm="@@common.remove-confirm" nz-popconfirm="This operation cannot be reverted, are you sure to remove it?"
                nzPopconfirmPlacement="bottomRight"
                [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                (nzOnConfirm)="deletePolicy()" [nzIcon]="iconTpl">
          <i class="delete-icon" nz-icon nzType="icons:icon-delete"></i>
          <ng-container i18n="@@common.remove">Remove</ng-container>
        </button>
        <ng-template #iconTpl>
          <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
        </ng-template>
      </div>
    </div>
  </ng-container>
</section>


