// custom select arrow
.ant-select-arrow {
  display: none;
}

.ant-select::after {
  position: absolute;
  right: 11px;
  visibility: visible !important;
  width: 20px !important;
  height: 20px;
  content: url("../assets/icons/icon-dropdown.svg") !important;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
}

.ant-pagination-options .ant-select-selector::after {
  right: 2px;
}

nz-select:not(.ant-select-customize-input) {
  &.ant-select-multiple.rounded {
    .ant-select-selection-item {
      max-width: 105px;
      &:first-child {
        margin-left: 10px;
      }
    }

    .ant-select-selection-search {
      width: 40px !important;
    }
  }

  &.ant-select-single, &.ant-select-multiple {
    .ant-select-selector {
      border: 1px solid #EAECEE;
      box-sizing: border-box;
      border-radius: 8px;
    }

    &.filter {
      width: 200px;

      .ant-select-selector {
        border: 1px solid #d9d9d9;
      }
    }

    &.nz-select-40 {
      &.rounded .ant-select-selector {
        border-radius: 32px;
      }

      .ant-select-selector {
        height: 40px;

        .ant-select-selection-search-input {
          margin-top: 3px;
        }

        .ant-select-selection-placeholder,
        .ant-select-selection-item {
          margin-top: 5px;
        }
      }
    }

    &.nz-select-36:not(.target-flex-rule-select) .ant-select-selector {
      height: 36px;

      .ant-select-selection-search-input,
      .ant-select-selection-placeholder,
      .ant-select-selection-item {
        margin-top: 3px;
      }
    }

    // for select used for "is one of" rules in targeting rules
    &.target-flex-rule-select.nz-select-36 .ant-select-selector {
      min-height: 36px;
      max-height: 100px;
      padding-top: 0;
      padding-bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;
      box-sizing: border-box;

      .ant-select-selection-search{
        margin-right: 25px;
      }
      .ant-select-selection-item {
        margin-top: 3px;
        max-width:calc(100% - 25px);
      }

      .ant-select-selection-search-input,
      .ant-select-selection-placeholder{
        margin-top: 3px;
      }
    }
  }

  &.ant-select-multiple.nz-select-40 .ant-select-selector .ant-select-selection-placeholder {
    margin-top: 5px;
  }
}


