<nz-modal
  nzClassName="import-user-modal"
  [(nzVisible)]="isVisible"
  nzTitle="Import User"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="onCancel()"
  nzMaskClosable="true"
>
  <ng-template #modalContent>
    <div class="note">
      <p>
        Choose the data file you want to import.
        <a class="template-link" href="assets/upload_example.json" target="_blank">Click to view the template</a>
      </p>
      <ul>
        <li><strong>Users</strong>: We will either create new user records or update existing ones based on the keyId.</li>
        <li><strong>User Properties</strong>: Any new user properties in the file will be added, but existing properties will not be changed.</li>
      </ul>
    </div>
    <div class="upload">
      <nz-upload
        nzType="drag"
        [nzMultiple]="true"
        nzAccept="application/json"
        [nzAction]="uploadUrl"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)"
        [nzShowUploadList]="false"
      >
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
      </nz-upload>
      <div class="hint">
        <p>Supported format: JSON</p>
        <p>Maximum file size: 500MB</p>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>
