@import "variables";

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row nz-select {
  width: 100%;
}

.editable-cell span {
  display: inline-block;
  height: 15px;
}

.editable-cell:hover {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.add-tag-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 4px 8px;
}

.add-tag-link {
  display: block;
  flex: 0 0 auto;
  padding: 0 4px;
}
