<div class="table-content-area">
  <div class="table-search-area">
    <nz-select class="middle-select" nzShowSearch nzAllowClear nzPlaceHolder="选择类别进行筛选" [(ngModel)]="filterTag"
      (ngModelChange)="filterRow()">
      <nz-option *ngFor="let item of tags" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select>

    <div class="search-inputs">
      <button class="sync-btn" nz-button nzType="primary" (click)="syncAll()" [nzLoading]="isSyncingAll"
        nz-tooltip="对表格中现有条目进行数据同步" nzTooltipPlacement="top">
        <i nz-icon nzType="icons:icon-sync"></i>
        数据同步
      </button>
      <button nz-button nzType="primary" (click)="newRow()">
        <i nz-icon nzType="icons:icon-add" nzTheme="outline"></i>
        新增同步地址
      </button>
    </div>
  </div>
  <div class="table-wrapper">
    <nz-table nzSize="small" #editRowTable [nzData]="filteredSettings" nzShowPagination nzFrontPagination
      nzShowSizeChanger [nzPageSizeOptions]="[10, 20, 30]" [nzLoading]="isLoading">
      <thead>
        <tr>
          <th nzWidth="10%">名称</th>
          <th nzWidth="15%">类别</th>
          <th nzWidth="30%">链接</th>
          <th nzWidth="20%">操作</th>
          <th style="text-align: center">备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of editRowTable.data" class="editable-row">

          <div *ngIf="row.isEditing, then editingRow else showRow"></div>
          <ng-template #editingRow>
            <td>
              <input type="text" nz-input [(ngModel)]="row.key" placeholder="地址名称" />
            </td>
            <td>
              <nz-select nzShowSearch nzAllowClear [nzDropdownRender]="newItemTpl" nzPlaceHolder="选择类别"
                [(ngModel)]="row.tag">
                <nz-option *ngFor="let item of tags" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
              <ng-template #newItemTpl>
                <nz-divider></nz-divider>
                <div class="add-tag-container">
                  <input #addTagInput type="text" nz-input />
                  <a class="add-tag-link" (click)="newTag(addTagInput)">
                    <i nz-icon nzType="plus"></i>
                    添加
                  </a>
                </div>
              </ng-template>
            </td>
            <td>
              <input type="text" nz-input [(ngModel)]="row.value" placeholder="地址值" />
            </td>
          </ng-template>
          <ng-template #showRow>
            <td style="padding-left: 12px;">
              <div class="editable-cell" (click)="edit(row)">
                <span>{{ row.key }}</span>
              </div>
            </td>
            <td>
              <div class="editable-cell" (click)="edit(row)">
                <span>{{ row.tag }}</span>
              </div>
            </td>
            <td>
              <div class="editable-cell" (click)="edit(row)">
                <span>{{ row.value }}</span>
              </div>
            </td>
          </ng-template>

          <td>
            <button nz-button nzSize="default" nzType="link" (click)="edit(row)" *ngIf="!row.isEditing">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>

            <button nz-button nzSize="default" nzType="link" [nzLoading]="row.isSaving" (click)="save(row)"
              *ngIf="row.isEditing">
              <i nz-icon nzType="save" nzTheme="outline"></i>
            </button>

            <button nz-button nzSize="default" nzType="link" [nzLoading]="row.isDeleting" nzDanger [nzIcon]="iconTpl"
              nz-popconfirm="确定删除么?" (nzOnConfirm)="deleteRow(row)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
              <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
              </ng-template>
            </button>

            <button nz-button nzSize="small" nzType="link" (click)="sync(row)" [nzLoading]="row.isSyncing">
              <i nz-icon [nzType]="'sync'"></i>
              数据同步
            </button>
          </td>

          <td>
            <span style="color: #4CB287" *ngIf="row.syncResult?.success">成功, 同步时间 {{row.syncResult.time}}</span>
            <span style="color: #ff7875" *ngIf="!row.syncResult?.success && row.syncResult?.time">失败, 同步时间
              {{row.syncResult.time}}</span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
