@import "variables";

.table-content-area {
  .copy-icon {
    color: @grey50-color;
    &:hover {
      cursor: pointer;
      color: @grey70-color;
    }
  }

  .status {
    &.status-Active {
      color: @green70-color;
    }
  }
}




