<ng-container *ngIf="!enableEmailRegistration">
  <phone-code-form scene="register" (onSubmit)="registerByPhone($event)" [footer]="footerTpl"></phone-code-form>
  <ng-template #footerTpl>
    <nz-form-item>
      <nz-form-control nzErrorTip="登录密码长度不能少于5位">
        <nz-input-group [nzPrefix]="passwordPrefix" [nzSuffix]="regeneratePwd">
          <input type="text" nz-input [(ngModel)]="randomPwd" [minlength]="5" placeholder="请输入登录密码（可选）"/>
          <ng-template #passwordPrefix>
            <i nz-icon nzType="icons:icon-password"></i>
          </ng-template>
          <ng-template #regeneratePwd>
            <button class="random-pwd-btn" type="button" nz-button nzType="link" nzSize="small" (click)="newRandomPwd()">
              生成随机密码
            </button>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button type="submit" class="submit-btn" nz-button nzType="primary" [nzLoading]="isRegistering">注册</button>
    <a class="return-login" (click)="login()">返回登录</a>
  </ng-template>
</ng-container>

<nz-tabset *ngIf="enableEmailRegistration">
  <nz-tab nzTitle="手机号">
    <phone-code-form scene="register" (onSubmit)="registerByPhone($event)" [footer]="footerTpl"></phone-code-form>
    <ng-template #footerTpl>
      <nz-form-item>
        <nz-form-control nzErrorTip="登录密码长度不能少于5位">
          <nz-input-group [nzPrefix]="passwordPrefix" [nzSuffix]="regeneratePwd">
            <input type="text" nz-input [(ngModel)]="randomPwd" [minlength]="5" placeholder="请输入登录密码（可选）"/>
            <ng-template #passwordPrefix>
              <i nz-icon nzType="icons:icon-password"></i>
            </ng-template>
            <ng-template #regeneratePwd>
              <button class="random-pwd-btn" type="button" nz-button nzType="link" nzSize="small" (click)="newRandomPwd()">
                生成随机密码
              </button>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button type="submit" class="submit-btn" nz-button nzType="primary" [nzLoading]="isRegistering">注册</button>
      <a class="return-login" (click)="login()">返回登录</a>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="邮箱" nz-tooltip="重新生成登录密码">
    <form nz-form [formGroup]="emailRegistrationForm" (ngSubmit)="registerByEmail()">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入有效的邮箱">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="请输入邮箱" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入有效的密码">
          <nz-input-group nzPrefixIcon="key" [nzSuffix]="suffixTemplate">
            <input
              formControlName="password"
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="请输入密码（至少五位）"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="_passwordErrorTpl">
          <nz-input-group nzPrefixIcon="key" [nzSuffix]="suffixTemplate">
            <input
              formControlName="_password"
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="请确认密码"
            />
          </nz-input-group>
          <ng-template #_passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请确认密码</ng-container>
            <ng-container *ngIf="control.hasError('mismatch')">两次输入的密码不匹配</ng-container>
          </ng-template>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" type="submit" class="submit-btn"
              nz-tooltip="确认注册后系统会发送一封验证邮件至您的邮箱, 请注意查收" nzTooltipPlacement="bottomLeft" nzTooltipColor="#434343">
        注册
      </button>
      <a style="float: right" (click)="login()">返回登录</a>
    </form>
  </nz-tab>
</nz-tabset>
