@import "variables";

.recap {
  i {
    cursor: pointer;
    font-size: 16px;
  }

  .click-to-copy:hover {
    background-color: @grey60-color;
    color: @white;
  }

  .secrets {
    .secret {
      display: flex;
      align-content: flex-start;
      align-items: center;
      gap: 4px;
      margin-bottom: 8px;

      .ant-tag {
        font-size: 12px;
        border-radius: 8px;
        white-space: nowrap;
        padding: 2px 8px;
      }

      .secret-name {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .secret-value {
        cursor: pointer;
        background-color: white;
        padding: 2px 8px;
        border-radius: 8px;
      }
    }
  }
}



