<div class="recap">
  <nz-card nzBorderless>
    <nz-descriptions nzTitle="Recapitulation" nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
      <nz-descriptions-item nzTitle="SDK endpoint">
        <i class="copy-icon" i18n-nz-tooltip="@@common.click-to-copy" nz-tooltip="Click to copy" nz-icon nzType="icons:icon-copy" (click)="copyText(sdkEnpoint)"></i>
        {{sdkEnpoint}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Open API Host">
        <i class="copy-icon" i18n-nz-tooltip="@@common.click-to-copy" nz-tooltip="Click to copy" nz-icon nzType="icons:icon-copy" (click)="copyText(apiHost)"></i>
        {{apiHost}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Secrets" class="secrets">
        <div class="secret-wrapper">
          <i class="copy-icon" i18n-nz-tooltip="@@common.click-to-copy" nz-tooltip="Click to copy" nz-icon nzType="icons:icon-copy" (click)="copyText(selectedSecret.value)"></i>
          <nz-select
            class="secrets"
            [(ngModel)]="selectedSecret"
            i18n-nzPlaceHolder="@@get-started.select-secret"
            nzPlaceHolder="Select secret"
            [compareWith]="compareWith"
            [nzCustomTemplate]="secretTemplate"
          >
            <ng-container *ngFor="let secret of env?.secrets">
              <nz-option nzCustomContent [nzValue]="secret">
                <div class="secret">
                  <span>{{secret.name}}</span>
                  <nz-tag nzColor="geekblue" *ngIf="secret.type == secretTypeServer" i18n="@@common.server">server</nz-tag>
                  <nz-tag nzColor="cyan" *ngIf="secret.type == secretTypeClient" i18n="@@common.client">client</nz-tag>
                  <span>{{secret.value}}</span>
                </div>
              </nz-option>
            </ng-container>
          </nz-select>
          <ng-template #secretTemplate let-selected>
            <span>{{selected.nzValue.name}}</span>
            <nz-tag nzColor="geekblue" *ngIf="selected.nzValue.type == secretTypeServer" i18n="@@common.server">server</nz-tag>
            <nz-tag nzColor="cyan" *ngIf="selected.nzValue.type == secretTypeClient" i18n="@@common.client">client</nz-tag>
            <span>{{selected.nzValue.value}}</span>
          </ng-template>
        </div>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</div>
