@import "variables";

.recap {
  i {
    cursor: pointer;
    font-size: 16px;
  }

  .secret-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    .secrets {
      nz-tag {
        font-size: 12px;
        border-radius: 8px;
        white-space: nowrap;
        padding: 0px 8px;
        margin: 0 8px 0 4px;
      }
    }
  }
}

::ng-deep .secret {
  nz-tag {
    font-size: 12px;
    border-radius: 8px;
    white-space: nowrap;
    padding: 0px 8px;
    margin: 0 8px 0 4px;
  }
}


