<div class="table-content-area">
  <div class="table-search-area">
    <div class="search-inputs">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input nz-input type="text" placeholder="Filter by name" i18n-placeholder="@@common.searchNamePlaceholder">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
    </div>
    <button nz-button nzType="primary" (click)="openDrawer(undefined)">
      <i nz-icon nzType="icons:icon-add"></i>
      <ng-container i18n="@@common.add">Add</ng-container>
    </button>
  </div>

  <div class="table-wrapper">
    <nz-table #table nzSize="small"
              nzShowSizeChanger
              [nzData]="webhooks.items"
              [nzFrontPagination]="false"
              [nzLoading]="isLoading"
              [nzTotal]="webhooks.totalCount"
              [(nzPageSize)]="filter.pageSize"
              (nzPageSizeChange)="loadWebhooks()"
              [nzPageSizeOptions]="[10,20,30]"
              [(nzPageIndex)]="filter.pageIndex"
              (nzPageIndexChange)="loadWebhooks()"
    >
      <thead>
      <tr>
        <th i18n="@@common.name">Name</th>
        <th i18n="@@common.status">Status</th>
        <th i18n="@@integrations.webhooks.url">URL</th>
        <th i18n="@@integrations.webhooks.events">Events</th>
        <th i18n="@@integrations.webhooks.last-trigged-at">Last triggered at</th>
        <th i18n="@@common.created-by">Created by</th>
        <th i18n="@@common.actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of table.data">
        <td class="name" (click)="openDrawer(item)"> {{ item.name }} </td>
        <td class="status">
          <span
            *ngIf="item.isActive"
            class="active"
            nz-tooltip
            nzTooltipTitle="This hook is active"
            i18n-nzTooltipTitle="@@integrations.webhooks.status-active-tooltip">
            <i nz-icon nzType="check-circle"></i>
            <span i18n="@@common.active">Active</span>
          </span>
          <span
            *ngIf="!item.isActive"
            class="inactive"
            nz-tooltip
            nzTooltipTitle="This hook is inactive"
            i18n-nzTooltipTitle="@@integrations.webhooks.status-inactive-tooltip">
            <i nz-icon nzType="close-circle"></i>
            <span i18n="@@common.inactive">Inactive</span>
          </span>
        </td>
        <td class="url">
          <span nz-tooltip [nzTooltipTitle]="item.url">{{ item.url }}</span>
        </td>
        <td class="events">
          <span nz-tooltip [nzTooltipTitle]="item.events?.join(',')">{{ item.events }}</span>
        </td>
        <td class="last-triggered-at">
          <span *ngIf="item.lastTriggeredAt">{{ item.lastTriggeredAt | date: 'YYYY-MM-dd HH:mm:ss' }}</span>
          <span *ngIf="!item.lastTriggeredAt" class="never" i18n="@@integrations.webhooks.never-triggered">Never Triggered</span>
        </td>
        <td> {{ item.creator.name ?? item.creator.email }} </td>
        <td class="actions">
          <button nz-button nzType="link" (click)="openDrawer(item)">
            <i nz-icon nzType="icons:icon-edit"></i>
            <span i18n="@@common.edit">Edit</span>
          </button>
          <button
            nz-button
            nzType="link"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure to remove it?"
            i18n-nzPopconfirmTitle="@@common.simple-remove-confirm"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="remove(item.id)">
            <i nz-icon nzType="icons:icon-delete"></i>
            <span i18n="@@common.remove">Remove</span>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<webhook-drawer [webhook]="selectedWebhook" [visible]="drawerVisible" (close)="closeDrawer($event)"></webhook-drawer>
