@import "variables";

.table-content-area {
  nz-input-group {
    width: 300px;
  }
}

.name {
  cursor: pointer;
}

.status {
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  .active {
    color: @green70-color;
  }

  .inactive {
    color: @grey50-color;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.url {
  max-width: 150px;
  .truncate;
}

.events {
  max-width: 250px;
  .truncate;
}

.last-triggered-at {
  .never {
    font-style: oblique;
    color: @grey50-color;
  }
}

.actions {
  button:first-of-type {
    padding-left: 0;
  }
}

