<section class="body-container">
  <div class="detail-body">
    <div class="banner" *ngIf="!isLoading; else loadingTem;">
      <div class="references" *ngIf="flagReferences.length === 0" i18n="@@segment.details.segment-not-used">This segment is not used by any feature flag</div>
      <div class="references" nz-dropdown [nzDropdownMenu]="menu" *ngIf="flagReferences.length > 0">
        <a>
          <ng-container i18n="@@segment.details.this-segment">This segment is used by</ng-container>
          <span class="reference-count"> {{flagReferences.length}} </span>
          <ng-container i18n="@@segment.details.num-ff">feature flag(s)</ng-container>
          <i nz-icon nzType="down"></i>
        </a>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item *ngFor="let flag of flagReferences" (click)="openFlagPage(flag.key)">
            {{flag.name}}
          </li>
        </ul>
      </nz-dropdown-menu>
      <button class="save-btn" nz-button nzType="primary" (click)="onReviewChanges()">
        <i nz-icon nzType="icons:icon-save"></i>
        <ng-container i18n="@@common.review-and-save">Review and save</ng-container>
      </button>
    </div>
    <div class="content-container">
      <div class="standard-div target-users" *ngIf="!isLoading; else loadingTem;">
        <div class="rule-banner">
          <div class="title-wraper">
            <div class="title" i18n="@@common.targeting-users">Targeting users</div>
            <i *ngIf="targetUsersActive" nz-icon (click)="targetUsersActive = !targetUsersActive" nzType="icons:icon-arrow-down"></i>
            <i *ngIf="!targetUsersActive" nz-icon (click)="targetUsersActive = !targetUsersActive" nzType="icons:icon-arrow-right"></i>
          </div>
        </div>
        <div *ngIf="targetUsersActive" style="margin-left: -12px;margin-top: 16px">
          <div class="content">
            <target-user
              i18n-type="@@common.including-users"
              type="Including users"
              [tipIdx]="0"
              [userList]="userList"
              [selectedUserDetailList]="segmentDetail.includedUsers"
              (search)="onSearchUser($event)"
              (onSelectedUserListChange)="onSelectedUserListChange($event, true)">
            </target-user>
          </div>
          <div class="content">
            <target-user
              i18n-type="@@common.excluding-users"
              type="Excluding users"
              [tipIdx]="1"
              [userList]="userList"
              [selectedUserDetailList]="segmentDetail.excludedUsers"
              (search)="onSearchUser($event)"
              (onSelectedUserListChange)="onSelectedUserListChange($event, false)">
            </target-user>
          </div>
        </div>
      </div>
      <div class="standard-div" *ngIf="!isLoading && !isUserPropsLoading; else loadingTem;">
        <div class="rule-banner">
          <div class="title" i18n="@@common.rules">Rules</div>
          <i nz-icon (click)="addRule()" nzType="icons:icon-add-outline"></i>
        </div>
        <div class="drop-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
          <ng-container *ngFor="let rule of segmentDetail.rules; let index=index; trackBy: trackRuleById;">
            <div class="drop-box rule" cdkDrag>
              <find-rule
                [data]="rule"
                [userProps]="userProps"
                (deleteRule)="deleteRule(index)"
                (onConditionChange)="onRuleConditionsChange($event, index)"
                (updateRuleName)="rule.name = $event">
              </find-rule>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingTem>
    <div class="block">
      <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
    </div>
  </ng-template>
</section>

<nz-modal [nzWidth]='800' nzClassName="review-modal" [(nzVisible)]="reviewModalVisible"
          i18n-nzTitle="@@common.review-and-save"
          nzTitle="Review and save"
          [nzClosable]="false"
          (nzOnCancel)="reviewModalVisible=false">
  <ng-container *nzModalContent>
    <div class="">
      <section class="context">
        <div><span>{{segmentDetail.segment.name}}</span>
        </div>
      </section>
      <section class="warning-message">
        <div class="warning">
          <span class="warning-icon"><i nz-icon nzType="warning" nzTheme="fill"></i></span>
          <div class="warning-content" i18n="@@ff.targeting.the-following-changes-may-affect-insights">The following changes may affects the insights data</div>
        </div>
      </section>
      <section class="pending-changes">
        <div class="section-title" i18n="@@common.changes">Changes</div>
        <div class="change">
          <p class="change-count">
            <span>{{numChanges}} </span>
            <ng-container i18n="@@common.number-of-changes-to-submit">changes to submit</ng-container>
          </p>
          <change-list [categories]="changeCategories"></change-list>
        </div>
      </section>
      <section class="comment">
        <form nz-form [formGroup]="reviewForm" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label nzRequired class="section-title" i18n="@@common.comment">Comment</nz-form-label>
            <nz-form-control i18n-nzErrorTip="@@common.comment-cannot-be-empty" nzErrorTip="Comment cannot be empty">
              <textarea rows="4" nz-input i18n-placeholder="@@common.comment" placeholder="Comment" formControlName="comment"></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </section>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="reviewModalVisible=false" i18n="@@common.cancel">Cancel</button>
    <button [disabled]="numChanges === 0" nz-button nzType="primary"
            (click)="onSave()" i18n="@@common.save">Save</button>
  </div>
</nz-modal>


