.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .tip {
    display: flex;
    align-items: center;
    gap: 4px;

    i {
      cursor: help;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.add-scope-button {
  padding: 0 2px;
  height: 20px;
  margin-bottom: 4px;

  i {
    font-size: 16px;
  }
}

.scopes-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4px;
  margin-left: 12px;

  nz-tag {
    margin-bottom: 6px;
  }

  span {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

.ant-alert-description {
  font-size: 16px;
}

.need-license-description {
  display: grid;
  place-content: center;
  height: 130px;
  text-align: center;
  font-size: 15px;
}

.actions {
  button {
    height: unset;
    width: unset;
    border-radius: 10px;
  }
}
