<nz-drawer
  nzClosable="false"
  [nzExtra]="extra"
  nzPlacement="right"
  i18n-nzTitle="@@users.idx.customized-user-properties"
  nzTitle="End user properties"
  [nzBodyStyle]="{'padding-top': '12px'}"
  [nzWidth]="900"
  [nzVisible]="visible"
  (nzOnClose)="close.emit()">
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form" nzLayout="vertical" class="proxy-form">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." i18n-nzValidatingTip="@@common.validating" [nzErrorTip]="errorTpl">
          <input type="text" nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
        </nz-form-control>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')" i18n="@@common.name-cannot-be-empty">Name cannot be empty</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')" i18n="@@common.name-unavailable">Name is not available</ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label i18n="@@common.description">Description</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Cannot exceed 512 characters" i18n-nzErrorTip="@@common.description.cannot-exceed-512-characters">
          <nz-textarea-count [nzMaxCharacterCount]="512">
            <textarea nz-input formControlName="description" i18n-placeholder="@@common.description" placeholder="Description">
            </textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <ng-container formArrayName="scopes">
          <nz-form-label nzRequired>
            <span i18n="@@common.scopes">Scopes</span>
            <i nz-icon (click)="addScope()" nzType="icons:icon-add-outline"></i>
          </nz-form-label>
          <div class="scope-selectors">
            <ng-container *ngFor="let _ of scopes.controls; let i = index">
              <div class="scope-form-row" [formGroupName]="i">
                <div class="proj-env-selectors">
                  <nz-form-control>
                    <nz-select
                      nzShowSearch
                      i18n-placeholder="@@common.project"
                      nzPlaceHolder="Project"
                      formControlName="projectId">
                      <ng-container *ngFor="let project of projects">
                        <nz-option *ngIf="!isProjectsLoading" [nzLabel]="project.name" [nzValue]="project.id"></nz-option>
                      </ng-container>
                      <nz-option *ngIf="isProjectsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> <ng-container i18n="@@common.loading">Loading...</ng-container>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>

                  <nz-form-control>
                    <nz-select
                      nzMode="tags"
                      nzShowSearch
                      i18n-placeholder="@@common.environments"
                      nzPlaceHolder="Environments"
                      formControlName="envIds">
                      <ng-container *ngFor="let env of getProjectEnvs(i)">
                        <nz-option *ngIf="!isProjectsLoading" [nzLabel]="env.name" [nzValue]="env.id"></nz-option>
                      </ng-container>
                      <nz-option *ngIf="isProjectsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> <ng-container i18n="@@common.loading">Loading...</ng-container>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </div>
                <i nz-icon nzType="icons:icon-delete" (click)="removeLesson(i)"></i>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </nz-form-item>
      <nz-form-item class="agents">
        <ng-container formArrayName="agents">
          <nz-form-label nzRequired>
            <span i18n="@@common.agents">Agents</span>
            <i nz-icon (click)="addAgent()" nzType="icons:icon-add-outline"></i>
          </nz-form-label>

          <div class="table-content-area">
            <div class="table-wrapper">
              <nz-table #agentTable
                        nzTableLayout="fixed"
                        nzSize="small"
                        nzFrontPagination
                        nzShowPagination
                        [nzData]="agents.controls">
                <thead>
                <tr>
                  <th nzWidth="230px" i18n="@@common.name">Name</th>
                  <th nzWidth="280px" i18n="@@common.host">Host</th>
                  <th nzWidth="80px" nzAlign="center" i18n="@@common.status">Status</th>
                  <th nzWidth="80px" nzAlign="center" i18n="@@common.sync">Sync</th>
                  <th nzWidth="90px" nzAlign="center" i18n="@@common.actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let _ of agentTable.data; let i = index">
                  <tr [formGroupName]="i">
                    <td>
                      <nz-form-control>
                        <input type="text" nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
                      </nz-form-control>
                    </td>
                    <td>
                      <nz-form-control>
                        <input type="text" nz-input formControlName="host" placeholder="Host" i18n-placeholder="@@common.host"/>
                      </nz-form-control>
                    </td>
                    <td style="text-align: center" class="status status-{{getAgentStatusFromIndex(i)}}">
                      <ng-container *ngIf="getAgentStatusFromIndex(i) === agentStatusHealthy">
                        <i (click)="getAgentStatusInfo(i)" nz-icon nzType="check-circle" i18n-nz-tooltip="@@common.click-to-refresh-status-detail" nz-tooltip="Click to refresh the status detail"></i>
                      </ng-container>
                      <ng-container *ngIf="getAgentStatusFromIndex(i) === agentStatusUnhealthy">
                        <i (click)="getAgentStatusInfo(i)" nz-icon nzType="issues-close" i18n-nz-tooltip="@@common.click-to-refresh-status-detail" nz-tooltip="Click to refresh the status detail"></i>
                      </ng-container>
                      <ng-container *ngIf="getAgentStatusFromIndex(i) === agentStatusLoading">
                        <i nz-icon nzType="loading"></i>
                      </ng-container>
                      <ng-container *ngIf="getAgentStatusFromIndex(i) === agentStatusNone">
                        <i (click)="getAgentStatusInfo(i)" nz-icon nzType="stop" i18n-nz-tooltip="@@common.click-to-view-status-detail" nz-tooltip="Click to view the status detail"></i>
                      </ng-container>
                    </td>
                    <td style="text-align: center">
                      <button nz-button nzSize="small" nzType="link" (click)="removeAgent(i)" [disabled]="!isEditing">
                        <i nz-icon [nzType]="'sync'"></i>
                      </button>
                    </td>
                    <td style="text-align: center">
                      <button nzDanger nz-button nzSize="small" nzType="link" (click)="removeAgent(i)">
                        <i nz-icon nzType="icons:icon-delete"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </nz-table>
            </div>
          </div>
        </ng-container>
      </nz-form-item>
    </form>
    <button (click)="doSubmit()" nz-button class="submit-btn" [nzType]="'primary'" i18n="@@common.save">Save</button>
  </ng-container>
  <ng-template #extra>
    <i (click)="close.emit()" nz-icon nzType="icons:icon-close"></i>
  </ng-template>
</nz-drawer>

<nz-modal
  nzCentered
  [nzWidth]="800"
  [nzVisible]="agentStatusModalVisible"
  (nzOnCancel)="closeAgentStatusModal()"
  (nzOnOk)="closeAgentStatusModal()"
  [nzTitle]="modalTitle">
  <ng-template #modalTitle>
    <span style="display:inline-block;padding: 0 5px; font-weight: 600">aa</span>
  </ng-template>
  <ng-container *nzModalContent>
    <prism [code]="agentStatus" language="javascript"></prism>
  </ng-container>
</nz-modal>
