.choose-env-button {
  padding: 0;
  margin: 4px 0;

  i {
    font-size: 16px;
  }
}

.scopes-changed-warning {
  display: block;
  color: #ffc107;
  margin-top: 4px;
}

.not-synced-yet,
.no-auto-agents-tip {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-weight: bold;
}

.manual-agents {
  button {
    padding-left: 0;
  }

  a {
    padding: 0;
  }

  .agent-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .meta {
      flex: 1;
      display: flex;
      gap: 8px;

      .column {
        width: 250px;
      }
    }
  }
}

.align-end {
  text-align: end;
}
