<nz-drawer
  [nzClosable]="false"
  [nzExtra]="extra"
  nzPlacement="right"
  [nzTitle]="title"
  [nzBodyStyle]="{'padding-top': '12px'}"
  [nzWidth]="1100"
  [nzVisible]="visible"
  (nzOnClose)="cancel()">
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form" nzLayout="vertical" class="proxy-form">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." i18n-nzValidatingTip="@@common.validating" [nzErrorTip]="errorTpl">
          <input type="text" nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
        </nz-form-control>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')" i18n="@@common.name-cannot-be-empty">Name cannot be empty</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')" i18n="@@common.name-unavailable">Name is not available</ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label i18n="@@common.description">Description</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Cannot exceed 512 characters" i18n-nzErrorTip="@@common.description.cannot-exceed-512-characters">
          <nz-textarea-count [nzMaxCharacterCount]="512">
            <textarea nz-input formControlName="description" i18n-placeholder="@@common.description" placeholder="Description">
            </textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>
          <span i18n="@@common.scopes">Scopes</span>
          <i i18n-nz-tooltip="@@relay-proxy.scopes-tooltip" nz-tooltip="Define the environments that should be synchronized to the agents" nz-icon nzType="icons:icon-info-outline"></i>
          <i *ngIf="!readonly && !form.value.isAllEnvs" nz-icon (click)="addScope()" nzType="icons:icon-add-outline"></i>
        </nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isAllEnvs" class="custom-scope-type">
            <label nz-radio [nzValue]="true" i18n="@@common.all-envs">All environments</label>
            <label nz-radio [nzValue]="false" i18n="@@common.customize-envs">Customize environments</label>
          </nz-radio-group>
        </nz-form-control>
        <ng-container formArrayName="scopes" *ngIf="!form.value.isAllEnvs">
          <div class="scope-selectors">
            <ng-container *ngFor="let _ of scopes.controls; let i = index">
              <div class="scope-form-row" [formGroupName]="i">
                <div class="proj-env-selectors">
                  <nz-form-control>
                    <nz-select
                      class="project-selector"
                      i18n-nzPlaceHolder="@@common.project"
                      nzPlaceHolder="Project"
                      formControlName="projectId">
                      <ng-container *ngFor="let project of projects">
                        <nz-option *ngIf="!isProjectsLoading" [nzLabel]="project.name" [nzValue]="project.id" [nzHide]="isProjectSelected(project.id)"></nz-option>
                      </ng-container>
                      <nz-option *ngIf="isProjectsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> <ng-container i18n="@@common.loading">Loading...</ng-container>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                  <nz-form-control>
                    <nz-select
                      class="env-selector"
                      nzMode="multiple"
                      i18n-nzPlaceHolder="@@common.environments"
                      nzPlaceHolder="Environments"
                      formControlName="envIds">
                      <ng-container *ngFor="let env of getProjectEnvs(i)">
                        <nz-option *ngIf="!isProjectsLoading" [nzLabel]="env.name" [nzValue]="env.id" [nzHide]="isEnvSelected(env.id)"></nz-option>
                      </ng-container>
                      <nz-option *ngIf="isProjectsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> <ng-container i18n="@@common.loading">Loading...</ng-container>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </div>
                <button *ngIf="!readonly" nzDanger nz-button nzSize="small" nzType="link" (click)="removeEnv(i)">
                  <i nz-icon nzType="icons:icon-delete"></i>
                </button>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </nz-form-item>
      <nz-form-item class="agents">
        <ng-container formArrayName="agents">
          <nz-form-label nzRequired>
            <span i18n="@@common.agents">Agents</span>
            <i [nz-tooltip]="agentsTooltip" nz-icon nzType="icons:icon-info-outline">
              <ng-template #agentsTooltip>
                <ng-container i18n="@@relay-proxy.agents-tooltip">A relay proxy agent is the server running the FeatBit agent program</ng-container>
                <br>
                <a target="_blank" href="https://github.com/featbit/featbit-agent" i18n="@@common.check-the-repo">Check the repo</a>
              </ng-template>
            </i>
            <i *ngIf="!readonly" nz-icon (click)="addAgent()" nzType="icons:icon-add-outline"></i>
            <a nz-button nzType="link" i18n="@@common.sync-all" [nzLoading]="isSyncingAll" [disabled]="isSyncAllBtnDisabled" (click)="syncAll()">Sync all</a>
          </nz-form-label>
          <div class="table-content-area">
            <div class="table-wrapper">
              <nz-spin [nzSpinning]="isSyncingAll">
                <nz-table #agentTable
                          nzTableLayout="fixed"
                          nzSize="small"
                          [nzFrontPagination]="false"
                          [nzData]="agents.controls">
                  <thead>
                  <tr>
                    <th nzWidth="240px" i18n="@@common.name">Name</th>
                    <th nzWidth="290px" i18n="@@common.host">Host</th>
                    <th nzWidth="100px" nzAlign="center">
                      <ng-container i18n="@@common.status">Status</ng-container>
                      <i [nz-tooltip]="statusTooltip" style="margin-left: 4px" nz-icon nzType="question-circle" nzTheme="outline">
                        <ng-template #statusTooltip>
                          <ng-container i18n="@@relay-proxy.click-status-icon-to-refresh-and-view-status-detail">The status of the agent, click icon to refresh and view the status detail</ng-container>
                          <br>
                          <a target="_blank" href="https://docs.featbit.co/docs/relay-proxy/relay-proxy#agent-status" i18n="@@common.check-status-definition">Check the status definition</a>
                        </ng-template>
                      </i>
                    </th>
                    <th nzWidth="120px" nzAlign="center" i18n="@@common.last-sync">Last Sync</th>
                    <th nzWidth="200px" nzAlign="center" i18n="@@common.actions">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let agent of agentTable.data; let i = index">
                    <tr [formGroupName]="i">
                      <td>
                        <nz-form-control>
                          <input type="text" nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
                        </nz-form-control>
                      </td>
                      <td>
                        <nz-form-control>
                          <input type="text" nz-input formControlName="host" placeholder="Host" i18n-placeholder="@@common.host"/>
                        </nz-form-control>
                      </td>
                      <td style="text-align: center" class="status status-{{agentStatusDict[agent.value['id']]}}">
                        <div class="status-wrapper"
                             *ngIf="agentStatusDict[agent.value['id']] === AgentStatusEnum.Healthy"
                             (click)="getAgentStatusInfo(agent.value['id'], agent.value['host'])">
                          <i nz-icon nzType="check-circle"></i>
                          <span i18n="@@common.healthy">Healthy</span>
                        </div>
                        <div class="status-wrapper"
                             *ngIf="agentStatusDict[agent.value['id']] === AgentStatusEnum.Unhealthy"
                             (click)="getAgentStatusInfo(agent.value['id'], agent.value['host'])">
                          <i nz-icon nzType="issues-close"></i>
                          <span i18n="@@common.unhealthy">Unhealthy</span>
                        </div>
                        <div class="status-wrapper"
                             *ngIf="agentStatusDict[agent.value['id']] === AgentStatusEnum.Unreachable"
                             (click)="getAgentStatusInfo(agent.value['id'], agent.value['host'])">
                          <i nz-icon nzType="close-circle"></i>
                          <span i18n="@@common.unreachable">Unreachable</span>
                        </div>
                        <div class="status-wrapper"
                             *ngIf="agentStatusDict[agent.value['id']] === AgentStatusEnum.Unauthorized"
                             (click)="getAgentStatusInfo(agent.value['id'], agent.value['host'])">
                          <i nz-icon nzType="stop"></i>
                          <span i18n="@@common.unauthorized">Unauthorized</span>
                        </div>
                        <div class="status-wrapper" *ngIf="agentStatusDict[agent.value['id']] === AgentStatusEnum.Loading">
                          <i nz-icon nzType="loading" i18n-nz-tooltip="@@common.loading" nz-tooltip="Loading..."></i>
                        </div>
                        <button class="status-wrapper" nz-button nzSize="small" nzType="link"
                                [disabled]="agent.value['host'] === ''"
                                *ngIf="isEditing && agentStatusDict[agent.value['id']] === AgentStatusEnum.Unknown"
                                (click)="getAgentStatusInfo(agent.value['id'], agent.value['host'])">
                          <span i18n="@@common.check">Check</span>
                        </button>
                      </td>
                      <td style="text-align: center">
                        {{agent.value['syncAt'] | date: 'YYYY-MM-dd HH:mm'}}
                      </td>
                      <td style="text-align: center">
                        <ng-container *ngIf="!readonly">
                          <span *ngIf="isEditing">
                            <i *ngIf="agent.value['isNew'] || agent.controls['host'].dirty" nz-icon nzType="question-circle" nzTheme="outline"
                               i18n-nz-tooltip="@@relay-proxy.save-to-sync-to-agent"
                               nz-tooltip="The agent setting must be saved to enable the synchronization"></i>
                            <button [class]="{'sync-button-new': agent.value['isNew']}" nz-button nzSize="small" nzType="link"
                                    (click)="sync(agent)"
                                    [nzLoading]="agentSyncProcessingDic[agent.value['id']]"
                                    [disabled]="agent.value['isNew'] || agent.controls['host'].dirty"
                                    i18n="@@common.sync"
                                    i18n-nz-tooltip="@@relay-proxy.sync-to-agent"
                                    nz-tooltip="Synchronize the flags and segments within the scopes to FeatBit agent">Sync</button>
                          </span>
                          <button nzDanger nz-button nzSize="small" nzType="link" (click)="removeAgent(i)" i18n="@@common.remove">Remove</button>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </nz-table>
              </nz-spin>
            </div>
          </div>
        </ng-container>
      </nz-form-item>
    </form>
    <button *ngIf="!readonly" (click)="doSubmit()" nz-button class="submit-btn" [nzType]="'primary'" i18n="@@common.save">Save</button>
  </ng-container>
  <ng-template #extra>
    <i (click)="close.emit()" nz-icon nzType="icons:icon-close"></i>
  </ng-template>
</nz-drawer>

<nz-modal
  nzCentered
  [nzWidth]="800"
  [nzVisible]="agentStatusModalVisible"
  (nzOnCancel)="closeAgentStatusModal()"
  (nzOnOk)="closeAgentStatusModal()"
  [nzFooter]="modalFooter"
  [nzTitle]="modalTitle">
  <ng-template #modalTitle>
    <span i18n="@@relay-proxy.agent-status">Agent status</span>
  </ng-template>
  <ng-container *nzModalContent>
    <prism [code]="agentStatus" language="javascript"></prism>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="closeAgentStatusModal()">
      <span i18n="@@common.ok">OK</span>
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isCreationConfirmModalVisible"
  i18n-nzTitle="@@relay-proxy.relay-proxy-created"
  nzTitle="Relay proxy created"
  (nzOnCancel)="isCreationConfirmModalVisible = false"
  [nzFooter]="confirmFooter"
  (nzOnOk)="isCreationConfirmModalVisible = false">
  <ng-container *nzModalContent>
    <div class="">
      <nz-alert
        nzType="warning"
        i18n-nzDescription="@@common.copy-key-warning"
        nzDescription="Copy and save this key now, the key will be masked once you leave the page."
        nzShowIcon
        nzIconType="icons:icon-warning"
      ></nz-alert>

      <div class="token-wrapper">
        <div class="token-name">{{_relayProxy.name}}:</div>
        <div>
          <span>{{_relayProxy.key}}</span>
          <i (click)="copyText($event, _relayProxy.key)" class="copy-icon" nz-icon nzType="icons:icon-copy"></i>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #confirmFooter>
    <button id="confirm-modal-ok" nz-button nzType="primary" (click)="isCreationConfirmModalVisible = false" i18n="@@common.ok">OK</button>
  </ng-template>
</nz-modal>
