<nz-drawer
  nzClosable="false"
  [nzExtra]="extra"
  nzPlacement="right"
  i18n-nzTitle="@@users.idx.customized-user-properties"
  nzTitle="End user properties"
  [nzBodyStyle]="{'padding-top': '12px'}"
  [nzWidth]="750"
  [nzVisible]="visible"
  (nzOnClose)="close.emit()">
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form" nzLayout="vertical" class="proxy-form">
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzErrorTip="Name is mandatory!" i18n-nzErrorTip="@@common.nameMandatory">
          <input type="text" nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label i18n="@@common.description">Description</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Cannot exceed 512 characters" i18n-nzErrorTip="@@common.description.cannot-exceed-512-characters">
          <nz-textarea-count [nzMaxCharacterCount]="512">
            <textarea nz-input formControlName="description" i18n-placeholder="@@common.description" placeholder="Description">
            </textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <ng-container formArrayName="scopes">
          <nz-form-label nzRequired>
            <span i18n="@@common.scopes">Scopes</span>
            <i nz-icon (click)="addScope()" nzType="icons:icon-add-outline"></i>
          </nz-form-label>
          <div class="scope-selectors">
            <ng-container *ngFor="let _ of scopes.controls; let i = index">
              <div class="scope-form-row" [formGroupName]="i">
                <div class="proj-env-selectors">
                  <nz-form-control>
                    <nz-select
                      nzShowSearch
                      i18n-placeholder="@@common.project"
                      nzPlaceHolder="Project"
                      formControlName="projectId">
                      <ng-container *ngFor="let project of projects">
                        <nz-option *ngIf="!isProjectsLoading" [nzLabel]="project.name" [nzValue]="project.id"></nz-option>
                      </ng-container>
                      <nz-option *ngIf="isProjectsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> <ng-container i18n="@@common.loading">Loading...</ng-container>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>

                  <nz-form-control>
                    <nz-select
                      nzMode="tags"
                      nzShowSearch
                      i18n-placeholder="@@common.environments"
                      nzPlaceHolder="Environments"
                      formControlName="envIds">
                      <ng-container *ngFor="let env of getProjectEnvs(i)">
                        <nz-option *ngIf="!isProjectsLoading" [nzLabel]="env.name" [nzValue]="env.id"></nz-option>
                      </ng-container>
                      <nz-option *ngIf="isProjectsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> <ng-container i18n="@@common.loading">Loading...</ng-container>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </div>
                <i nz-icon nzType="icons:icon-delete" (click)="removeLesson(i)"></i>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </nz-form-item>
      <nz-form-item>
        <ng-container formArrayName="agents">
          <nz-form-label nzRequired>
            <span i18n="@@common.agents">Agents</span>
            <i nz-icon (click)="addAgent()" nzType="icons:icon-add-outline"></i>
          </nz-form-label>

          <div class="table-content-area">
            <div class="table-wrapper">
              <nz-table #agentTable
                        nzTableLayout="fixed"
                        nzSize="small"
                        nzFrontPagination
                        nzShowPagination
                        [nzData]="agents.controls">
                <thead>
                <tr>
                  <th nzWidth="130px" i18n="@@common.host">Host</th>
                  <th nzWidth="150px" i18n="@@common.status">Status</th>
                  <th nzAlign="center" nzWidth="190px" i18n="@@common.sync">Sync</th>
                  <th i18n="@@common.actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let _ of agentTable.data; let i = index">
                  <tr [formGroupName]="i">
                    <td>
                      <nz-form-control>
                        <input type="text" nz-input formControlName="host" placeholder="host" i18n-placeholder="@@common.host"/>
                      </nz-form-control>
                    </td>
                    <td>
                      status
                    </td>
                    <td>
                      <button (click)="removeAgent(i)">Remove</button>
                    </td>
                    <td>
                      actions
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </nz-table>
            </div>
          </div>
        </ng-container>
      </nz-form-item>
    </form>
    <button (click)="doSubmit()" nz-button class="submit-btn" [nzType]="'primary'" [nzLoading]="isLoading" i18n="@@common.save">Save</button>
  </ng-container>
  <ng-template #extra>
    <i (click)="close.emit()" nz-icon nzType="icons:icon-close"></i>
  </ng-template>
</nz-drawer>

<nz-modal
  nzCentered
  [nzWidth]="800"
  [nzVisible]="propPresetValuesModalVisible"
  (nzOnCancel)="closePropPresetValuesModal()"
  (nzOnOk)="savePropPresetValuesModal()"
  [nzTitle]="modalTitle">
  <ng-template #modalTitle><ng-container i18n="@@common.set">Set</ng-container><span style="display:inline-block;padding: 0 5px; font-weight: 600">{{currentUserPropRow.name}}</span><ng-container i18n="@@users.idx.of-preset-values">'s preset values</ng-container></ng-template>
  <ng-container *nzModalContent>
    <div class="preset-values-modal-body">
      <div class="creation-wrapper">
        <div class="input-wrapper">
          <div class="preset-value-key">
            <label>Key <ng-container i18n="@@users.idx.used-to-match-rules">(Used to match rules)</ng-container></label>
            <input [(ngModel)]="currentPresetValueKey" nz-input>
          </div>
          <div class="preset-value-description">
            <label><ng-container i18n="@@common.description">Description</ng-container> <ng-container i18n="@@users.idx.used-by-ui">(Used by the UI)</ng-container></label>
            <input [(ngModel)]="currentPresetValueDescription" nz-input>
          </div>
        </div>
        <div class="preset-value-add">
          <button nz-button nzSize="default" nzType="primary" (click)="addPropPresetValue()" [disabled]="currentPresetValueKey.trim().length === 0 || currentPresetValueDescription.trim().length === 0" i18n="@@common.add">Add</button>
        </div>
      </div>
      <ng-container *ngIf="currentUserPropRow.presetValues.length > 0">
        <div class="preset-value-wrapper">
          <nz-list class="preset-values">
            <nz-list-item *ngFor="let presetValue of currentUserPropRow.presetValues" class="preset-value">
              <div>
                <div class="value-item"><div>Key</div>: &nbsp;<span nz-tooltip="{{ presetValue.value }}" nzTooltipPlacement="right">{{ presetValue.value }}</span></div>
                <div class="value-item"><div i18n="@@common.description">Description</div>: &nbsp;<span nz-tooltip="{{ presetValue.description }}" nzTooltipPlacement="right">{{ presetValue.description }}</span></div>
              </div>
              <button nz-button nzType="default" [nzSize]="'large'" (click)="removePropPresetValue(presetValue)"><i nz-icon nzType="close"></i></button>
            </nz-list-item>
          </nz-list>
        </div>
        <label class="use-preset-values-only-label" nz-checkbox [(ngModel)]="currentUserPropRow.usePresetValuesOnly">
          <ng-container i18n="@@uses.idx-force-user-to-use">Force user to select from preset valus when using</ng-container><span style="display:inline-block;padding: 0 5px; font-weight: 600">{{currentUserPropRow.name}}</span><ng-container i18n="@@uses.idx-force-user-to-use-suffix"></ng-container>
          <i nz-icon i18n-nz-tooltip="@@users.idx.once-saved-be-causion" nzType="icons:icon-warning" nz-tooltip="Once saved, the value used by rules of feature flag or segment but not in above list, would still be kept there, but if it is removed from the rule, you cannot select it again."></i>
        </label>
      </ng-container>
    </div>
  </ng-container>
</nz-modal>
