map $http_accept_language $accept_language {
  ~*^zh zh;
  ~*^en en;
  default en;
}

server {
  server_tokens off;

  gzip            on;
  gzip_static     on;
  gzip_types      text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
  gzip_proxied    no-cache no-store private expired auth;
  gzip_min_length 1000;

  listen 80;
  server_name featbit;
  root /usr/share/nginx/featbit;

  location /health {
    access_log off;
    add_header Content-Type text/plain;
    return 200 "healthy\n";
  }

  location = ${BASE_HREF}/assets/env.js {
    rewrite ^${BASE_HREF}/(.*)$ /$1 break;
    try_files $uri =404;
    add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
  }

  location ~* ^${BASE_HREF}/assets/.*\.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc|woff|woff2)$ {
    rewrite ^${BASE_HREF}/(.*)$ /$1 break;
    try_files $uri =404;
    add_header Cache-Control "public, max-age=2592000";
    access_log off;
  }

  location ~* ^${BASE_HREF}/assets/.*\.(?:css|js)$ {
    rewrite ^${BASE_HREF}/(.*)$ /$1 break;
    try_files $uri =404;
    add_header Cache-Control "public, max-age=31449600";
    access_log off;
  }

  location = ${BASE_HREF} {
    try_files /index.html =404;
    add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
  }

  location = ${BASE_HREF}/ {
    try_files /index.html =404;
    add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
  }

  location ~* ^${BASE_HREF}/(en|zh)(/.*)?$ {
    try_files $uri $uri/ /index.html =404;
    add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
  }

  location ~ ^${BASE_HREF}/.+\..+$ {
    return 404;
  }

  location / {
    return 404;
  }
}
