<div class="table-content-area">
  <div class="table-search-area">
    <div class="search-inputs">
      <nz-input-group style="width: 300px" [nzPrefix]="prefixIconSearch">
        <input style="height: unset" nz-input type="text" placeholder="按名称筛选" [(ngModel)]="searchName" (ngModelChange)="onSearch()">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
    </div>
  </div>
  <div class="table-wrapper">
    <nz-table
      #basicTable nzSize="small"
      [nzData]="users"
      [nzLoading]="isLoading"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [(nzPageIndex)]="pageIndex"
      (nzPageIndexChange)="onPageIndexChange()">
      <thead>
      <tr>
        <th>Name</th>
        <th>KeyId</th>
        <th nzAlign="center">详情</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of basicTable.data">
        <td>{{ user.name }}</td>
        <td>{{ user.keyId }}</td>
        <td style="text-align: center">
          <a style="color: #23AD7F" nz-button nzType="link" (click)="navigateToUserDetail(user)">详情</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
