<nz-drawer nzClosable [nzVisible]="visible" nzPlacement="right" [nzTitle]="'设置分流进入实验的用户规则'" [nzFooter]="create"
           [nzWidth]="900" (nzOnClose)="onClose()">
  <ng-container *nzDrawerContent>
    <div class="drawer-layout" *ngIf="featureFlag">
      <div class="warning-message">
        <div class="warning">
          <span class="warning-icon"><i nz-icon nzType="warning" nzTheme="fill"></i></span>
          <div class="warning-content">以下改动保存后立即生效，将会影响到该开关下所有正在运行中的实验，为了确保实验结果的准确性，建议保存后暂停所有的实验并重新开始！</div>
        </div>
      </div>

      <div class="select-option-row">
        <nz-radio-group [(ngModel)]="featureFlag.exptIncludeAllTargets">
          <label nz-radio [nzValue]="includeAllRules">所有规则</label>
          <label nz-radio [nzValue]="customRules">自定义规则（不包含目标用户规则）</label>
        </nz-radio-group>

        <label nz-checkbox
               [nzChecked]="experimentRolloutType === 'recommended'"
               (nzCheckedChange)="toggleExperimentRolloutType()">
          使用推荐值
        </label>
      </div>

      <nz-table style="margin-top:15px" nzSize="small" #basicTable [nzData]="['']"
                [nzFrontPagination]="false"
                [nzOuterBordered]="true"
      >
        <tbody>
        <ng-container *ngIf="featureFlag.exptIncludeAllTargets">
          <tr>
            <td>
              <label nz-checkbox [(ngModel)]="featureFlag.exptIncludeAllTargets" [nzDisabled]="true">
                目标用户
              </label>
            </td>
            <td class="rule-content">
              <div *ngFor="let target of featureFlag.targetUsers">
                <span>{{getVariationValue(target.variationId)}}</span> ({{target.keyIds.length}} 个用户)
              </div>
            </td>
          </tr>
          <tr *ngFor="let rule of featureFlag.rules">
            <td>
              <label nz-checkbox [(ngModel)]="rule.includedInExpt" [nzDisabled]="true">
                匹配条件
              </label>
            </td>
            <td class="rule-content">
              <div *ngFor="let clause of rule.conditions">
                if {{clause.property}} {{clause.op}}
                <ng-container *ngIf="!clause.isSingleOperator">
                  <ng-container *ngIf="clause.type === 'multi'">
                    <ng-container *ngIf="clause.isSegment">
                          <span class="ant-tag" *ngFor="let value of clause.multipleValue">
                            {{selectedSegmentDetailsDict[value]?.name}}
                          </span>
                    </ng-container>
                    <ng-container *ngIf="!clause.isSegment">
                      <span class="ant-tag" *ngFor="let value of clause.multipleValue">{{value}}</span>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="clause.type !== 'multi'">
                    <span class="ant-tag">{{clause.value}}</span>
                  </ng-container>
                </ng-container>
              </div>
              serve
              <div class="rollout-table">
                <div>
                  <div></div>
                  <div>分流入实验的用户所占百分比（相对于匹配到该规则的总用户数）</div>
                </div>
                <div *ngFor="let variation of rule.variations">
                  <div>
                    {{getVariationValue(variation.id)}}
                    <ng-container *ngIf="!rule.isNotPercentageRollout">
                      ({{variation.percentage}}%)
                    </ng-container>
                  </div>
                  <div>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixTemplateInfo" style="width: 120px">
                      <input type="number" nz-input [(ngModel)]="variation.exptPercentage"
                             (ngModelChange)="exptPercentageChange(variation)"/>
                    </nz-input-group>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label nz-checkbox [(ngModel)]="featureFlag.fallthrough.includedInExpt" [nzDisabled]="true">
                默认返回值
              </label>
            </td>
            <td class="rule-content">
              <div class="rollout-table">
                <div>
                  <div></div>
                  <div>分流入实验的用户所占百分比（相对于匹配到该规则的总用户数）</div>
                </div>
                <div *ngFor="let variation of featureFlag.fallthrough.variations">
                  <div>
                    {{getVariationValue(variation.id)}}
                    <ng-container *ngIf="!featureFlag.fallthrough.isNotPercentageRollout">
                      ({{variation.percentage}}%)
                    </ng-container>
                  </div>
                  <div>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixTemplateInfo" style="width: 120px">
                      <input type="number" nz-input [(ngModel)]="variation.exptPercentage"
                             (ngModelChange)="exptPercentageChange(variation)"/>
                    </nz-input-group>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!featureFlag.exptIncludeAllTargets">
          <tr>
            <td>
              <!-- It's always false here -->
              <label nz-checkbox [(ngModel)]="customRules" [nzDisabled]="true">
                目标用户
              </label>
            </td>
            <td class="rule-content">
              <div *ngFor="let target of featureFlag.targetUsers">
                <span>{{getVariationValue(target.variationId)}}</span> ({{target.keyIds.length}} 个用户)
              </div>
            </td>
          </tr>
          <tr *ngFor="let rule of featureFlag.rules">
            <td>
              <label nz-checkbox [(ngModel)]="rule.includedInExpt">
                匹配条件
              </label>
            </td>
            <td class="rule-content">
              <div *ngFor="let clause of rule.conditions">
                if {{clause.property}} {{clause.op}}
                <ng-container *ngIf="!clause.isSingleOperator">
                  <ng-container *ngIf="clause.type === 'multi'">
                    <ng-container *ngIf="clause.isSegment">
                            <span class="ant-tag" *ngFor="let value of clause.multipleValue">
                              {{selectedSegmentDetailsDict[value]?.name}}
                            </span>
                    </ng-container>
                    <ng-container *ngIf="!clause.isSegment">
                      <span class="ant-tag" *ngFor="let value of clause.multipleValue">{{value}}</span>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="clause.type !== 'multi'">
                    <span class="ant-tag">{{clause.value}}</span>
                  </ng-container>
                </ng-container>
              </div>
              serve
              <div class="rollout-table">
                <div>
                  <div></div>
                  <div>分流入实验的用户所占百分比（相对于匹配到该规则的总用户数）</div>
                </div>
                <div *ngFor="let variation of rule.variations">
                  <div>
                    {{getVariationValue(variation.id)}}
                    <ng-container *ngIf="!rule.isNotPercentageRollout">
                      ({{variation.percentage}}%)
                    </ng-container>
                  </div>
                  <div>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixTemplateInfo" style="width: 120px">
                      <input type="number" nz-input [(ngModel)]="variation.exptPercentage"
                             (ngModelChange)="exptPercentageChange(variation)"/>
                    </nz-input-group>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label nz-checkbox [(ngModel)]="featureFlag.fallthrough.includedInExpt">
                默认返回值
              </label>
            </td>
            <td class="rule-content">
              <div class="rollout-table">
                <div>
                  <div></div>
                  <div>分流入实验的用户所占百分比（相对于匹配到该规则的总用户数）</div>
                </div>
                <div *ngFor="let variation of featureFlag.fallthrough.variations">
                  <div>
                    {{getVariationValue(variation.id)}}
                    <ng-container *ngIf="!featureFlag.fallthrough.isNotPercentageRollout">
                      ({{variation.percentage}}%)
                    </ng-container>
                  </div>
                  <div>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixTemplateInfo" style="width: 120px">
                      <input type="number" nz-input [(ngModel)]="variation.exptPercentage"
                             (ngModelChange)="exptPercentageChange(variation)"/>
                    </nz-input-group>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <ng-template #create>
    <button (click)="doSubmit()" nz-button style="float: right" class="form-button form-margin" [nzType]="'primary'"
            [nzLoading]="isLoading">保存
    </button>
  </ng-template>
  <ng-template #suffixTemplateInfo>
    <button style="background-color: #DDDCEB" nz-button nzType="default" nzSearch>%</button>
  </ng-template>
</nz-drawer>
