.body-container {
  width: 100%;
  height: 100%;
  padding-left: 24px;

  //height: calc(100% - 52px);
  overflow: auto;

  nz-divider {
    margin: 0 24px;
  }

  .table-search-area .policy-filter {
    width: 220px;
  }
}





