<div class="body-container">
  <div class="flag-container">
    <user-setting></user-setting>
  </div>
  <nz-tabset nzLinkRouter class="tabs-container segment-flag">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./groups']" queryParamsHandling="preserve">
        组
      </a>
      <ng-template nz-tab>
        <groups></groups>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./direct-policies']" queryParamsHandling="preserve">
        直接策略
      </a>
      <ng-template nz-tab>
        <direct-policies></direct-policies>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./inherited-policies']" queryParamsHandling="preserve">
        继承自组的策略
      </a>
      <ng-template nz-tab>
        <inherited-policies></inherited-policies>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>

