<div class="standard-div">
  <form nz-form [formGroup]="profileForm" class="" [nzLayout]="'vertical'" (ngSubmit)="updateProfile()">
    <nz-form-item>
      <label for="name" i18n="@@common.name">Name</label>
      <nz-form-control>
        <nz-input-group [nzPrefix]="userPrefix">
          <input id="name" type="text" nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
        </nz-input-group>
        <ng-template #userPrefix>
          <i nz-icon nzType="icons:icon-user"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <label for="email" i18n="@@org.profile.email">Email</label>
      <nz-form-control nzErrorTip="Email is mandatory!" i18n-nzErrorTip="@@org.profile.emailMandatory">
        <nz-input-group [nzPrefix]="emailPrefix">
          <input id="email" type="text" nz-input formControlName="email" placeholder="Email" i18n-placeholder="@@org.profile.emailPlaceholder"/>
        </nz-input-group>
        <ng-template #emailPrefix>
          <i nz-icon nzType="icons:icon-email"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <button class="submit-btn" nz-button [nzType]="'primary'" [nzLoading]="isLoading">
      <i nz-icon nzType="icons:icon-sync"></i>
      <ng-container i18n="@@org.profile.save">Save</ng-container>
    </button>
  </form>
</div>
