pre {
  position: relative;

  i {
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 16px;
    font-size: 24px;
    visibility: hidden;
    color: white;
  }

  &:hover i {
    visibility: visible;
  }
}

