<nz-drawer
  nzClosable="false"
  [nzExtra]="extra"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="title"
  [nzWidth]="850"
  (nzOnClose)="onClose()">
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form" (ngSubmit)="doSubmit()" nzLayout="vertical">
      <!-- name -->
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.name">Name</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." i18n-nzValidatingTip="@@common.validating" [nzErrorTip]="errorTpl">
          <input nz-input formControlName="name" placeholder="Name" i18n-placeholder="@@common.name"/>
        </nz-form-control>
        <ng-template #errorTpl let-control>
          @if (control.hasError('required')) {
            <ng-container i18n="@@integrations.access-token.access-token-drawer.name-cannot-be-empty">Access token name cannot be empty</ng-container>
          }
          @if (control.hasError('duplicated')) {
            <ng-container i18n="@@integrations.access-token.access-token-drawer.name-unavailable">This access token name is not available</ng-container>
          }
        </ng-template>
      </nz-form-item>

      <!-- type -->
      <nz-form-item>
        <nz-form-label nzRequired i18n="@@common.type">Type</nz-form-label>
        <nz-form-control>
          <nz-select
            class="nz-select-40"
            [nzOptions]="tokenTypes"
            [nzDisabled]="isEditing"
            formControlName="type">
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>    <!-- Permissions -->
    @if (isServiceAccessToken) {
      <div class="permissions-section">
        <nz-form-label nzNoColon nzRequired i18n="@@common.permissions">Permissions</nz-form-label>
        <div class="permissions-list">
          @for (rt of authorizedResourceTypes; track rt.type) {
            <div class="permission-category">
              <div class="category-header">
                <span class="category-name">{{rt.displayName}}</span>
                @if (!isEditing) {
                  <label
                    nz-checkbox
                    class="select-all"
                    [(ngModel)]="permissions[rt.type].allChecked"
                    (ngModelChange)="updatePermissionsAllChecked(permissions[rt.type])"
                    [nzIndeterminate]="permissions[rt.type].indeterminate"
                    i18n="@@common.select-all"
                  >Select all</label>
                }
              </div>

              <!-- Resource Parameters -->
              @if (hasResourceParameters(rt.type)) {
                <div class="resource-parameters">
                  <resources-selector
                    [selectedResources]="permissions[rt.type].statements[0]?.resources || []"
                    [resourceType]="rt"
                    [readonly]="isEditing"
                    (onSelectedResourcesChange)="onResourcesChange(rt.type, $event)">
                  </resources-selector>
                </div>
              }              <!-- Actions -->
              <div class="actions-list">
                @for (permission of permissions[rt.type].statements; track permission.action.id) {
                  <label nz-checkbox
                    class="action-item"
                    [(ngModel)]="permission.checked"
                    (ngModelChange)="updatePermissionSingleChecked(permissions[rt.type])"
                    [nzDisabled]="isEditing || isActionDisabled(permission.action)">
                    <span class="action-name">{{permission.action.name}}</span>
                    <i nz-icon [nz-tooltip]="permission.action.description" nzType="icons:icon-info-outline"></i>
                  </label>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }
    @if (!readonly) {
      <button (click)="doSubmit()" nz-button class="submit-btn" [nzType]="'primary'" [nzLoading]="isLoading" i18n="@@common.save">Save</button>
    }
  </ng-container>
  <ng-template #extra>
    <i (click)="onClose()" nz-icon nzType="icons:icon-close"></i>
  </ng-template>
</nz-drawer>

<nz-modal
  [(nzVisible)]="isCreationConfirmModalVisible"
  i18n-nzTitle="@@integrations.access-tokens.access-token-created"
  nzTitle="Access token created"
  (nzOnCancel)="isCreationConfirmModalVisible = false"
  [nzFooter]="confirmFooter"
  (nzOnOk)="isCreationConfirmModalVisible = false">
  <ng-container *nzModalContent>
    <div class="">
      <nz-alert
        nzType="warning"
        i18n-nzDescription="@@integrations.access-token.copy-token-warning"
        nzDescription="Copy and save this token now, the token value will be masked once you leave the page."
        nzShowIcon
        nzIconType="icons:icon-warning"
      ></nz-alert>

      <div class="token-wrapper">
        <div class="token-name">{{tokenName}}:</div>
        <div>
          <span>{{tokenValue}}</span>
          <i (click)="copyText($event, tokenValue)" class="copy-icon" nz-icon nzType="icons:icon-copy"></i>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #confirmFooter>
    <button id="confirm-modal-ok" nz-button nzType="primary" (click)="isCreationConfirmModalVisible = false" i18n="@@common.ok">Ok</button>
  </ng-template>
</nz-modal>

