@import "variables";

.drawer-layout {
    height: 100%;

    .warning-message {
      font-size: 15px;
      font-weight: 500;
      padding: 10px;
      border: 1px solid #d2d2d2;
      margin-bottom: 15px;
      border-left: 3px solid @yellow5-color;
      border-radius: 10px;

        .warning {
          display: flex;

          .warning-icon {
            color: @yellow5-color;
          }
          .warning-content {
            padding-left: 5px;
          }
        }
      }
    .rule-content {
      font-size: 15px;
      font-weight: 500;

      .rollout-table {
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;

          &:first-child {
            background-color: @grey5-color;
            height: 36px;
          }

          .ant-input-group-wrapper {
            border: none;
            padding: 0;

            ::ng-deep .ant-input-number {
              border: none;
              border-radius: 8px;
              input {
                text-align: left;
                height: 36px;
                width: 100px;
                padding-right:0;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
              }
            }

            button.ant-input-search-button {
              border-left: none;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              height: 36px;
            }
          }
        }
      }
      .expt-pencentage {
        text-align: right;
      }
    }
}

.select-option-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
