@import "variables";

.license {
  .title {
    color: @grey70-color;
  }

  .value {
    color: @grey50-color;
    margin-bottom: 8px;
  }

  .feature {
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    i.issued {
      color: @primary-color;
    }
  }
}
