<div class="license">
  <div>
    <div class="title" i18n="@@common.license-subject">Issued To</div>
    <div class="value">{{ license.data?.sub }}</div>
  </div>
  <div>
    <div class="title" i18n="@@common.license-iat">Issued At</div>
    <div class="value">{{ getLocalDate(license.data?.iat) | date: 'YYYY-MM-dd HH:mm' }}</div>
  </div>
  <div>
    <div class="title" i18n="@@common.license-exp">Expire At</div>
    <div class="value">{{ getLocalDate(license.data?.exp) | date: 'YYYY-MM-dd HH:mm' }}</div>
  </div>
  <div class="features">
    <div>Features</div>
    <div class="feature" *ngFor="let feature of features">
      <i *ngIf="license.isGranted(feature)" class="issued" nz-icon nzType="check" nzTheme="outline"></i>
      <i *ngIf="!license.isGranted(feature)" nz-icon nzType="close" nzTheme="outline"></i>
      <span>{{ getFeatureName(feature) }}</span>
    </div>
  </div>
</div>

