<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <nz-input-group [nzPrefix]="prefixIconSearch" style="width: 300px">
        <input class="search-input" nz-input type="text" placeholder="Filter by group name" i18n-placeholder="@@iam.policies.details.group-filter-placeholder" [(ngModel)]="filter.name" (ngModelChange)="doSearch(true)">
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="icons:icon-search"></i>
      </ng-template>
      <nz-select class="group-filter nz-select-40 rounded filter" [(ngModel)]="filter.getAllGroups" (ngModelChange)="doSearch(true)">
        <nz-option [nzValue]="true" nzLabel="All" i18n-nzLabel="@@iam.policies.details.all-groups"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Groups with current policy" i18n-nzLabel="@@iam.policies.details.current-groups"></nz-option>
      </nz-select>
    </div>
    <div class="table-wrapper">
      <nz-table #table nzSize="small"
                [nzData]="groups.items"
                [nzFrontPagination]="false"
                [nzLoading]="isLoading"
                [nzTotal]="groups.totalCount"
                [(nzPageSize)]="filter.pageSize"
                (nzPageSizeChange)="doSearch()"
                [(nzPageIndex)]="filter.pageIndex"
                (nzPageIndexChange)="doSearch()">
        <thead>
        <tr>
          <th i18n="@@common.name">Name</th>
          <th i18n="@@common.description">Description</th>
          <th i18n="@@common.actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of table.data">
          <td (click)="navigateToGroup(item.id)">{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>
            <a class="primary-link-btn" style="margin-right: 5px" (click)="navigateToGroup(item.id)" i18n="@@common.details">Details</a>
            <nz-divider nzType="vertical"></nz-divider>
            <ng-container *ngIf="item.isPolicyGroup">
              <a style="color: #717D8A"
                 i18n-nz-popconfirm="@@iam.policies.details.remove-policy-confirm"
                 nz-popconfirm="Are you sure to remove the policy from the group?"
                 nzPopconfirmPlacement="bottomRight"
                 [nzPopconfirmOverlayStyle]="{minWidth: '240px'}"
                 (nzOnConfirm)="removePolicy(item.id)" [nzIcon]="iconTplIamUser">
                <ng-container i18n="@@common.remove">Remove</ng-container>
              </a>
              <ng-template #iconTplIamUser>
                <i nz-icon nzType="question-circle" nzTheme="fill" style="color: #FAAD14;"></i>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="!item.isPolicyGroup">
              <a class="primary-link-btn" (click)="addPolicy(item.id)" i18n="@@common.add">Add</a>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

