<nz-tabset class="no-bottom-line">
  <nz-tab i18n-nzTitle nzTitle="Login">
    <form nz-form [formGroup]="pwdLoginForm" (ngSubmit)="passwordLogin()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="invalidPhoneNumberOrEmail">
          <nz-input-group [nzPrefix]="emailPrefix">
            <input type="text" nz-input formControlName="identity" i18n-placeholder="@@common.email" placeholder="Email"/>
          </nz-input-group>
          <ng-template #emailPrefix>
            <i nz-icon nzType="icons:icon-email"></i>
          </ng-template>
          <ng-template #invalidPhoneNumberOrEmail let-control>
            <ng-container *ngIf="control.hasError('required')" i18n>username is mandatory</ng-container>
            <ng-container *ngIf="control.hasError('invalid')" i18n>Illegal username</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div>
        <message class="warning" [type]="'warning'" i18n-content="@@login.password-not-required-for-demo" content="The demo environment does not require password."></message>
      </div>
      <button type="submit" nz-button nzType="primary" class="submit-btn" [nzLoading]="isLogin" i18n>Login</button>
    </form>
  </nz-tab>
</nz-tabset>
