@import "variables";

.tip {
  text-align: center;
  font-size: 13px;
  color: @grey40-color;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;

  .social-btn {
    font-size: 18px;
  }
}
