@import "variables";

.tip {
  text-align: center;
  font-size: 13px;
  color: @grey40-color;
}

.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;

  nz-divider {
    width: 100%;
    margin: 8px 0;
    border-color: @grey20-color;
  }

  .social-btns {
    display: flex;
    gap: 12px;
  }
}
