<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <div class="search-inputs">
        <nz-input-group [nzPrefix]="prefixIconSearch">
          <input nz-input type="text" placeholder="Filter by name, key, comment" i18n-placeholder="@@auditlogs.idx.filter-by" [(ngModel)]="auditLogFilter.query" (ngModelChange)="onSearch(true)">
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="icons:icon-search"></i>
        </ng-template>
        <nz-select
          class="member-select"
          nzShowSearch
          nzServerSearch
          [(ngModel)]="auditLogFilter.creatorId"
          (nzOnSearch)="onMemberSearch($event)"
          (ngModelChange)="onSearch(true)"
          i18n-nzPlaceHolder="@@auditlogs.idx.filter-by-team-member"
          nzPlaceHolder="Filter by team member">
          <ng-container *ngFor="let member of memberListModel.items">
            <nz-option *ngIf="!membersLoading" [nzValue]="member.id" [nzLabel]="getMemberLabel(member)"></nz-option>
          </ng-container>
          <nz-option *ngIf="membersLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i>
            <ng-container i18n="@@common.loading">Loading...</ng-container>
          </nz-option>
        </nz-select>
        <nz-select nzAllowClear [(ngModel)]="auditLogFilter.refType" (ngModelChange)="onSearch(true)" i18n-nzPlaceHolder="@@ff.idx.filter-by-type" nzPlaceHolder="Filter by type">
          <nz-option [nzValue]="refTypeFlag" i18n-nzLabel="@@auditlogs.idx.ref-type-flag" nzLabel="Feature flag"></nz-option>
        </nz-select>
        <nz-range-picker [(ngModel)]="auditLogFilter.range" (ngModelChange)="onDateRangeChange($event)"></nz-range-picker>
      </div>
    </div>

    <div class="audit-logs standard-div">
      <nz-empty i18n-nzNotFoundContent="@@common.no-data" nzNotFoundContent="No data" *ngIf="groupedAuditLogs.length === 0"></nz-empty>
      <nz-timeline>
          <nz-timeline-item *ngFor="let group of groupedAuditLogs">
            <div  class="audit-logs-group">
              <div class="group-title">{{group.key}}</div>
              <div class="group-items">
                <div *ngFor="let auditLog of group.items" class="audit-log">
                  <div class="audit-log-title">{{auditLog.titlePrefix}} <a (click)="goToTargetPage(auditLog)">{{auditLog.name}}</a></div>
                  <div class="audit-log-createdat">{{ auditLog.data.createdAt | date: "YYYY-MM-dd HH:mm"}}</div>
                  <div class="audit-log-comment">{{auditLog.data.comment}}</div>
                  <div class="change-list" [innerHtml]="auditLog.diffHtml | safeHtml"></div>
                </div>
              </div>
            </div>
          </nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
</section>
