<section class="body-container">
  <div class="table-content-area">
    <div class="table-search-area">
      <div class="search-toolbar">
        <div class="left-filters">
          <nz-input-group [nzPrefix]="prefixIconSearch" class="main-search">
            <input
              nz-input
              type="text"
              placeholder="Filter by property"
              i18n-placeholder="@@users.idx.filter-by-property"
              [(ngModel)]="filter.searchText"
              (ngModelChange)="onSearch(true)">
          </nz-input-group>
          <ng-template #prefixIconSearch>
            <i nz-icon nzType="icons:icon-search"></i>
          </ng-template>
          <dashed-multi-select
            [options]="filterOptions"
            [isLoading]="isUserPropsLoading"
            label="Properties"
            (optionsChange)="onFilterPropertiesChange($event)">
          </dashed-multi-select>
          <dashed-multi-select
            [options]="extraColumnOptions"
            [isLoading]="isUserPropsLoading"
            [labelTemplate]="columnSettingLabel"
            (optionsChange)="onExtraColumnsChange($event)">
            <ng-template #columnSettingLabel>
              <i nz-icon nzType="icons:icon-column-setting"></i>
              <span i18n="@@common.display">Display</span>
            </ng-template>
          </dashed-multi-select>
        </div>
        <div class="right-actions">
          <button class="btn-secondary" nz-button nzType="default" (click)="uploadModalVisible = true">
            <i nz-icon nzType="icons:icon-upload"></i>
            <ng-container i18n="@@users.idx.upload">Upload</ng-container>
          </button>
          <button class="btn-primary" nz-button nzType="primary" (click)="propsDrawerVisible = true">
            <i nz-icon nzType="icons:icon-setting"></i>
            <ng-container i18n="@@users.idx.manage-properties">Properties</ng-container>
          </button>
          <button class="btn-more" nz-button nz-dropdown [nzDropdownMenu]="moreMenu">
            <i nz-icon nzType="ellipsis"></i>
          </button>
          <nz-dropdown-menu #moreMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="downloadConfirmVisible = true" i18n="@@users.idx.download">Download</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <nz-table #basicTable nzSize="small"
        nzShowSizeChanger
        [nzData]="list"
        [nzFrontPagination]="false"
        [nzLoading]="isLoading"
        [nzTotal]="totalCount"
        [(nzPageSize)]="filter.pageSize"
        (nzPageSizeChange)="onSearch()"
        [nzPageSizeOptions]="[10,20,30]"
        (nzPageIndexChange)="onSearch()"
        [(nzPageIndex)]="filter.pageIndex">
        <thead>
            <tr>
              <th>name</th>
              <th>keyId</th>
              <th *ngFor="let prop of selectedExtraColumns">{{prop}}</th>
              <th i18n="@@common.actions">Actions</th>
            </tr>
        </thead>
        <tbody style="width: calc(100% - 200px);">
          <ng-container *ngFor="let user of basicTable.data">
            <tr>
              <td [routerLink]="[user.id]">
                <span>{{ user.name }}</span>
              </td>
              <td>{{ user.keyId }}</td>
              <td *ngFor="let prop of selectedExtraColumns">{{getCustomizePropertyValue(user, prop)}}</td>
              <td>
                <a class="primary-link-btn" (click)="openSegmentsFlagsDrawer(user)" i18n="@@users.idx.evaluate">Evaluate</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a class="primary-link-btn" nz-button nzType="link" [routerLink]="[user.id]" i18n="@@common.details">Details</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>

<import-end-user
  [visible]="uploadModalVisible"
  [uploadUrl]="uploadUrl"
  templateUrl="assets/upload-end-users.json"
  (close)="closeUploadModal($event)">
</import-end-user>
<props-drawer [visible]="propsDrawerVisible" [envId]="currentEnvId" (close)="propsDrawerVisible = false"></props-drawer>
<user-segments-flags-drawer
  [visible]="segmentsFlagsDrawerVisible"
  [user]="currentUser"
  (close)="closeSegmentsFlagsDrawer()">
</user-segments-flags-drawer>
<download-confirm-modal
  [totalCount]="totalCount"
  [filter]="filter"
  [visible]="downloadConfirmVisible"
  (close)="downloadConfirmVisible = false">
</download-confirm-modal>
