@import "variables";

section.body-container {
  nz-input-group.query {
    width: 250px;
  }

  .more-select-selection-item {
    display: flex;
    align-items: center;

    i {
      color: rgba(0, 0, 0, 0.45);
      margin-left: 4px;
    }
  }

  .filter-multi-select,
  .attribute-multi-select {
    width: 300px;
  }
}
