<div class="body-container">
  <div class="flag-container">
    <ff-setting></ff-setting>
  </div>
  <nz-tabset nzLinkRouter class="tabs-container segment-flag">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./targeting']" queryParamsHandling="preserve" i18n="@@ff.routing.details.targeting">Targeting</a>
      <ng-template nz-tab>
        <ff-targeting></ff-targeting>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./triggers']" i18n="@@ff.routing.details.triggers">Triggers</a>
      <ng-template nz-tab>
        <ff-triggers></ff-triggers>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./experimentations']" i18n="@@ff.routing.details.experimentation">Experimentation</a>
      <ng-template nz-tab>
        <ff-experimentations></ff-experimentations>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./insights']" i18n="@@ff.routing.details.insights">Insights</a>
      <ng-template nz-tab>
        <insights></insights>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./history']" i18n="@@ff.routing.details.history">History</a>
      <ng-template nz-tab>
        <ff-auditlogs></ff-auditlogs>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>

