@import "variables";

nz-descriptions {
  margin-bottom: 13px;
}

nz-descriptions {
  i {
    cursor: pointer;
    font-size: 16px;
    margin-right: 4px;
  }
}

.steps-action {
  margin-top: 36px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  button.pre-btn {
    border: 1px solid @grey80-color;
    color: @grey80-color;
    background-color: @white;
  }
}
