<nz-tabset nzLinkRouter>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" i18n="@@org.org.tabtitle">Organization</a>
    <ng-template nz-tab>
      <organization></organization>
    </ng-template>
  </nz-tab>

  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['./projects']" i18n="@@org.project.tabtitle">Projects</a>
    <ng-template nz-tab>
      <app-project></app-project>
    </ng-template>
  </nz-tab>

  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['./profile']" i18n="@@org.profile.tabtitle">Profile</a>
    <ng-template nz-tab>
      <app-profile></app-profile>
    </ng-template>
  </nz-tab>
</nz-tabset>
