@import "variables";

.download-tip {
  font-size: 14px;
  color: @grey60-color;
  margin-bottom: 12px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .actions {
    button {
      width: unset;
      height: unset;
    }
  }
}
