@import "variables";

.download-tip {
  font-size: 14px;
  color: @grey60-color;
  margin-bottom: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footnote {
    font-size: 14px;
    font-weight: bold;
  }

  .actions {
    button {
      width: unset;
      height: unset;
    }
  }
}
