<div class="form-content" style="overflow-y: auto;">
  <div>
    <nz-steps [nzCurrent]="currentStep">
      <nz-step i18n-nzTitle="@@onboarding.create-org-project" nzTitle="Create organization and project"></nz-step>
    </nz-steps>
  </div>

  <div id="steps">
    <div class="step step1" *ngIf="currentStep === 0">
      <form [formGroup]="step0Form">
        <div class="info-item">
          <p nz-typography i18n="@@common.org-name">Organization name</p>
          <input nz-input placeholder="E.g. Featbit" formControlName="organizationName" />
        </div>
        <div class="info-item">
          <p nz-typography i18n="@@common.project-name">Project name</p>
          <input nz-input placeholder="E.g. Official website" formControlName="projectName" />
        </div>
      </form>
    </div>
  </div>

  <div class="steps-action">
    <button nz-button nzType="primary" [disabled]="!step0Form.valid" (click)="done()">
      <span i18n="@@common.complete">Complete</span>
    </button>
  </div>
</div>
