<div class="form-content" style="overflow-y: auto;">
  <div>
    <nz-steps [nzCurrent]="currentStep">
      <nz-step i18n-nzTitle="@@onboarding.create-org-project" nzTitle="Create organization and project"></nz-step>
    </nz-steps>
  </div>

  <div id="steps">
    <div class="step step1" *ngIf="currentStep === 0">
      <form [formGroup]="form">
        <div class="info-item">
          <p nz-typography i18n="@@common.org">Organization</p>
          <input nz-input placeholder="Organization name. E.g. FeatBit" formControlName="organizationName" />
        </div>
        <div class="info-item">
          <p nz-typography i18n="@@common.project">Project</p>
          <input nz-input placeholder="Project name. E.g. Official website" formControlName="projectName" />
          <input nz-input placeholder="Project key. E.g. official-website" formControlName="projectKey" />
        </div>
      </form>
    </div>
  </div>

  <div class="steps-action">
    <button nz-button nzType="primary" [disabled]="!form.valid" (click)="done()">
      <span i18n="@@common.complete">Complete</span>
    </button>
  </div>
</div>
