<div class="resources">
  <div class="top-title">
    <div class="prefix title">
      <span i18n="@@iam.policies.details.resource">Resource</span>
      @if (isResourceTypeGeneral) {
        <span style="display: inline-block;margin-left: 12px;">( <ng-container i18n="@@iam.policies.details.when-resource-type-is">Can only select one resource</ng-container>)</span>
      }
    </div>
    <div class="suffix">
      <span>{{selectedResources.length}} <ng-container i18n="@@iam.policies.details.num-resource">Resource(s)</ng-container></span>
    </div>
  </div>
  @if (selectedResources.length) {
    <div class="selected-resources">
      @for (rsc of selectedResources; track rsc.id) {
        <div class="resource">
          <div i18n-nz-tooltip="@@common.click-to-edit" nz-tooltip="Click to edit" class="inner-box" (click)="openEditModal(rsc)">
            {{rsc.rn}}
          </div>
          <button nz-button nzType="default" [nzSize]="'large'" (click)="removeResource(rsc)"><i nz-icon nzType="close"></i></button>
        </div>
      }
    </div>
  }
  <nz-select class="nz-select-36" [class]="{invalid: isInvalid}" #resourcesSelector
    i18n-nzPlaceHolder="@@iam.policies.details.select-resource"
    nzPlaceHolder="Select resource"
    nzShowSearch
    nzServerSearch
    [(ngModel)]="resourceSelectModel"
    (ngModelChange)="onResourceChange()"
    (nzOnSearch)="onSearchResources($event)"
    [nzOptionHeightPx]="isResourceLoading ? 32 : 54">
    @if (isResourceLoading) {
      <nz-option nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i>
        <ng-container i18n="@@common.loading">Loading...</ng-container>
      </nz-option>
    } @else {
      @for (rsc of availableResources; track rsc.id) {
        <nz-option
          nzCustomContent [nzValue]="rsc" [nzHide]="isSelected(rsc)">
          <div class="resource-selection-item">
            <div class="title">{{ rsc.name | T: rsc.name: "resource" }}</div>
            <div class="digest">{{ getDigest(rsc) }}</div>
          </div>
        </nz-option>
      }
    }
  </nz-select>
</div>

<resource-editor
  [visible]="editModalVisible"
  [rn]="currentRn"
  [resourceType]="resourceType"
  (onCancel)="closeModal()"
  (onSave)="save($event)"
/>
