section.body {
    width: 100%;
    padding: 0 12px;

    .top-title {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .prefix {
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: bold;

            .tip {
                width: 20px;
                height: 20px;
                //background: #7FFFD4;
                margin-right: 10px;
                transform: rotate(45deg);
            }
        }

        .suffix {
            color: #9A95CC;
            span {
                margin-right: 5px;
            }

            i {
                cursor: pointer;
            }
        }
    }

    nz-select {
        width: 100%;
    }
}

.tip-0 {
  color: #7FFFD4;
  background: #7FFFD4;
  transform: rotate(-45deg);
  margin: 0px 10px 0px 2px;
}

.tip-1 {
  color: #1E90FF;
  background: #1E90FF;
  transform: rotate(-45deg);
  margin: 0px 10px 0px 2px;
}

.tip-2 {
color: #2fee7e;
background: #2fee7e;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-3 {
color: #ff1e44;
background: #ff1e44;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-4 {
color: #a9ff1e;
background: #a9ff1e;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-5 {
color: #a51eff;
background: #a51eff;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-6 {
color: #ff1e1eab;
background: #ff1e1eab;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-7 {
color: #ff8b1e;
background: #ff8b1e;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-8 {
color: #96ff1e;
background: #96ff1e;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}

.tip-9 {
color: #1effb493;
background: #1effb493;
transform: rotate(-45deg);
margin: 0px 10px 0px 2px;
}
