<nz-tabset nzLinkRouter>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" i18n="@@workspace.workspace.tabtitle">Workspace</a>
    <ng-template nz-tab>
      <workspace></workspace>
    </ng-template>
  </nz-tab>

  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['./organization']" i18n="@@workspace.org.tabtitle">Organization</a>
    <ng-template nz-tab>
      <organization></organization>
    </ng-template>
  </nz-tab>

  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['./projects']" i18n="@@workspace.project.tabtitle">Projects</a>
    <ng-template nz-tab>
      <app-project></app-project>
    </ng-template>
  </nz-tab>

  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['./profile']" i18n="@@workspace.profile.tabtitle">Profile</a>
    <ng-template nz-tab>
      <app-profile></app-profile>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template #needLicenseTooltip>
      <ng-container i18n="@@common.need-license">You don't have a license or your current license doesn't grant this feature, please contact FeatBit team to get a license.</ng-container>
    </ng-template>
    <ng-container *ngIf="isGlobalUserGranted">
      <a *nzTabLink nz-tab-link [routerLink]="['./global-users']" i18n="@@workspace.global-users.tabtitle">Global Users</a>
    </ng-container>
    <ng-container *ngIf="!isGlobalUserGranted">
      <a *nzTabLink nz-tab-link [nz-tooltip]="needLicenseTooltip" i18n="@@workspace.global-users.tabtitle">Global Users</a>
    </ng-container>
    <ng-template nz-tab>
      <global-user></global-user>
    </ng-template>
  </nz-tab>
</nz-tabset>
