<nz-card nzBorderless>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-documentation">Documentation</h4>
    <div>
      <p nz-typography>
        <a target="_blank" href="https://featbit.gitbook.io/docs/get-started/create-two-feature-flags" i18n="@@guide.get-started">Getting Started with Quick Demo</a>
      </p>
      <ol>
        <li>
          <a target="_blank"
             i18n="@@guide.create-ff"
             href="https://featbit.gitbook.io/docs/get-started/create-two-feature-flags">Create feature flags for the demo</a>
        </li>
        <li>
          <a target="_blank"
             i18n="@@guide.try-interactive-demo"
             href="{{demoUrl}}">Try interactive with the demo</a>
        </li>
      </ol>
    </div>

    <p nz-typography>
      <span i18n="@@guide.deploy-with">Deploy with</span>&nbsp;
      <a target="_blank" href="https://docs.featbit.co/docs/installation/full-installation">Docker Compose</a>&nbsp;
    </p>

    <p nz-typography>
      <a i18n="@@guide.view-docs-for-our-sdks" target="_blank" href="https://featbit.gitbook.io/docs/get-started/connect-an-sdk">View docs for our SDKs</a>
    </p>

    <p nz-typography>
      <a i18n="@@guide.view-docs-for-our-open-apis" target="_blank" href="https://docs.featbit.co/docs/api-docs/overview">View docs for our Open APIs</a>
    </p>

    <p nz-typography>
      <a i18n="@@guide.view-docs-for-experimentation" target="_blank" href="https://docs.featbit.co/docs/experimentation/understanding-experimentation">View docs for Experimentation</a>
  </div>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-invite-your-team">Invite Your Team</h4>
    <p nz-typography>
      <a target="_blank"
         i18n="@@guide.invite-team-members"
         href="https://docs.featbit.co/docs/iam/teams">Invite team members</a>
      <span i18n="@@guide.to-your-organization"> to your organization</span>
    </p>
    <p nz-typography>
      <span i18n="@@guide.manage">Manage</span>
      <a target="_blank"
         i18n="@@guide.custom-permissions"
         href="https://docs.featbit.co/docs/iam/about"> custom permissions</a>
      </p>
  </div>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-need-assistance">Need Assistance?</h4>
    <p nz-typography>
      <span i18n="@@guide.join-our">Join our</span>&nbsp;
      <a target="_blank"
         i18n="@@guide.slack-chaneel"
         href="https://join.slack.com/t/featbit/shared_invite/zt-1ew5e2vbb-x6Apan1xZOaYMnFzqZkGNQ">Slack Channel</a>&nbsp;
      <span i18n="@@guide.for-discussions">for discussions</span>
    </p>
    <p nz-typography>
      <a target="_blank"
         i18n="@@guide.open-an-issue-on-github"
         href="https://github.com/featbit/featbit">Open an issue on GitHub</a>
    </p>
  </div>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-premium-support">Premium Support</h4>
    <p nz-typography>
      <span i18n="@@guide.reach-us-on">Reach us on</span>&nbsp;
      <a target="_blank"
         href="https://join.slack.com/t/featbit/shared_invite/zt-1ew5e2vbb-x6Apan1xZOaYMnFzqZkGNQ">Slack</a>&nbsp;
      <span i18n="@@guide.or">or</span>&nbsp;
      <a target="_blank"
         href="mailto:featbit.master@gmail.com">Email</a>
    </p>
  </div>
</nz-card>
