.guide-body {
  .block {
    margin: 20px 0;

    .subtitle {
      margin: -12px 0 12px 0;
    }
    .btn-link {
      color: rgba(0, 0, 0, 0.85);
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid rgba(0, 0, 0, 0.39);
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

.guide-footer {
  display: flex;
  justify-content: flex-end;
  button {
    border-radius: 30px;
  }
}
