@import "variables";

.guide-body {
  .block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 24px 24px;

    &:not(:first-child) {
      border-top: 1px solid @grey40-color;
    }

    ul {
      list-style-type: decimal;
    }
  }
}
