<div class="guide-body">
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-documentation">Documentation</h4>

    <div>
      <span nz-typography>
        <a target="_blank" href="https://featbit.gitbook.io/docs/get-started/create-two-feature-flags" i18n="@@guide.get-started">Getting started</a>&nbsp;
        <span i18n="@@guide.with-quick-demo">with quick demo</span>
      </span>
      <ul>
        <li>
          <a target="_blank"
             i18n="@@guide.create-ff"
             href="https://featbit.gitbook.io/docs/get-started/create-two-feature-flags">
            Create feature flags for the demo
          </a>
        </li>
        <li>
          <a target="_blank"
             i18n="@@guide.try-interactive-demo"
             href="{{demoUrl}}">
            Try interactive with the demo
          </a>
        </li>
      </ul>
    </div>

    <span nz-typography>
      <span i18n="@@guide.deploy-featbit-with">Deploy FeatBit with</span>&nbsp;
      <a i18n="@@guide.docker-compose" target="_blank" href="https://docs.featbit.co/docs/installation/full-installation">Docker-Compose</a>&nbsp;
      <span i18n="@@guide.or-on">or on</span>&nbsp;
      <a target="_blank" i18n="@@guide.azure-web-app-services" href="https://www.featbit.co/blogs/Feature-Flag-Tool-in-Azure-App-Services">Azure Web App Services</a>
    </span>

    <span nz-typography>
      <span i18n="@@guide.view-docs-for-our">View docs for our</span>&nbsp;
      <a target="_blank" href="https://featbit.gitbook.io/docs/get-started/connect-an-sdk">SDKs</a>
    </span>

    <span nz-typography>
      <span i18n="@@guide.view-docs-for-our">View docs for our</span>&nbsp;
      <a i18n="@@guide.open-apis" target="_blank" href="https://docs.featbit.co/docs/api-docs/overview">Open APIs</a></span>

    <span nz-typography>
      <span i18n="@@guide.browser-the">Browse the</span>&nbsp;
      <a i18n="@@guide.experimentation-documentation" target="_blank" href="https://docs.featbit.co/docs/experimentation/understanding-experimentation">Experimentation Documentation</a></span>
  </div>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-invite-your-team">Invite Your Team</h4>
    <span nz-typography>
      <a target="_blank"
         i18n="@@guide.invite-team-members"
         href="https://docs.featbit.co/docs/iam/teams">Invite team members</a>&nbsp;
      <span i18n="@@guide.to-your-account">to your account</span>
    </span>
    <span nz-typography>
      <span i18n="@@guide.manage">Manage</span>&nbsp;
      <a target="_blank"
         i18n="@@guide.manage"
         href="https://docs.featbit.co/docs/iam/about">custom permissions</a>&nbsp;
      <span i18n="@@guide.for-your-team">for your team</span>
      </span>
  </div>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-need-assistance">Need Assistance?</h4>
    <span nz-typography>
      <span i18n="@@guide.join-our">Join our</span>&nbsp;
      <a target="_blank"
         i18n="@@guide.slack-chaneel"
         href="https://join.slack.com/t/featbit/shared_invite/zt-1ew5e2vbb-x6Apan1xZOaYMnFzqZkGNQ">Slack Channel</a>&nbsp;
      <span i18n="@@guide.for-discussions">for discussions</span>
    </span>
    <span nz-typography>
      <span i18n="@@guide.open-an-issue-on">Open an issue on</span>&nbsp;
      <a target="_blank"
         href="https://github.com/featbit/featbit">GitHub</a>
    </span>
  </div>
  <div class="block">
    <h4 nz-typography i18n="@@guide.guides-title-premium-support">Premium Support</h4>
    <span nz-typography>
      <span i18n="@@guide.reach-us-on">Reach us on</span>&nbsp;
      <a target="_blank"
         href="https://join.slack.com/t/featbit/shared_invite/zt-1ew5e2vbb-x6Apan1xZOaYMnFzqZkGNQ">Slack</a>&nbsp;
      <span i18n="@@guide.or">or</span>&nbsp;
      <a target="_blank"
         href="mailto:featbit.master@gmail.com">Email</a>
    </span>
  </div>
</div>
