@import "variables";

.test-app {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    div {
      text-align: center;
    }

    .flag-key {
      font-weight: 700;
    }
  }

  .steps-action {
    margin-top: 36px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    button.pre-btn {
      border: 1px solid @grey80-color;
      color: @grey80-color;
      background-color: @white;
    }
  }
}
