<div class="test-app">
  <nz-page-header>
    <nz-page-header-title i18n="@@get-started.validate-title">Test your application</nz-page-header-title>
    <nz-page-header-content>
      <div class="wrapper">
        <div class="title">
          <span  *ngIf="status === statusActive">
            <span i18n="@@get-started.listen-for-sdk-events">Listening for SDK live events for the flag:</span><span class="flag-key">{{flagKey}}</span>
          </span>
          <span i18n="@@get-started.listen-for-sdk-success" *ngIf="status === statusSuccess">Congratulations, your SDK is successfully set up.</span>
          <span i18n="@@get-started.listen-for-sdk-failure" *ngIf="status === statusException">We were not able to detect any events, please go back to the previous step and make sure you have initialized the SDK with correct options.</span>
        </div>

        <div>
          <nz-progress
            [nzWidth]="80"
            nzType="circle"
            [nzPercent]="normalizedProgress"
            [nzStatus]="status"
          ></nz-progress>
        </div>

        <div>
          <button nz-button nzType="primary" *ngIf="status === statusException" (click)="start()">
            <span i18n="@@common.retry">Retry</span>
          </button>
        </div>
      </div>
    </nz-page-header-content>
    <nz-page-header-extra>
      <nz-button-group>
        <button nz-button nzType="default" (click)="onPrev.emit()">
          <span nz-icon nzType="left"></span>
          <span i18n="@@common.prev">Prev</span>
        </button>
        <button nz-button nzType="default">
          <span i18n="@@common.start-journey" (click)="startJourney()">Start your journey</span>
        </button>
      </nz-button-group>
    </nz-page-header-extra>
  </nz-page-header>
</div>
