@import "variables";

.test-app {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    div {
      text-align: center;
    }

    .flag-key {
      font-weight: 700;
    }
  }
}

nz-button-group {
  button {
    border-radius: 8px !important;

    &:first-of-type {
      margin-right: 8px;
    }

    &:nth-child(2) {
      color: white;
      background-color: @primary-color;
    }
  }
}
