<div class="test-app">
  <nz-page-header>
    <nz-page-header-title>Test your SDK connection</nz-page-header-title>
    <nz-page-header-subtitle>
      Verify if your SDK is successfully set up.
    </nz-page-header-subtitle>
    <nz-page-header-content>
      <div class="wrapper">
        <div class="title">
          <ng-container *ngIf="status === statusActive">
            Listening for SDK live events for the flag <span class="flag-key">{{flagKey}}</span>.
          </ng-container>
          <ng-container *ngIf="status === statusSuccess">
            Congratulations, your SDK is successfully set up.
          </ng-container>
          <ng-container *ngIf="status === statusException">
            We were not able to detect any events, please go back to the previous step and make sure you have initialized the SDK with correct options.
          </ng-container>
        </div>

        <div>
          <nz-progress
            [nzWidth]="80"
            nzType="circle"
            [nzPercent]="normalizedProgress"
            [nzStatus]="status"
          ></nz-progress>
        </div>

        <div>
          <button nz-button nzType="primary" *ngIf="status === statusException" (click)="start()">
            <span i18n="@@common.retry-connection">Retry connection</span>
          </button>
        </div>
      </div>

      <div class="steps-action">
        <button class="pre-btn" nz-button nzType="primary" (click)="onPrev.emit()">
          <span i18n="@@common.prev">Prev</span>
        </button>
        <button nz-button nzType="primary" (click)="startJourney()">
          <span i18n="@@common.start-your-journey">Start your journey</span>
        </button>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</div>
